[2022-06-09 16:38] BenVillalobos commented on #7693
I'm not sure of a way to do this from VS, but a temporary workaround could be to set `MSBUILDDISABLENODEREUSE` to 1.

From a developer command prompt:
`set MSBUILDDISABLENODEREUSE=1`
`devenv <your-project>`

[2022-06-09 16:48] BenVillalobos commented on #7676
What target (if any) are you hooking this Remove into?

Also, the link to your custom build target doesn't work.

[2022-06-09 17:39] BenVillalobos commented on #7675
I poked around with this a bit and it looks like you can't get `ItemB`'s filename from within the call of `WithMetadataValue` like you're expecting here. I suspect this is directly related to the fact that an item function is being called at the same time that metadata from a different item is being used. Not 100% sure what's happening here. @rainersigwald might have an idea

https://docs.microsof

[2022-06-09 17:41] bouchraRekhadda commented on #7679
My bad. Thank you for your time, I'll close this then

[2022-06-09 17:41] #7679 closed

[2022-06-09 18:53] iskiselev opened #7694 "Static graph respect only first ProjectReference for same project"
### Issue Description
Only first ProjectReference for same project respected by isolated build.

### Steps to Reproduce
I try to play with static graph and isolated build using example from https://github.com/dotnet/msbuild/blob/main/documentation/specs/static-graph.md#examples

`Referenced\Referenced.csproj`:

[code]

`Referencing\Referencing.csproj`:

[code]

As example does not suggest steps to

[2022-06-09 20:43] iskiselev commented on #5159
Looks like same happens with WIX installer project: https://wixtoolset.org/
It also silently excluded from build when `-graph` mode used, unless it is referenced by some other project.

[2022-06-09 21:25] aolszowka commented on #5159
@iskiselev Yup and without the escape hatch (still unimplemented see #5931) you might be out of luck without that reference. For us we added the type on #5698 but that's not a great long term solution, maybe someone over in the WiX Project might be willing to submit a PR?

[2022-06-10 01:43] jianyexi commented on #7676
the target is before 'CoreCompile'
I put it here:
[code]

[2022-06-10 10:55] fivigh commented on #7088
Thanks, @Forgind! PR added.

[2022-06-10 16:09] dotMorten commented on #6325
But I do. Scenario: We have a solution filter that only opens the unit test projects. When opening project using this filter, I want to create a switch that uses nuget package references instead of project references, so that I can properly run my unit test with generated nuget packages, and also validate that these work correctly.

For example
[code]

This makes it super easy for anyone to just o

[2022-06-10 16:37] dotMorten commented on #6162
@Forgind Could this be reconsidered? From the sound of it, sounds like it was backed out because you didn't have the user stories to support it. So I'll start:

We have a solution filter that only opens the unit test projects. When opening project using this filter, I want to create a switch that uses nuget package references instead of project references, so that I can properly run my unit test w

[2022-06-10 17:43] ghogen opened #7697 "-targets command-line option doesn't work with solution file"
### Issue Description

-targets command-line option doesn't work when building a solution

### Steps to Reproduce

MSBuild.exe -targets SomeSolution.sln

### Expected Behavior
List the available targets in each project

### Actual Behavior

Builds the solution

### Versions & Configurations

Windows 10
MSBuild version 17.3.0-preview-22307-01+bfd80ab16 for .NET Framework

[2022-06-10 17:52] BenVillalobos commented on #7643
I tried the repro and see `OSError: [WinError 216] This version of %1 is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher`.  Using `--architecture arm64` works fine.

What version of windows are you on as you run this?

Other notes:

It installed the `-Version 7.0.100-preview.4.22227.3` sdk.

Windows version

[2022-06-11 18:12] KalleOlaviNiemitalo opened #7702 "SDK did not generate a binding redirection for System.Runtime.CompilerServices.Unsafe"
### Describe the bug

.NET SDK did not generate a binding redirection for System.Runtime.CompilerServices.Unsafe, in a project that targets .NET Framework 4.7.2 and references Microsoft.Extensions.Primitives 2.1.6.

### To Reproduce

Unify.csproj:

[code]

Program.cs:

[code]

### Exceptions (if any)

[code]

### Further technical details

Microsoft.Extensions.Primitives/2.1.6 is the latest versio

[2022-06-12 19:02] #7566 closed

[2022-06-13 14:21] gcerik commented on #7643
@BenVillalobos I had this issue on a Raspberry PI - with Raspberry OS 32 bit installed with the 64 bit kernel

[2022-06-13 17:12] tmeschter commented on #2393
Is there a reason we can't just modify Microsoft.Common.CurrentVersion.targets to _add_ to `PrepareForRunsDependsOn` rather than replacing it?

[code]

[2022-06-14 09:36] Bosch-Eli-Black opened #7709 "VS doesn't support MSBuild <CopyLocalLockFileAssemblies> property"

[2022-06-14 09:36] Bosch-Eli-Black opened #7710 "VS doesn't support MSBuild <CopyLocalLockFileAssemblies> property"

[2022-06-14 09:39] Bosch-Eli-Black commented on #7640
Opened a Roslyn issue for supporting `CopyLocalLockFileAssemblies` in VS: https://github.com/dotnet/roslyn/issues/61878

[2022-06-14 15:00] deeprobin opened #7700 "Replace legacy MSBuild brand with some fancy vector graphic"
The logo which was initiated by @terrajobst to my knowledge once is not bad, but the resolution and the design is in my opinion no longer up to date.

What do you think about creating a more modern logo? Personally, I am not a graphic designer, but I would like to see a logo in a modern flat style (maybe in a color similar to the .NET Foundation logo).

[2022-06-15 04:34] terrajobst commented on #7700
I built the larger 256x256 version of the icon in Photoshop by overlaying the low res version of the icon embedded in msbuild.exe. In principle one could redo this with, say, Inksape, as an SVG as well.

[2022-06-15 05:59] WenJunJi01 opened #7705 "[WINARM][Regression] Fail to run the command – & “C:\Program Files (x86)\dotnet\dotnet.exe" test --framework net7.0 --diag:loga.txt"

[2022-06-15 14:05] baronfel commented on #7705
@BenVillalobos can you check this since it's ARM related? It looks like the property function is blowing up?

[2022-06-15 16:22] #7088 closed

[2022-06-15 18:24] BenVillalobos commented on #7697
Agreed, I had to dig into a metaproj with vs code to understand it more, and even then it wasn't easy to parse.

[2022-06-15 21:47] rainersigwald commented on #7709
@jmarolf this is a Roslyn issue, but I learned offline that it's deliberate: analyzer dependencies don't follow the usual .NET assembly load rules, in an effort to improve incremental build behavior. Without knowing that, in #7640 we suggested setting the property that would make the usual load behavior work.

[2022-06-15 21:49] teo-tsirpanis commented on #7700
One place the logo is featured is in the Visual Studio distribution of MSBuild.

![image](https://user-images.githubusercontent.com/12659251/173935174-55a6b9e7-370c-4c11-be01-65fd752ef36a.png)

Making it an SVG would be a nice addition and enable displaying the icon in more resolutions.

It might be inconsitent with other .NET/VS icons but I personally find it quite good on its own.

[2022-06-15 21:53] sebastienros commented on #7705
I have the same error with SDK `7.0.100-preview.6.22306.1` but not with SDK `7.0.100-preview.6.22302.2`

[2022-06-15 22:16] terrajobst commented on #7700
Not quite. I based my version of the low res version contained in msbuild.exe; the embedded icon maxes out at 32x32. However, someone could add my 256x256 version (and maybe even a downscaled 128x, 64x, and 48x, for good measure).

You mean in this repo? File icons can't be SVGs AFAIK.

Agreed.

[2022-06-15 22:19] teo-tsirpanis commented on #7700
Yes but it would make creating a multi-res `.ico` file more easy.

[2022-06-15 22:59] BenVillalobos commented on #7705
This is high pri on my radar. Looks like it should be an easy repro

[2022-06-15 23:33] Forgind commented on #6150
Looking at this briefly, it sounds like we're saying we should treat UAP the same as "windows" as far as this check is concerned, right? So it is reasonable to just specialcase UAP for the check BenVillalobos mentioned and add  ` && (!String.Equals("UAP", TargetPlatform) || !String.Equals(targetPlatformIdentifier, "Windows"))`? Potentially with an OrdinalIgnoreCase comparator mixed in.

[2022-06-15 23:42] Forgind commented on #7702
Small note for reproducing this:
Build passes. Running Unify.exe afterwards (no arguments) failed.

[2022-06-16 00:38] Forgind commented on #7702
I _think_ this is secretly a problem with Microsoft.Extensions.Primitives and not with MSBuild? I was trying to debug into this, and it appears we're finding that Microsoft.Extensions.Primitives has no dependencies...because it's externally resolved, and the external resolution claimed there were no dependencies. I don't know what external thing claimed that it has no dependencies, but that sounds

[2022-06-16 02:50] baronfel commented on #7702
Can you clarify what you mean by 'externally resolved'? I think that has a precise meaning here that I don't want to infer.

What would we need to discover in order to point to the authoring of that package as incorrect?

[2022-06-16 03:58] tannergooding opened #7711 "MSBuild no longer "just works" with solutions targeting `Any CPU`"
### Issue Description

Starting with .NET 7 Preview 5, attempting to run `dotnet build` for a solution that has a `Debug|Any CPU` configuration no longer works.

### Steps to Reproduce
1. Clone https://github.com/terrafx/terrafx.interop.windows
2. Run `dotnet build`

### Expected Behavior

The build completes succesfully.

### Actual Behavior

[code]

### Analysis

Possibly related to https://gith

[2022-06-16 04:13] KalleOlaviNiemitalo commented on #7702
The System.Memory 4.0.1.0 assembly references System.Runtime.CompilerServices.Unsafe 4.0.4.0. Do you mean something other than that?

[2022-06-16 04:29] KalleOlaviNiemitalo commented on #7702
The log I posted shows that the ResolveAssemblyReferences task did already set FindDependenciesOfExternallyResolvedReferences=true.

<https://github.com/dotnet/msbuild/blob/41abc5629965e3f9e41f1e67fdf78345c0c5cc4b/src/Tasks/Microsoft.Common.CurrentVersion.targets#L2292-L2300>

[2022-06-16 06:43] KalleOlaviNiemitalo commented on #7702
MSBuild log section for the [ResolvePackageAssets target in Microsoft.PackageDependencyResolution.targets](https://github.com/dotnet/sdk/blob/ac00abef032d4d576a844d7f1287119a9d20166e/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.PackageDependencyResolution.targets#L231-L310):

[code]

The [ResolveLockFileRefences target in Microsoft.PackageDependencyResolution.targets](https://github.com/d

[2022-06-16 16:10] #7700 closed, assigned to nobody

[2022-06-16 16:26] rainersigwald commented on #7693
Team triage: we don't plan to do this, because we're planning to fix the underlying issue #6461. For now, setting that environment variable is probably your best bet.

[2022-06-16 16:26] #7693 closed

[2022-06-16 16:29] rainersigwald commented on #7682
This is an intentional design of the `Exec` task. You can set its parameter [`IgnoreStandardErrorWarningFormat`](https://docs.microsoft.com/visualstudio/msbuild/exec-task) to avoid the behavior, or set `CustomErrorRegularExpression` to be specific to your tool.

[2022-06-16 16:29] #7682 closed

[2022-06-16 16:53] rainersigwald commented on #6325
It is often very tempting! But it creates a lot of room for error. Here, I would worry about incremental build problems related to the switch between NuGet and project references that would be very difficult to track down. If this were the only possible way to use the information I might be tempted to think it wasn't terrible, but it's easy to create worse situations using the filter name, so I pr

[2022-06-16 16:58] rainersigwald commented on #7671
Team triage: Nice analysis! We would accept a new argument to the task that passes a bool down to that call.

[2022-06-16 17:15] #7684 closed

[2022-06-16 17:18] #7647 closed

[2022-06-16 17:54] Forgind commented on #7702
Ok, so this is the biggest source of my confusion. Looking at System.Memory, 4.0.1.0 in ilspy, it claims to reference S.R.CS.U 4.0.4.1:
<img width="537" alt="image" src="https://user-images.githubusercontent.com/12969783/174134409-1d3f1958-81c2-47bb-ab61-bc4fdbfe0379.png">
Looking in NuGet package explorer agrees:
<img width="650" alt="image" src="https://user-images.githubusercontent.com/12969783

[2022-06-16 18:12] KalleOlaviNiemitalo commented on #7702
System.Memory/4.5.0 contains `lib/netstandard2.0/System.Memory.dll` assembly version 4.0.1.0 and references System.Runtime.CompilerServices.Unsafe 4.0.4.0.

System.Memory/4.5.1 contains `lib/netstandard2.0/System.Memory.dll` assembly version 4.0.1.0 and references System.Runtime.CompilerServices.Unsafe 4.0.4.0.

System.Memory/4.5.2 I don't have on this computer, so it should not affect the build.

[2022-06-16 18:31] Forgind commented on #7702
4.5.2 is the one that's version 4.0.1.0 but references 4.0.4.1.

I turned on fusion logging for the build:
<img width="290" alt="image" src="https://user-images.githubusercontent.com/12969783/174140772-e99c1e9c-36fe-4bd9-ba57-821d14f90747.png">
so it doesn't seem to be even looking for 4.0.1.0, but it does look for two other System.Memory versions. Not sure why it's interested in 4.0.1.2.

[2022-06-16 18:42] Forgind commented on #7702
I think it downloads a version of System.Memory if necessary? From the fusion log again:
`LOG: Attempting download of new URL file:///C:/Users/forgind/Desktop/Archives/Bug-specific/7702/bin/Debug/net472/System.Memory.DLL.`

I tried calling Assembly.LoadFrom on that, and it returned System.Memory, version=6.0.0.0. No idea where that came from.

[2022-06-16 18:48] KalleOlaviNiemitalo commented on #7702
Do you mean the System.Memory assembly used by MSBuild itself is interfering with ResolveAssemblyReference?

[2022-06-16 18:52] Forgind commented on #7702
I don't think that's the problem. The 4.0.1.2 version didn't interfere with loading the 4.0.1.1 version, and I think the 6.0.0.0 thing is a lie, and it's really 4.0.1.0.

[2022-06-16 19:21] Forgind commented on #7702
I traced this a bit further. ReferenceTable.FindAssociatedFiles calls something called FindDependenciesAndScatterFiles on the System.Memory 4.5.1 reference. That calls GetUnifiedAssemblyMetadata, which eventually calls AssemblyInformation.GetAssemblyMetadata and uses that to extract dependencies. That tries to make a temporary AssemblyInformation object. That makes a lot of native calls I don't un

[2022-06-16 19:39] KalleOlaviNiemitalo commented on #7702
This issue also reproduces with `dotnet build` of .NET SDK 6.0.301. In that, I assume AssemblyInformation is built with FEATURE_ASSEMBLYLOADCONTEXT and does not use IMetaDataDispenser.

What is the path of the System.Memory.dll file that it examines?

[2022-06-16 19:46] Forgind commented on #7702
C:\Program Files\dotnet\sdk\NuGetFallbackFolder\system.memory\4.5.1\ref\netstandard2.0\System.Memory.dll

[2022-06-16 20:15] KalleOlaviNiemitalo commented on #7702
The later package versions System.Memory/4.5.2, System.Memory/4.5.3, System.Memory/4.5.4, and System.Memory/4.5.5 do not contain any reference assemblies; only an empty `ref\netcoreapp2.1\_._` file. System.Memory/4.5.2 was built from <https://github.com/dotnet/corefx/tree/99ce22c306b07f99ddae60f443d23a983ae78f7b/src/System.Memory> and there was a related pull request… <https://github.com/dotnet/co

[2022-06-16 20:17] baronfel commented on #7702
It's due to the difference in assets between compile time and runtime assets. If you look in a project.assets.json for a project, you'll see that dependencies for that project have difference categories of assets:

[code]

During compile time, any "compile" assets are passed to the compiler. For assemblies that provide ref assemblies the `ref` assemblies are the "compile" assets. The "runtime" ass

[2022-06-16 20:18] Forgind commented on #7702
I verified that if you use the lib/ version with the correct list of dependencies, Unify.exe works!

[2022-06-16 20:20] baronfel commented on #7702
@KalleOlaviNiemitalo based on the last comment in dotnet/sdk#2547, is it possible to update to a more recent version of the triggering dependency?

[2022-06-16 20:21] KalleOlaviNiemitalo commented on #7702
Yes, I can update.
This feels like quite a trap though, something that I will have to consider if I make NuGet packages that include reference assemblies.

[2022-06-16 20:25] baronfel commented on #7702
I'm inclined to agree - it was very surprising to me to read the logic behind not exposing the runtime dependencies in ref assemblies. I don't suppose dropping the full framework support you have is an option either? (mostly kidding)

[2022-06-16 20:34] KalleOlaviNiemitalo commented on #7702
<https://github.com/dotnet/roslyn/blob/e4d1ce6e8a244f68ac87929b0a1c09c6c39b4cdb/docs/features/refout.md> says it's by design that reference assemblies don't include all the references. Well then, I think it's a mistake that the ResolveAssemblyReferences target looks at metadata of reference assemblies when it is asked to suggest binding redirections.

[2022-06-16 21:33] Forgind commented on #7656
No surprise, but this is more specific than just SDK-style/not SDK-style:
[code]

when the project is:
[code]

(With it having TreatAsLocalProperty="Thing" for the first case.)

[2022-06-16 21:41] Forgind commented on #7656
@stpatrick2016,
Can you provide a more detailed repro for this? Does it work in a recent version of MSBuild or only 2017? Were you setting OutDir in the entrypoint project? Were you importing it? Where did you check if its value had been overridden properly? I'm assuming you were building with VS, correct? Does it also repro for you from the command line?

[2022-06-16 22:05] BenVillalobos commented on #7705
Notes from investigating
---
This is a heck of a bug. There's something going on with that x86 dotnet install. I could repro this issue, and discovered a fatal error in the process. Both issues only repro in that x86 dotnet install.

Here's a stack trace I got from the repro:

[code]

I think there's a larger issue here WRT x86 dotnet on arm64 machines. I haven't tested this on a non-arm64 machine

[2022-06-16 22:10] rainersigwald commented on #7705
@BenVillalobos drive-by question: have you tried with a 6.0.400-preview SDK that has the latest MSBuild bits in it? some of that looks like it might be a runtime problem.

[2022-06-16 22:20] BenVillalobos commented on #7705
After installing `6.0.400-preview.22316.6` the issue...disappeared 😐

[2022-06-17 07:19] NMertsch opened #7713 "Documentation: Contribution guidelines not clear about CLA signing process"
## What I wanted to do
Submit a PR to MSBuild.

## What I did
I read the [MSBuild Contributing Code](https://github.com/dotnet/msbuild/blob/3db83fdeb160404917b6bd3f4dd9e62338539a48/documentation/wiki/Contributing-Code.md) documentation.

## The problem
That document states

I interpret this as "before you submit a PR, complete the CLA signing process". But "the form" is plain text, so I don't know

[2022-06-17 10:30] KalleOlaviNiemitalo commented on #7702
Should this be closed as a duplicate of <https://github.com/dotnet/sdk/issues/2547>, or is there some fix that can be done at the MSBuild side? The ResolveAssemblyReferences target and the ResolveAssemblyReference task are defined in this repo.

[2022-06-17 16:43] Forgind commented on #7702
That sounds correct to me. It doesn't sound like this was originally designed in what I would think is the most intuitive way, but that ship has sailed, so I don't think we can change that. Working within that structure, RAR is doing what is correct, so I don't think it should be changed.

[2022-06-17 16:44] Forgind commented on #7702
Duplicate of dotnet/sdk#2547

[2022-06-17 16:44] #7702 closed

[2022-06-17 20:38] BenVillalobos commented on #7705
Currently discussing this internally, but it looks like an issue with the runtime.

[2022-06-17 22:26] JVimes opened #7714 "Unexpected duplicate items"
### Issue Description

In the Dependency target below, OutFiles is what I expect. But its content is duplicated when accessed in the Primary target.

The issue goes away if I remove the `Input` and `Output` attributes.

_Issue.targets:_

[code]

_Output:_

[code]

### Steps to Reproduce

Here's a working example, since it may depend on file time stamps:
[MSBuildIssue.zip](https://github.com/dotnet

[2022-06-18 00:51] shadyalfred commented on #7671
Are the parameters specified in the `.csproj` file automatically mapped to the `XslTransformation` class? Because I couldn't find how they're read, except in the test files where the properties of `XslTransformation` are manually assigned. Am I correct in guessing that only adding a boolean property (which changes the behavior of `XPathDocument`) to `XslTransformation` is enough? However, adding a

[2022-06-19 17:20] MikeSchulze opened #7718 "dotnet build does not find the latest package according to a matching pattern"
### Issue Description
At first mybe i'm wrong but from official documentation it looks like a bug and is not working as described.
https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

I want to use beta packages in my project included by a pattern to get the latest package
The package is build by this config
`    <PackageVersion>2.3.0-beta.$([System.DateTime

[2022-06-19 19:02] #7600 closed

[2022-06-20 14:42] #7718 closed

[2022-06-20 14:53] rainersigwald commented on #7671
That's correct; there is some [documentation on task invocation](https://docs.microsoft.com/visualstudio/msbuild/task-writing?view=vs-2022#how-msbuild-invokes-a-task) and if you want the details you might be interested in [`TaskExecutionHost.SetTaskParameters`](https://github.com/dotnet/msbuild/blob/3db83fdeb160404917b6bd3f4dd9e62338539a48/src/Build/BackEnd/TaskExecutionHost/TaskExecutionHost.cs#L

[2022-06-21 03:23] WenJunJi01 opened #7721 "[WINARM][Regression] Hangs when running the command – Hangs when running the command - &"C:\Program Files\dotnet\x64\dotnet.exe" test."
**Note:**
1.It’s regression issue. It doesn’t repro on dotnet-sdk-7.0.100-preview.5.22225.1-win-arm64.
2. Repro VM: vsengarmsfx041

**Builds info:**
dotnet-runtime-3.1.22-win-x64
dotnet-sdk-6.0.301-win-x64
dotnet-sdk-7.0.100-preview.6.22316.8-win-arm64
dotnet-sdk-7.0.100-preview.6.22316.8-win-x64
dotnet-sdk-7.0.100-preview.6.22316.8-win-x86

**Build Link:**
https://aka.ms/dotnet/7.0.1xx/daily/dotn

[2022-06-21 21:48] BenVillalobos commented on #7705
Transferring to runtime for triage.

[2022-06-22 16:14] uweigand opened #7729 "Build on s390x now fails with System.PlatformNotSupportedException"
### Issue Description

As of .NET7 preview5, attempting to use msbuild on an linux-s390x host now fails with:
[code]

### Steps to Reproduce

To reproduce, you need a dotnet SDK hosted natively on linux-s390x.  While this is not a platform supported by Microsoft and there are no pre-built binaries, it is a community-supported platform in the runtime and other packages, and we are able to build a n

[2022-06-22 16:23] uweigand commented on #7729
Small update: I just noticed that the problem already appears with preview4 as well.  preview3 still works.

[2022-06-22 16:23] rainersigwald commented on #7729
I lean toward the latter on .NET Core at least for the case where we're just launching "another of the same". We can't have, for example, an x64 taskhost on S390x, but that's not likely to be relevant in most cases.

@BenVillalobos what do you think?

[2022-06-22 19:30] JVimes opened #7730 "RoslynCodeTaskFactory doesn't support code fragment in separate file"
### Issue Description

Code fragments in a separate file (as opposed to inline) work in CodeTaskFactory and based on the docs I expect them to work in RoslynCodeTaskFactory. But RoslynCodeTaskFactory fails to wrap the fragment in a Microsoft.Build.Utilities.Task, resulting in:

The [docs](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-roslyncodetaskfactory?view=vs-2022#code-element)

[2022-06-22 19:35] #7612 closed

[2022-06-22 20:54] BenVillalobos commented on #7729
Created https://github.com/dotnet/msbuild/pull/7731 to fall back to the original logic.

[2022-06-23 03:04] MarkKharitonov opened #7732 "Redundant recompilation of source code due to file path case sensitivity."
### Issue Description
It is very easy to trigger redundant recompilation of the source code **on Windows**.

### Steps to Reproduce

1. mkdir c:\temp\bug
2. dotnet new classlib
3. dotnet build -bl:1.binlog
4. dotnet build -bl:2.binlog
5. cd ..\Bug
6. dotnet build -bl:3.binlog

Now examine the binary logs:

- 1.binlog indicates the Csc task was run - as expected.
- 2.binlog indicates the Csc task w

[2022-06-23 05:46] MarkKharitonov commented on #7732
I use Windows Powershell. It does **not** normalize. Have just checked - PS Core and cmd normalize.

But the bug can be easily reproduced in these shells as well:

1. dotnet new classlib
2. dotnet build C:\Temp\bug\bug.csproj -bl:1.binlog
3. dotnet build C:\Temp\bug\bug.csproj -bl:2.binlog
4. dotnet build C:\Temp\Bug\bug.csproj -bl:3.binlog

All you have to do is pass the sln file explicitly with

[2022-06-23 16:19] uweigand commented on #7729
Thanks!   I've re-build my s390x dotnet SDK (.NET7 preview4) with the above patch included, and this does fix the problem for me.  The resulting msbuild is once again able to sucessfully complete a native build of the full dotnet runtime repo on s390x.

[2022-06-23 16:20] BenVillalobos opened #7734 "XamlTaskFactory fails on arm64 because the dll's aren't present in the arm64 folder"
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1555164

From original bug:
[code]

### Issue Description
We tried to keep arm64 MSBuild assemblies out of the `arm64/` folder if possible. The reason being that any assembly in `bin/` `arm64/` and `amd64` are `AnyCPU` binaries anyway. Our solution was to set a `BindingRedirect` in `MSBuild.exe.config` so that the assemblies could **primarily*

[2022-06-23 16:33] rainersigwald commented on #7714
Team triage: this is a super weird bug with a great repro, thank you!

It looks like you can work around by specifying

[code]

but we're not totally sure why yet.

We initially thought that something was erroneously causing MSBuild to interpret the item transform expression in your `Outputs` as a batch operation, so the entire target was running for each `InFiles` item. But that's not the case; t

[2022-06-23 16:38] rainersigwald commented on #7730
Nice bug report @JVimes, nice find @KalleOlaviNiemitalo.

Team triage: that looks broken! Marking for the backlog and up-for-grabs; we would happily accept a fix.

[2022-06-23 16:46] rainersigwald commented on #7732
The `GenerateMSBuildEditorConfig` task lives in Roslyn, so moving there.

Canonicalizing all paths can be surprisingly expensive, but since this gets written to a file on disk I think it makes sense in this case.

[2022-06-23 18:32] #7729 closed, assigned to nobody

[2022-06-23 18:53] BenVillalobos commented on #7734
I think it boils down to this line:
https://github.com/dotnet/msbuild/blob/486a4599f4a5bb91c2a834745077532ec5268600/src/Tasks/XamlTaskFactory/XamlTaskFactory.cs#L116

Which searches for "current" all the way down until:

https://github.com/dotnet/msbuild/blob/486a4599f4a5bb91c2a834745077532ec5268600/src/Shared/FrameworkLocationHelper.cs#L1036-L1044

Which should default to the current msbuild.exe

[2022-06-23 19:05] #7622 closed

[2022-06-23 19:39] #7713 closed

[2022-06-23 19:40] #7651 closed

[2022-06-24 01:03] rakitaj opened #7739 "While debugging "Duplicate 'PackageDownload' items found." MSBuild throws "Unhandled Exception: Microsoft.Build.Framework.InternalErrorException""
### Issue Description
When attempting to msbuild /t:SlnGen dirs.proj for my repo I’m getting an error about duplicate PackageDownload items that look like they’re the .Net Core SDK packages? I’m trying to get more info and used the /pp:out.xml switch. When that didn’t help, I figured I would get the diagnostic verbosity logs. That’s when I ran the command below and MSBuild crashed.

I don't _think

[2022-06-24 10:51] snhg commented on #5132
Any update on this issue... ?

[2022-06-24 13:44] rainersigwald commented on #7739
I believe this will be fixed in the next .NET SDK preview (which will ship with the next VS preview). There are some workarounds at https://github.com/dotnet/sdk/issues/24747#issuecomment-1126298533.

[2022-06-24 13:44] #7739 closed

[2022-06-24 23:09] arkalyanms opened #7743 "Property check for IsGlobalProperty and IsEnvironmentProperty creates a copy of GlobalPropertiesDictionary for every call"
### Issue Description
There are a few scenarios on the project system side that iterates over a property collection to check IsEnvironmentProperty and IsGlobalProperty. Inside msbuild, that checks _project.GlobalProperties.ContainsKey(name). project.GlobalProperties creates a new dictionary from GlobalPropertiesDictionary on every call. This gets expensive in operations that iterate over a collect

[2022-06-27 09:06] rokonec commented on #7562
@rainersigwald I do not recall why Ladi preferred version 1.0.0
Maybe he plan to be used outside of internal .NET build as it is generic tool.

[2022-06-27 11:23] rokonec commented on #460
I am assigning this to myself, as this seems to be related to memory leak I have fixed for MSBuild server.
There is slight chance it has been fixed by this. I will try to repro it after we merge MSBuild server.

[2022-06-27 14:21] ww898 opened #7747 ".NET 6.0.6: DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1 doesn't work any more"
Windows x64 .NET SDK 6.0.301. Languages: en-us, de-de, ru-ru. `DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1` doesn't work any more.

`sample.cmd`:
[code]

Console output:
[code]

[2022-06-27 15:12] Forgind opened #7748 "Consider an ARM64 leg for CI"

[2022-06-27 15:45] Forgind opened #7749 "Release 17.3"
- [x] When VS main snaps to `17.4`, create `vs17.3` branch
- [x] Create darc channel for `VS 17.4` if it doesn't already exist \
`darc add-channel --name "VS 17.4"`
- [x] Ping internal "First Responders" Teams channel to get the new channel made available as a promotion target
- [x] Associate the next release branch with the next release channel \
`darc add-default-channel  --channel "VS 17.4" --b

[2022-06-27 23:20] MarkKharitonov opened #7800 "Why the very first design time build after switching from console to VS IDE changes the *.csproj.AssemblyReference.cache files?"
## Visual Studio Version
17.1.3

## Summary
I check the *.csproj.AssemblyReference.cache files after console msbuild and after the first design time build in VS IDE. They are different even though nothing has changed. Note that consecutive msbuild runs or regular builds in VS IDE do not change them. Only after switching from the console build to a new VS IDE instance that runs the first design tim

[2022-06-28 00:45] boczar commented on #5094
2.5 years later - I'm having problems with this too. No matter where or how I use either /preprocess:out.txt or -pp:out.txt it just builds the solution for me. I'm manually running msbuild from the developer VS2022 prompt:

Microsoft (R) Build Engine version 17.2.1+52cd2da31 for .NET Framework
Copyright (C) Microsoft Corporation. All rights reserved.

17.2.1.25201

[2022-06-28 01:53] AraHaan commented on #5113
it should be able to work in the item functions if you special case for when the lists are empty.

[2022-06-28 04:21] MarkKharitonov opened #7752 "[REGRESSION] After upgrading to VS 17.2.5 the MSBuildDebugEngine environment variable is no longer respected."
## Visual Studio Version
17.2.5

## Summary
Setting MSBuildDebugEngine and MSBUILDDEBUGPATH does not produce the same effect as in VS 17.1.x, namely no binary logs no text files are produced at all.

## Steps to Reproduce

1. Set the aforementioned env variables
2. Open devenv from the console where the env is updated.
3. Build a project

## Expected Behavior
Binary logs and some text files are pr

[2022-06-28 12:42] Nirmal4G commented on #2308
VC Team should update their targets to remove usages of `IntermediateOutputPath`! This property is no longer present in Common props. The `BaseIntermediateOutputPath` is in Common props but I'm proposing to it move it into targets and replace it with a common `BuildDir` since we already have a `PublishDir` (_should be promoted to top-level folder instead!_). This will be a breaking change but one

[2022-06-28 17:36] #7562 closed

[2022-06-28 20:02] rainersigwald commented on #2916
@Zastai TaskHostFactory has been in MSBuild since version 4.something (Visual Studio 2012). It was enabled for .NET (Core) SDK dotnet/msbuild#6994 for MSBuild 17.1/.NET SDK 6.0.200.

No, I don't think so.

There's `$(MSBuildNodeCount)`.

Indeed, that's strongly preferred when testing for Windows features and I see no reason not to do it (other than "we could spend that time doing something else" w

[2022-06-28 20:05] Zastai commented on #2916
Right, so either msbuild type 'Full', or 'Core' with version >= 17.1. Will have to investigate when Mono MSBuild got it.
Doable, if not very nice. Will file an issue for the feature test.

[2022-06-28 20:13] Zastai commented on #2916
Small separate question: is there an MSBuild.exe equivalent of `dotnet build-server shutdown` (which I assume finds and terminates all applicable nodes)?

[2022-06-28 20:21] Zastai opened #7754 "Feature Request: feature-test function"
See also #2916

MSBuild.exe has supported `TaskHostFactory` since VS2012, but support only landed in the .NET SDK in version 17.1 (6.0.200).

It is possible to write a condition to test for both cases, including making use of a version comparison (assuming that's supported in older VS/SDKs).

However, it would be _far_ more convenient (and far less brittle) to have a property function available to

[2022-06-28 20:22] rainersigwald commented on #2916
There is no `msbuild.exe` equivalent command-line call to the API that does that (today).

[2022-06-28 20:27] baronfel commented on #2916
Having said that, I would like to hook MSBuild up to that command when we complete the new MSBuild Server Daemon work and get that incorporated into the SDK.

[2022-06-28 20:28] rainersigwald commented on #2916
MSBuild-on-Core is already hooked up to `dotnet build-server shutdown`, but there's no alternative to `taskkill /f /im msbuild.exe` for MSBuild-on-Framework.

[2022-06-28 20:38] #6461 closed

[2022-06-28 22:13] kasperk81 opened #7757 "msbuild does not "recover" from slowdowns"
when i build runtime libraries, after quickly building 50 or so libraries, msbuild slows down and doesn't recover the speed it initially possessed for rest of the build.

reproduction steps:

[code]

[2022-06-29 00:55] jrdodds commented on #7576
@Forgind I tried to capture traces but it didn't seem to work and I haven't had an opportunity to investigate.

I found the gist [Debugging Node Communication in MSBuild](https://gist.github.com/BenVillalobos/85aa750daa7017791a3e3fdd6746934d) but I think I need more detail. Is there another article or tutorial or document that explains how to use `MSBUILDDEBUGCOMM` and `MSBUILDDEBUGPATH`?

Thanks

[2022-06-29 13:02] #7372 closed

[2022-06-29 13:02] #7374 closed

[2022-06-29 13:03] #7373 closed

[2022-06-29 13:03] #7496 closed

[2022-06-29 13:03] #7658 closed

[2022-06-29 14:12] Nirmal4G commented on #7714
Try

[code]

We can rule out globbing if this also produces similar output!

Also, I only have `v17.2.5` and this doesn't happen on that version so something must have changed in-between!

[2022-06-29 14:24] rainersigwald commented on #7714
I repro on 17.2:

[code]

And older:

[code]

[2022-06-29 14:49] Nirmal4G commented on #7714
With `<OutFiles Include="@(InFiles->'%(FileName).out')" />`, it produces

[code]
Is this expected output?

---

By directly specifying the file, it also duplicates the items:

[code]

When I included the extra item, as expected with your repro, it also duplicates further.

[code]

So, I think no globbing is involved!

[2022-06-29 17:54] AArnott opened #7760 "Platform Negotiation fails between two projects that offer the same platform"
### Issue Description

When library A references library B, and both support arm64 as a platform, building library A for arm64 should also build library B for arm64. But instead, library B builds for AnyCPU.

### Steps to Reproduce

Check out this minimal repro:

[platformnegotiation.zip](https://github.com/dotnet/msbuild/files/9012888/platformnegotiation.zip)

Run `dotnet build lib2 /p:platform=a

[2022-06-29 18:56] psollberger commented on #7300
I'm a bit late but perhaps this is useful to someone.

 `CustomBeforeMicrosoftCommonProps`, `CustomBeforeMicrosoftCommonTargets`, `CustomAfterMicrosoftCommonProps` and `CustomAfterMicrosoftCommonTargets` can be of good use as well.

See: https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2022#customize-all-net-builds

[2022-06-29 20:09] dannoe commented on #4955
I got the same problem, but I found a fix/workaround:

I tried to compile my app inside a docker mounted folder (via ``-v local:remote``). I copied the code to a local folder and run it again. It didn't lock any files inside the docker container.

[2022-06-29 21:50] Forgind commented on #7576
@BenVillalobos, that gist could do with some expansion 😉

Just for context, in several methods involved in node communication such as NodeProviderOutOfProcBase.GetNodes or NodeEndpointOutOfProcBase.PacketPumpProc, we call CommunicationUtilities.Trace. That method checks MSBUILDDEBUGCOMM (as cached in Traits) and chooses to log if it is 1. It logs it to MSBUILDDEBUGPATH if it is set and otherwise f

[2022-06-30 06:51] broomfn commented on #2570
+1 experiencing the same issue @NikitaGolovko did you manage to work around the issue?

[2022-06-30 15:03] dfederm opened #7762 "[Project Cache] Internal error when sln file isn't saved"
### Issue Description
In VS, the build fails without any particular error message in some scenario.

### Steps to Reproduce
Repro:
1. Have a CSPROJ without SLN
2. Open CSPROJ
3. Build

### Expected Behavior
No errors

### Actual Behavior
Build fails.

Exception when debugging:
[code]

### Analysis
This seems related to the experimental Project Cache feature

### Versions & Configurations
17.2, but

[2022-06-30 15:10] dfederm opened #7763 "SDK Resolver fails to resolve Microsoft.NET.Sdk.WindowsDesktop intermittently when performing a graph build"
### Issue Description
The SDK resolver seems to intermittently fail when performing a graph build.

### Steps to Reproduce
`msbuild /graph`

### Expected Behavior
A successful build

### Actual Behavior
Intermittently,

[code]

### Analysis
This error happens in an internal repo somewhat consistently. Ping me over Teams for details.

Note that this happens in an Azure Pipeline and after a "Use .NE

[2022-06-30 16:26] benvillalobos opened #7764 "Create an arm64 CI leg"
[code]

This is probably for the best in the long run.

[2022-06-30 17:04] Forgind commented on #7764
I brought this up recently. Sounds like it's too expensive in the immediate future.

[2022-06-30 21:56] JVimes opened #7769 "Seeking Up-to-date Check that uses dynamic path"
For my target I'm trying to support [Up-to-date Check][1]. I'm using a dynamic value (of sorts) for the Include attribute on UpToDateCheckBuilt.

Below is what I have. It copies _in.txt_ to _out.txt_ at a variation of OutputPath (for example bin\Debug\net6.0<i><b>-custom</b></i>\out.txt). But Up-to-date Check doesn't detect changes, I believe because CustomOutput isn't defined when UpToDateCheckBu

[2022-06-30 23:11] Rabadash8820 commented on #1940
@lecaillon Is this issue still occurring with newer versions of .NET Standard (or .NET 6)? If not, might be worth closing this issue...

[2022-06-30 23:42] #1940 closed

[2022-07-01 02:48] Forgind opened #7771 "Roslyn analyzer for adding new public API to the unshipped.txt files only adds it to one"
Pretty much as the title says. If you use the "autofix" thing in VS, it only adds it to one of the public api buckets instead of both. This might be on roslyn, but I'm guessing we configure what files exactly it adds it to? So I figured I'd start here.

[2022-07-01 14:20] rainersigwald commented on #7455
The first round of auto-suggestions weren't very good, so I've been trying to label stuff in the hopes that another round of training will help.

[2022-07-01 14:49] rainersigwald opened #7775 "Prepare for .NET SDK 7.0.100"
- [ ] #7776
- [x] #7777
- [ ] Figure out the story for `AssemblyName` deprecations in .NET 7

[2022-07-01 14:49] rainersigwald opened #7776 "Update Arcade to 7"

[2022-07-01 14:49] rainersigwald opened #7777 "Target `net7.0` where we currently target `net6.0`"

[2022-07-01 17:27] Forgind commented on #7771
@melytc actually clicked the button. Do you remember what you clicked?

I tried it just now with a new parameter on Delete, and I explicitly clicked "solution," and it still only fixed it for the `net` PublicAPI.Unshipped.

[2022-07-01 17:29] AArnott opened #7779 "MSBuild node crash at Microsoft.Build.Collections.RetrievableEntryHashSet`1.Enumerator.MoveNext()"
### Issue Description

MSBuild crashed during a VS build.

### Steps to Reproduce

I just did Ctrl-F5 in a vsix project twice in a row. I do this regularly. The second time probably should have been recognized as an up-to-date build and skipped, but it didn't. That's usually ok too, but this time msbuild crashed.

### Expected Behavior

A successful build.

### Actual Behavior

The output window h

[2022-07-01 17:47] rainersigwald opened #7780 "MSBUILDDEBUGENGINE should infer maximal logging (MSBUILDLOGTASKINPUTS)"
I was debugging using the magic `MSBUILDDEBUGENGINE` for https://github.com/dotnet/roslyn/issues/62314 when I noticed that task inputs weren't in the resultant binlog.

The binary logger sets some internal environment variables to make sure it logs _everything_, but only when attached through "the usual ways", and they don't all get triggered via `MSBUILDDEBUGENGINE` but they should.

The only one

[2022-07-01 18:02] jdrobison opened #7781 "InvalidOperationException in MSBuild when building in VS"
### Issue Description
I have a filtered solution containing three projects that builds fine from the command line and until recently would also build fine in VS.  After installing the latest Int Preview build (32630.467.main), all three projects fail to build.  The binlog produced by [Project System Tools 2002](https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.ProjectSyst

[2022-07-01 18:22] rainersigwald commented on #7781
This should be fixed in the next int preview build. The workaround is to disable the Project System Tools extension.

[2022-07-01 18:22] rainersigwald commented on #7781
Fixed by #7766

[2022-07-01 18:22] #7781 closed

[2022-07-01 18:24] rainersigwald commented on #7779
Should be fixed by #7766 in the next Int Preview build. To work around, you should be able to disable the Project System Tools VS extension.

[2022-07-01 18:24] #7779 closed

[2022-07-01 18:25] rainersigwald commented on #7771
If that's the case it's a Roslyn bug.

[2022-07-01 22:04] BenVillalobos commented on #7455
I'm starting to dip my toes into correcting some of the labels ✌️

[2022-07-01 23:00] jdrobison commented on #7781
Disabling the extension worked great.  Thanks for the workaround.

[2022-07-01 23:06] Eilon commented on #7455
Once you've done some labeling, please let me know and I will re-run the training so that you can hopefully get better predictions as a result. It only takes like 30 minutes to do.

[2022-07-02 15:56] sandyarmstrong commented on #7620
I just ran into this, trying to update an older shared task library from MSBuild 15.8 to 17.2.

It looks like starting with https://www.nuget.org/packages/Microsoft.Build/16.0.461 (at least in nuget.org), the `netstandard2.0` build went away.

It would be convenient if `netstandard2.0` support could be restored.

[2022-07-03 16:45] cnayan opened #7783 "ProjectRootElement.Open always uses cache"
If I create 2 objects of `Microsoft.Build.Construction.ProjectRootElement` using `Open(string path)` method, where the file path is same but the content is altered in between the calls, the 2nd `Open` call returns content from in memory cache and not file.

[code]

**Result**: The value of `projectRootElement1.OuterElement` is same as `projectRootElement2.OuterElement`, which should not be.

___Re

[2022-07-05 13:47] rainersigwald commented on #7620
Can you expand a bit on what you need a reference to `Microsoft.Build` for from a task? In general, that's not supposed to be required (and `Microsoft.Build.Framework` and `Microsoft.Build.Utilities.Core` both do support `netstandard2.0`).

[2022-07-05 14:09] rainersigwald commented on #7783
The cache behavior is required in some scenarios for consistency. Consider a build that updates one of its imports--you want the whole build to see the same version. This has been an important requirement for some Live Unit Testing scenario builds.

So I think we should make sure to clarify this behavior in the docs.

[2022-07-05 14:30] sandyarmstrong commented on #7620
https://github.com/xamarin/mirepoix/tree/master/src/Xamarin.MSBuild.Sdk

These tasks use types like `ProjectItem`, `ProjectCollection`, etc. The tasks are used to generate solutions from traversal projects and consolidate multiple projects into a single project/assembly.

Multi-targeting is not a problem. `netstandard2.0` is just always more convenient when it's achievable.

[2022-07-05 14:57] madelson commented on #3897
What's the current status of this? We have an ASP.NET Core application with zh-CN and zh-TW resource which we need to start deploying on Linux. So far we've identified that `CultureInfo.GetCultures(CultureTypes.AllCultures)` was not including either of those cultures when running on Linux.

* As it stands, can we expect zh-CN/zh-TW resources to be compiled and loaded at runtime under Linux if the

[2022-07-05 19:09] Eilon commented on #7455
The training data has been updated and is live. The previous update (the initial list) was from May 26 and added up to 860KB of data, and now it's about 1010KB of data, so hopefully that helps the predictions.

BTW there are very few PRs with area labels so those predictions are probably lower quality than issue predictions. There are 620 issues with area labels, and only 122 PRs. There's no magic

[2022-07-05 23:18] Forgind commented on #7752
I can see what's happening here. I made a change to add fallbacks in case we couldn't write to the directory you specified, but it didn't make the directory if it wasn't there, and it didn't just write the logs. I'll make a PR soon.

[2022-07-06 01:05] MarkKharitonov commented on #7752
Much appreciated.

[2022-07-06 03:03] wangrd opened #7792 "can't resolve licx file with vs2022 and reuturn code -1073741819"
### Issue Description
It's not successful when I build my C# project with vs2022，bucause of the license.licx which used by a third-party component in my project. But it's ok in vs2019 or older.

### Steps to Reproduce
add a licx file in cs project and build it.

### Expected Behavior
Work well like vs2019.

### Actual Behavior
Can't compile successfuly.

### Analysis
In my mind, it may be related

[2022-07-06 06:55] matteius commented on #53
Ran into this issue with a report to the `pipenv` backlog that I triaged:  `pip install fastchunking` on windows fails outright with this: https://github.com/pypa/pip/issues/11231

https://docs.microsoft.com/en-us/cpp/error-messages/tool-errors/linker-tools-error-lnk1104?view=msvc-170#paths-that-are-too-long

I have enabled the registry key for Windows 10 long paths, but the 2019 Visual Studio lin

[2022-07-06 14:03] iii-i commented on #2711
This seems to be working now: `export MsBuildLogPropertyTracking=3`.

[2022-07-06 16:33] rainersigwald opened #7793 "ngen failure in VS on MSBuildTaskHost.exe"
Just happened to catch this in a scrollback:

[code]

I wonder if this line needs to specify that it should be in the context of `MSBuildTaskHost.exe.config` not `devenv.exe.config`?

https://github.com/dotnet/msbuild/blob/c1b61ebeaa0f77d1382c6a0734024557ecf255c3/src/Package/MSBuild.VSSetup/files.swr#L177

[2022-07-06 17:19] KirillOsenkov commented on #2711
Implementing this is likely to cause a huge perf overhead (but needs to be measured to confirm). Like Rainer says, the workaround is to preprocess the project and search for the <PropertyName in the preprocessed text. Binlog viewer supports the Preprocess command on any project.

However I think we could implement logging cheaply for some special cases (where we don't have it already):

 1. proper

[2022-07-06 23:08] lbussell opened #7794 "eng/Packages.props has hardcoded package versions"
.NET Source-Build relies on overriding package version properties to build projects with the latest versions of all dependencies. Using hardcoded package versions (e.g. `6.0.0` instead of `SystemCollectionsImmutableVersion`), we end up pulling prebuilts from the internet. The proper solution is to declare properties for package versions in `eng/Versions.props`, and reference those properties from

[2022-07-07 11:17] floreseken commented on #5881
This works form me: https://stackoverflow.com/questions/119271/copy-all-files-and-folders-using-msbuild

[2022-07-07 16:08] rainersigwald commented on #7794
Is this the kind of thing that should be caught in our source-build CI leg?

Does this mean we can't use Dependabot to keep references up to date as dnceng has advised us in the past?

For `eng/Packages.props` I have no problem with moving to versions but for the stuff that we want to keep updated I'd really like automation to keep that updated.

[2022-07-07 16:13] rainersigwald commented on #7792
@merriemcgaw are you the right person to pass a licx issue to, or do you know who might be? Note that this isn't for .NET Core, but looks like a VS2022 break on a .NET Framework application.

[2022-07-07 16:32] rainersigwald commented on #7757
Can you please collect a trace of the build by installing [`dotnet-trace`](https://docs.microsoft.com/dotnet/core/diagnostics/dotnet-trace) and running your repro with

[code]

? That should collect perf information using [our events](https://github.com/dotnet/msbuild/blob/main/documentation/specs/event-source.md).

[2022-07-07 16:40] rainersigwald commented on #7747
I do not repro with that SDK:

[code]

Are you seeing this consistently? Does this only happen if the primary OS language is non-US-English?

[2022-07-07 17:34] kasperk81 commented on #7757
docs say:

since `./build.sh libs.src` invokes `dotnet` internally multiple, it doesn't work. i didn't find a "follow child" option, provided by similar tools; `strace -f` or gdb (all versions) and lldb (version 14 onward) `follow-fork-mode` option.

@hoyosjs

[2022-07-07 20:48] hoyosjs commented on #7757
That's good feedback, but sadly I don't think there's a provision for that. I opened https://github.com/dotnet/diagnostics/issues/3175 to discuss the issue. @rainersigwald, when a build shells out using the MSBuild task, is there a way to get an equivalent invocation from the binlog such that `dotnet exec msbuild` could reproduce the issues in a single instance?

[2022-07-07 20:51] rainersigwald commented on #7757
No, unfortunately MSBuild is multi-process by design and while you can build with `-m:1` to avoid that, it dramatically alters the perf characteristics of the build so it's probably not something that would be helpful here.

A binlog might have sufficient information to observe and possibly troubleshoot the slowdown, though.

[2022-07-07 20:54] #7762 closed

[2022-07-07 21:28] merriemcgaw commented on #7792
We're probably the best place for this issue. @Tanya-Solyanik is on vacation this week, but I'll chat with her next week to see what we might be able to do. Thanks!

[2022-07-08 04:07] danmoseley commented on #7800
Are the cache files byte for byte identical with the ones they over wrote?

[2022-07-08 04:11] MarkKharitonov commented on #7800
No, they are different. The code does not recompile, so it does not affect the `Csc` task, but I am afraid it affects the `ResolveAssemblyReferences` task, which is not less expensive.
I have captured the timestamps before and after plus the binary logs themselves. I can rerun it and capture some cache files before and after. If there is a private upload link, I can upload all of it there.

[2022-07-08 04:24] danmoseley commented on #7800
It might be interesting to binary diff them to get an idea what changed, e.g. something like a version number. (I'm not on the team and no doubt the code is totally changed from when I was)

[2022-07-08 14:48] INTERNALINTERFERENCE opened #7801 "How soon the problem with nodes will be solved?"
https://github.com/dotnet/msbuild/pull/7387
The commit got into the master 10 days ago, but it doesn't seem to be in the dotnet master, because I still have to open visual studio with special parameters:
[code]

[2022-07-08 14:53] MarkKharitonov commented on #7800
Here you go - https://developercommunity.visualstudio.com/t/Why-msbuild-overwrites-some-csprojAss/10090995?space=61&entry=problem

How do I get an upload link?

[2022-07-08 14:55] rainersigwald commented on #7801
That PR should ship with Visual Studio 17.3, starting in the next released preview, which will be released soon.

[2022-07-08 16:12] #7752 closed

[2022-07-08 16:30] MarkKharitonov commented on #7800
![image](https://user-images.githubusercontent.com/489792/178032932-d91045df-2a79-4811-aabc-97f6f931701f.png)

Please, advise.

[2022-07-08 19:10] kasperk81 commented on #7757
@rainersigwald, here is `artifacts/log/Debug/Build.binlog` from `./build.sh clr+libs --binarylog`: https://github.com/kasperk81/runtime/releases/download/msbuild_binlogs/Build.binlog

weirdly enough, the total duration is smaller than core compile task alone:

![image](https://user-images.githubusercontent.com/83082615/178055683-a36bfb55-7d27-44b7-bd68-8d9cdec40292.png)

[2022-07-08 20:33] kasperk81 commented on #7757
ok, in that case, we can close this. it just always feels like after quickly building couple of libraries, the build slows down then it continues on degraded speed. it is probably tied to project-to-project dependency graph; the leaf nodes build quicker than the others.

[2022-07-08 20:42] BenVillalobos commented on #7760
I'm not able to repro what you're seeing. Are the projects set up properly? It looks like neither project has a default platform, should the command line repro be `dotnet build lib2 /p:platform=arm64`? If so, I think I see what you're seeing.

What's happening is that during the `GetTargetFrameworks` call on lib1, it gets passed the `SetPlatform` value (platform=arm64), which then gets picked up b

[2022-07-08 21:29] MichaelSimons opened #7804 "Update projects to build net7.0 TFM"
Source build requires projects to build with the current TFM. msbuild currently targets net6.0. Ideally this would be updated to net7.0. If that is not possible, the TFM could be conditioned for source-build but ideally the regular and source build would be identical.

[2022-07-09 00:30] DamianEdwards opened #7805 "Update schema to include trimming-related properties & item types"
Update [`src/MSBuild/MSBuild)/Microsoft.Build.CommonTypes.xsd`](https://github.com/dotnet/msbuild/tree/main/src/MSBuild/MSBuild/Microsoft.Build.CommonTypes.xsd) with the [various options and item types used for trimming](https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming/trimming-options), so that they show up in the MSBuild file editor in Visual Studio, e.g.:

- `<TrimMode>`
- `<IsTr

[2022-07-09 00:36] vsfeedback opened #8369 "Unhandled exception in XAML viewer when the project is in a path with private characters"

[2022-07-09 22:13] AraHaan commented on #2281
I think ``WriteCodeFragment`` should be improved further for .NET 6+.

When ``ImplictUsings`` is ``enable`` it should exclude writing ``using`` and exclude fully qualifying the attributes.

[2022-07-09 23:13] AraHaan opened #7806 "WriteCodeFragment can be modernized to use the value of ImplicitUsings for writing code fragments."
Since the .NET 6 SDK's ``ImplicitUsings`` was added for global usings support for C# projects. I am filing this issue here for my work on an pull request to change that.

Note: The PR still needs some changes to msbuild files to make it all work since I made a new parameter (ironically it's named ``ImplicitUsings``) as required (might be a slight breaking change that can be reviewed to make it les

[2022-07-10 03:16] AraHaan commented on #7806
After thinking about it might, you might be right with this but it would have to only request this when targeting an .NET TargetFramework that allows implicit usings.

[2022-07-10 19:02] #7609 closed

[2022-07-11 04:23] v-hozha1 commented on #7721
I also repro this issue on dotnet-sdk-7.0.100-preview.7.22358.13.

--Screenshot:
![image](https://user-images.githubusercontent.com/100275240/178187976-725f23d9-dd39-4b48-9da5-1af4f3ef42d1.png)

PS C:\tmp\mstest> &"C:\Program Files\dotnet\x64\dotnet.exe" test --framework net7.0 --diag:log4q.txt
Unhandled exception: System.Reflection.TargetInvocationException: Exception has been thrown by the targe

[2022-07-11 08:07] stan-sz commented on #804
For reference Nuget has already commenced work to warn about duplicate PackageReferences: https://github.com/NuGet/Home/pull/11649

Additionally, #1777 sounds like a place to host the duplicate item check.

[2022-07-11 09:38] chm-tm commented on #7622
Similar to @robvdnieuw, I have version 17.2.1+52cd2da31 for .NET framework installed and I get a very similar stack trace when using the [MSBuild Log Viewer](https://msbuildlog.com/) with my project:
[code]
[code]
So I'd glad to see an updated version with one of the next minor VS patches.
So far, I work around the issue by creating the `.binlog` outside the viewer without passing `/clp`.

[2022-07-11 13:50] rainersigwald commented on #7804
Duplicate of #7777

[2022-07-12 07:53] MichalPavlik opened #7815 "Unnecessary allocations by invoking CommunicationsUtilities.Trace"
`CommunicationsUtilities.Trace` defines format and arguments for `String.Format` implementation. Although `String.Format` implements overloads for 1, 2 and 3 arguments without `object[]` allocation, we are missing these options in `CommunicationsUtilities`.

[2022-07-12 22:27] BenVillalobos commented on #7721
Looks like BuildEnvironmentHelper is failing on finding where msbuild is currently located?
get_Instance is the auto-generated method for the getter.

Seems to be somewhere in the initialize method that things go wrong. It looks like it's this exact line, at the getter for `Location` within `Assembly`. So assembly is null here?

https://github.com/dotnet/msbuild/blob/7d628917b66fcfc524fa42bc3f07aa

[2022-07-12 22:43] Arlodotexe commented on #7438
After months of using our current workaround and organizing projects around it, I've realized that conditionally imported props files with PackageReferences don't have this issue.

Which means we might have a workaround. Put the package references in a props file, add your condition to the prop import, and it should work even in a library project / subproject.

[code]

[2022-07-13 05:30] Nirmal4G commented on #7438
@Arlodotexe

There will be differences when using `TargetFrameworks` vs `TargetFramework` since multi-build comes into play. The outer build will be based on an empty `TargetFramework` and the inner build will have that property populated. And some MSBuild task invocations (_based on how they are implemented_) remove some global properties when dispatching an inner build. So, you could use a diffe

[2022-07-13 12:55] marcin-krystianc opened #7819 "Slow design-time builds for large solution"
### Issue Description
Hi,

productivity in our company is heavily hindered by the slowness of design-time builds which translates into the slowness of solution load (and reload) times in the IDE (Visual Studio and Rider).

For example, we are working with solution containing about 270 C# and F# projects and use [Central Package Management](https://devblogs.microsoft.com/nuget/introducing-central-p

[2022-07-13 19:37] #7315 closed

[2022-07-14 16:18] BenVillalobos commented on #7819
Team Triage: Thanks for filing a great bug/repro! Hopefully we'll be able to dedicate some time to analyze this in the coming weeks!

[2022-07-14 16:29] #7801 closed

[2022-07-14 16:32] BenVillalobos commented on #7711
We initially thought this might have been related to SetPlatform, but that doesn't look to be the case since `EnableDynamicPlatformResolution` is not set anywhere in the repo. Unassigning myself for now

[2022-07-14 16:35] BenVillalobos commented on #7711
@v-codyguan Could you reproduce this error and provide binlogs of a working build and failing build (pre-preview 5 and preview 5). Thanks!

[2022-07-14 16:42] BenVillalobos commented on #7694
@dfederm when you have a chance could you take a look at this?

[2022-07-14 16:47] BenVillalobos commented on #7617
Team Triage: We suspect this is a build tools authoring error. Closing this as a duplicate of https://developercommunity.visualstudio.com/t/Build-Tools-2022:-warning-MSB3245:-Could/10093000

[2022-07-14 16:49] BenVillalobos commented on #7691
Do you have any visual studio extensions installed?

[2022-07-14 16:52] BenVillalobos commented on #7605
Team Triage: Does this issue repro if you do `msbuild /restore /t:Build`?

[2022-07-14 16:58] dfederm commented on #7694
Yup, I'll look at this.

[2022-07-14 17:23] tannergooding commented on #7711
This is, to me, a regression. Targeting "Any CPU" has been the default for solutions created by VS going back to .NET Framework and building those solutions using `dotnet build` has been possible since at least `.NET Core 2.0`.

A separate repro is the following, showing that `dotnet new sln` defaults to "Any CPU" and building such a solution is now broken by default:
[code]

[2022-07-14 18:04] rainersigwald commented on #7711
@tannergooding I don't repro. Can you share a binlog (offline via Teams is fine with me)?

[code]

[2022-07-14 18:58] tannergooding commented on #7711
*sigh*, this is because `vcvarsall.bat` is getting run on my machine since I frequently work with C++ as well. That sets `Platform = x64` as an environment variable and breaks MSBuild here -.-

I don't remember seeing this before recently and AFAIK haven't changed anything with regards to when `vcvarsall.bat` gets run, but that appears to be the issue. `InheritedEnvironmentStateBugs++`

[2022-07-14 19:22] rainersigwald commented on #7711
@Forgind looking through the log shared offline found a bug in the env-var-skipping change: we didn't log the `PLATFORM` env var even though it was used in evaluation of the solution metaproject. Can you add that case to tests?

[2022-07-15 10:48] rolfbjarne opened #7828 "Enabling the binary logger adds console output"
### Issue Description

Requesting a binary log (`/bl`) will print a line to the terminal which isn't printed otherwise (when doing quiet builds).

### Steps to Reproduce

[code]

### Expected Behavior

Quiet builds should be quiet:

[code]

### Actual Behavior

An additional line of text (seems like the parsed MSBuild command line) is printed.

### Analysis

I think the following two code blocks w

[2022-07-16 02:09] KirillOsenkov opened #7832 "Version mismatch between Roslyn in MSBuild and CodeStyle analyzers in the SDK"
Not sure if it's a bug, or whether it should go here or in the SDK.

There may be a situation where MSBuild.exe is started from `C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\amd64\MSBuild.exe`, which ships `Microsoft.CodeAnalysis.dll`, say, 4.2.0.0.

Which MSBuild.exe gets loaded depends on your PATH and which Developer Command Prompt you have open.

At the same tim

[2022-07-17 00:13] baronfel commented on #7656
@nagilson Check this out! Looks like there's an MSBuild property that is related to the GlobalProperties situation we discovered on Friday's call.

[2022-07-17 10:07] Hu1buerger commented on #1730
I do agree. The configuration should be readable by a human without any tooling. IMHO the team at google with dart did a fantastic job. Their configuration file is aweasome.
I would love to use their syntax with .net

[2022-07-17 10:16] vrubleg commented on #1730
@Hu1buerger how does it look like in Dart?

[2022-07-17 10:29] Hu1buerger commented on #1730
@vrubleg take a look at this [doc](https://dart.dev/tools/pub/pubspec). And for a "live" example chosen at random by me see [here](https://github.com/flutter/samples/blob/main/form_app/pubspec.yaml)

[2022-07-17 10:39] kasperk81 commented on #1730
yes yaml is best for configurations, hands down! azure devops configurations, github ci and many other systems use yaml and those configs are fun to work with. BUT yaml is technically not feasible unfortunately. msbuild is tied to xml serialization.

it is not perfect, but the modern project formats are concise, human readable and user can easily write it by hand (usually 5-20 lines for average pr

[2022-07-17 14:13] vrubleg commented on #1730
Please, no YAML. Something like TOML could be much better, but it would also be an alien format for MSBuild. The most logical and conforming way is to make it XML-based.

[2022-07-17 16:06] MagicAndre1981 commented on #1730
someone tried to [do it in xml](https://subsln.github.io/):

 _.Subsln files are used by [SubSolution tools](https://github.com/ReMinoer/SubSolution) to describe the content of Visual Studio solutions in a user-friendly syntax._

[code]

VS2022 extension: https://marketplace.visualstudio.com/items?itemName=ReMinoer.SubSolution2022
VS2019 extension: https://marketplace.visualstudio.com/items?itemNa

[2022-07-17 17:25] gulshan commented on #1730
XAML?

[2022-07-17 17:37] #7734 closed

[2022-07-17 20:13] francoistanguay commented on #7832
Could this explain why we're no seeing this issue with msbuild/our source generators after 17.3Preview 3 update?

https://github.com/unoplatform/uno/issues/9297

[2022-07-17 23:18] jrdodds opened #7834 "PRB: build broken/blocked for arm64 by PR #7826"
### Issue Description
Building or just restoring fails with an error.
[code]

### Steps to Reproduce

1. Clone the repo to an Apple Silicon machine. (Commit 659a296 is where the issue is introduced.)
2. Execute `./build.sh --restore`

### Expected Behavior
Restore should complete without errors.

### Actual Behavior
Restore fails -- which also blocks builds.

### Analysis
There is no arm64 version

[2022-07-18 16:59] lbussell commented on #7794
Fixed with https://github.com/dotnet/msbuild/pull/7809

[2022-07-18 16:59] #7794 closed

[2022-07-18 17:35] dakersnar commented on #7643
@BenVillalobos Sorry for the delay. I'm using Windows 11 Enterprise, OS build: 22000.795.

[2022-07-18 20:16] madelson commented on #3897
Thanks for the context @tarekgh !

Great to hear. Is there a milestone or timeline for this? Is the issue suitable for a community contribution to accelerate?

We'll probably be forced to do this as a workaround, but it will be disruptive to other systems we have in place for managing the translation process since we're talking about a huge number of files across hundreds of applications.

[2022-07-18 20:49] jrdodds commented on #7834
Resolved by commit [a1d9d69](https://github.com/dotnet/msbuild/commit/a1d9d6928dbc16ab59bdcefdf13e5770077a07da)

[2022-07-18 20:49] jrdodds commented on #7834
Resolved

[2022-07-18 20:49] #7834 closed

[2022-07-18 22:42] #5072 closed

[2022-07-18 23:28] BenVillalobos commented on #3897
We hear you, There's no current timeline for it, but in the coming days, we plan to spend some time designing a solution we feel comfortable opening up to a community contribution.

[2022-07-19 00:24] AArnott commented on #7760
Reactivating as @BenVillalobos requested, given I have more cases of P2P graphs that fail. Not all align exactly with the original issue, and we can certainly farm them out to distinct new issues if that's helpful.

These repro with:

Newly discovered cases:

- [TraversalPlusP2PToVcxproj.zip](https://github.com/dotnet/msbuild/files/9136435/TraversalPlusP2PToVcxproj.zip)
 - This includes a traversa

[2022-07-19 01:20] Arlodotexe commented on #7438
After more testing and gathering information, it seems that in non-SDK style projects, `TargetFramework` just isn't consistently available during certain steps in the build process.

For now, I've worked around this by avoiding using `TargetFramework` to switch between packages in our project heads, opting instead to add them to the csproj or a props file referenced by it, with no conditions anywh

[2022-07-19 19:16] AArnott commented on #7760
I would further suggest that the proposed traversal project capability of building _all_ platforms of referenced projects should be exposed as metadata on a `ProjectReference` item so that *any* project can opt into that behavior, and the traversal SDK would simply set that metadata on the item definition.  For example:

[code]

Alternatively, the metadata could be a semicolon-delimited list of pl

[2022-07-19 19:46] yuehuang010 commented on #7819
Could you share the binlog?

[2022-07-19 23:58] timheuer commented on #5768
I just hit this issue when updating a package that added a new locale to resources...but a previous package had a lowercase directory created and now CopyFilesMarkedCopyLocal fails because it can't find files... this is on linux github actions agent.

[2022-07-20 02:15] baronfel commented on #5768
I think we should handle this in the SDK.  The resources to copy are generated by looking at the assets of the references packages in the [`ResolvePackageAssets`](https://github.com/dotnet/sdk/blob/8aaaf2955a57fa70a7523e8865ece91ebfbf7335/src/Tasks/Microsoft.NET.Build.Tasks/ResolvePackageAssets.cs) task.  the job of this task is to read the NuGet assets file and translate into MSBuild items as app

[2022-07-20 02:24] baronfel commented on #5768
Hah, and of course I've retread ground that @dsplaisted covered a year ago. We should do this, it's a horrible dev UX with limited ability to debug it

[2022-07-20 18:12] #7671 closed

[2022-07-21 02:05] Tanya-Solyanik commented on #7792
I would guess that the path to LC.exe is incorrect in the 64 bit version of VS.
https://github.com/dotnet/msbuild/blob/65c50fb73faefec0ef2ce8256b802f50cc8236f0/src/Tasks/Microsoft.Common.CurrentVersion.targets#L3363-L3392

[2022-07-21 02:09] Tanya-Solyanik commented on #7792
@Olina-Zhang  - could you please create a .NET Framework repro app with 3rd party controls, for example DevExpress trial version and collect a detailed build log from the VS. Set logging to diagnostic in Tools->Options->projects and solutions->build and run

[2022-07-21 02:29] yuehuang010 commented on #7625
Thanks to "msbuild /profileEvaluation", I got a few more hints.

![image](https://user-images.githubusercontent.com/19828377/180116405-ec517498-3de7-495f-8f56-5c2ac376ab38.png)

$([Microsoft.Build.Utilities.ToolLocationHelper]::GetLatestSDKTargetPlatformVersion($(SDKIdentifier), $(SDKVersion))) takes 3-4ms warm and 180ms cold.  While the results are cached, there is a lock in RetrieveTargetPlatfor

[2022-07-21 04:10] Therzok commented on #7625
Disclaimer: not a maintainer, but afaik the [CachingFileSystemWrapper](https://github.com/dotnet/msbuild/blob/518c041f4511a6bc23eb40703b69a94ea46c65fd/src/Shared/FileSystem/CachingFileSystemWrapper.cs) is used for Exists evaluation.

[2022-07-21 07:01] Olina-Zhang commented on #7792
@Tanya-Solyanik I cannot repro this issue in Winforms .net framework application with 3rd party controls from DevExpress, build and run app successfully.
@wangrd Could you please let us know what is your third-party component in order to collect details build log?

[2022-07-21 10:20] cihancoskun commented on #6253
I got the same problem. And it is very interesting that when I run Visual Studio as administrator, I was able to get build without any problem.

[2022-07-21 10:21] marcin-krystianc commented on #7819
Sure, it is 40MB though, so it is split into two parts:
- Part1 - [msbuild_001.zip](https://github.com/dotnet/msbuild/files/9158449/msbuild_001.zip) (Rename to `msbuild.zip.001`)
- Part2 - [msbuild_002.zip](https://github.com/dotnet/msbuild/files/9158450/msbuild_002.zip) (Rename to `msbuild.zip.002`)

[2022-07-21 16:58] Mal-Ayers opened #7842 "Bad error when CodeTaskFactory has a mismatch between TaskName and class name"
### Issue Description

This was an experiment to use the inline task and in-project C# files (net6.0) to process and provide property information during the build process.

With an inline task, and using the RoslynCodeTaskFactory, the task's file-based source code (a class) appears to cause an error on build using Visual Studio 2022 (Debug--AnyCPU).

Error:
https://docs.microsoft.com/en-us/visuals

[2022-07-21 19:26] danmoseley commented on #6253
@cihancoskun at this point it's better to open a new issue with any other info. I would also try repairing your installs since maybe a file has the wrong ACL? (not sure whether repair fixes ACLS)

[2022-07-21 23:22] yuehuang010 commented on #7625
Just thinking out loud, if the main MSBuild node could copy over its caches to the child nodes, then that would save time load time.

[2022-07-21 23:51] yuehuang010 commented on #7819
Is there a reason why maxcpucount is /m:1?
Could you explain the /target list?  Can you reduce it to a single target?  What is the actual target you want to run?  If this not something you control, then checkout my recent PR #7512 to address parallelism with Targets and Sln.

There is a strange 3s gap at the 63s mark.

[2022-07-22 00:11] yuehuang010 commented on #7819
Btw, what are your computer specs?  On my 2990 threadripper, it took 25s for /m:1 and 12s for /m.
![image](https://user-images.githubusercontent.com/19828377/180334172-b6a82fc7-2cfe-4ca9-ad67-3a03e2cf28e6.png)

Could Windows Defender or other AntiMalware be interfering?

[2022-07-22 09:44] marcin-krystianc commented on #7819
Adding more MSBuild processes doesn't improve performance that much (maybe by 50% at max) and it definitely makes the analysis much harder.

This list is what Rider uses for design-time builds (it is possible to collect binary logs with Rider by checking Help -> Diagnostic Tools -> Enable Design Time Logging). VisualStudio uses a different list of targets (see [docs](https://github.com/dotnet/proj

[2022-07-22 20:12] baronfel commented on #3569
Would be lovely to do this - I replicated the helpers in https://github.com/dotnet/sdk/pull/26729 out of a desire to easily assert on logged messages.

[2022-07-22 21:44] BenVillalobos commented on #3897
investigation notes:

https://github.com/CodingDinosaur/CultureIssueDemonstration#apparent-root-cause is a fantastic writeup, thanks again Tarek.

Off the top of my head, it sounds like a valid workaround would be to allow an opt-in (environment variable?), and follow the older hardcoded culture code path. In this case, something like

[code]

### The Quick Workaround
1. Remove the `FEATURE_CULTUR

[2022-07-22 21:53] tarekgh commented on #3897
Just clarify this is written by @CodingDinosaur :-)

[2022-07-22 21:58] BenVillalobos commented on #3897
@tarekgh whoops! Thanks @CodingDinosaur ❤️

[2022-07-23 10:22] madelson commented on #3897
Great to see your proposal @BenVillalobos !

@BenVillalobos having an environment variable to make the aliased .resx files work sounds like a great workaround. Some clarifying questions:
* I'm assuming that this needs to be set only during runtime, not during the build. Is that correct?
* With this set, will things work exactly as they do on Windows regarding these cultures or will there still be

[2022-07-23 18:18] tig commented on #7832
This broke DocFx too:

https://github.com/dotnet/docfx/issues/8097

[2022-07-23 22:21] safesparrow commented on #7819
My guess is what matters is doing a restore before the test rather than build.
That's what makes things like Ionide.ProjInfo able to populate compiler options for F# code analysis using FSharp.Compiler.Service.
But I haven't verified that claim.

[2022-07-23 23:50] safesparrow commented on #7819
I did some profiling and realized that GC plays quite a role in slowing the main MSBuild process down.

I then ran the following test with and without server GC:
[code]
I used 7 MSBuild parallel processes as show in the above comment.

This yielded the following results/logs in Rider's backend:

gcServer=0 (using workstation GC):
[code]
gcServer=1 (using server GC):
[code]
So forcing server GC for

[2022-07-24 00:20] yuehuang010 commented on #7819
I tried various /m and between /m:4 to /m:8 yielded the best results.
FYI. I added /nr:false to your command line to close finished nodes afterwards to free up the resources.  With the flag, it should yield a more consistent result for testing purposes.

I have noticed this too.  #7625

[2022-07-24 23:00] RickStrahl commented on #4371
@80O The syntax you want is this:

[code]

This works, but it shouldn't be this hard.

There's no reason we shouldn't be able to reference the `.csproj` as a `<ProjectReference>` and it should be able to figure out to reference the main assembly in the correct folder without all this MsBuild stuff.

Especially since none of the tooling (Visual Studio, Rider etc.) will set this up correctly **if yo

[2022-07-25 20:44] rainersigwald commented on #4371
@RickStrahl can you give an example of a project that is behaving as you describe? I set up a small demo at https://github.com/rainersigwald/demo-msbuild-4371, and put up https://github.com/rainersigwald/demo-msbuild-4371/pull/1 to show how I solved the problem you're describing, which didn't require any of the reference juggling.

I would like to discourage people from replacing `ProjectReference

[2022-07-26 08:30] lonix1 opened #7848 "[Feature Request] Render csproj"
My `Foo.csproj` uses variables. For example:
[code]
In my build scripts I need to know the value of various properties. I thought that would be possible using the `dotnet` or `msbuild` CLIs, so I tried:
[code]
...but although that merges config, it doesn't render variables.

Please add a CLI feature to fully render the csproj. That would make it much easier to use in build environments.

dotnet 6.

[2022-07-26 11:47] #7694 closed

[2022-07-26 15:21] trivalik commented on #4371
@rainersigwald In your example it would be enough to set `<Private>False</Private>` for both projects/ProjectReference.
But if would configure outputdir of `Referencing` by `<BaseOutputPath>SomeWhereElse</BaseOutputPath>` this will not work anymore. Then you have additionally to configure `<PrivateAssets>all</PrivateAssets>` in Referenced project for the ProjectReference TransitiveReferenced. See

[2022-07-26 17:08] Bartleby2718 commented on #3897
Hi @BenVillalobos, I see that you have added this to the VS 17.3 milestone, but you also wrote

Could you give me a _rough_ ETA on this issue? Will there be a new release _including this fix_ in, say, the next few weeks?

[2022-07-26 17:14] tarekgh commented on #3897
@Bartleby2718 I'll let @BenVillalobos answer your question but I am wondering what is failing in yur scenario? I mean, are you running into the issue with the `zh` cultures? I am asking because if this is teh case, it would be good you try to use the neutral cultures like `zh-Hans` and `zh-Hant` with your resources. This may unblock you.

[2022-07-26 20:32] rainersigwald commented on #4371
The conversation moved through a few channels, but @RickStrahl [confirmed](https://twitter.com/RickStrahl/status/1552019145612439558) that you can accomplish the goals

1. Don't mess with the app/referenced project's output directory.
2. Don't copy the app/referenced project to the plugin/referencing project's output folder.
3. Don't copy the app's ProjectReferences to the plugin/referencing proje

[2022-07-26 22:31] jrdodds commented on #7730
@rainersigwald I'm looking into this issue and also #7842. Although it does appear that #7842 is a different issue, it also appears to be in the same area of code as this issue.

[2022-07-27 00:59] RickStrahl commented on #4371
As a follow up - the solution appears to be in this declaration to reference the main project:

[code]

This generates only the local project main assembly plus any direct project references, but excludes any incoming dependencies from the main `MarkdownMonster` project.

I've updated and somewhat cleaned up my old post with more detailed information on how to best reference resources from a typic

[2022-07-27 00:59] #4371 closed

[2022-07-27 02:32] jrdodds commented on #7730
`Source` and `Type` are not exclusive of each other and the problem appears to be the `else` at line 445 which prevents processing the `Type` when `Source` is provided.
https://github.com/dotnet/msbuild/blob/e1de0c476fac967bd1f1d4c17e5c8a70513cfdee/src/Tasks/RoslynCodeTaskFactory/RoslynCodeTaskFactory.cs#L432-L462

[2022-07-27 12:00] MaslovRG opened #7851 ""dotnet build, version 7.0.x" doesn't compile the project with ValueTuple EventCallback"
### Issue Description

"dotnet build, version 7.0.x" doesn't compile the project with ValueTuple EventCallback while "dotnet build, version 6.0.x" works properly

### Steps to Reproduce

Create blazor server side project targeting NET 6 (not NET7). Create two simple components: "ExampleParentComponent.razor" and "ExampleChildComponent.razor".

ExampleParentComponent.razor
[code]

ExampleChildCompo

[2022-07-27 13:40] jrdodds commented on #7848
See [.net - Use msbuild or dotnet to render csproj without building - Stack Overflow ](https://stackoverflow.com/questions/73118984/use-msbuild-or-dotnet-to-render-csproj-without-building/73138983#73138983)

[2022-07-27 13:51] rainersigwald commented on #7848
Can you elaborate on

?

I'm not sure how useful producing a copy of your csproj file with all properties expanded would be, since those properties can and do change during the build. Would something like #3911 satisfy your needs?

[2022-07-27 17:13] Bartleby2718 commented on #3897
@tarekgh Yes, I'm having issues with the two `zh` cultures, but unfortunately, switching to unaliased cultures throughout our translation pipeline is likely not a viable option, given the time-sensitive nature of the project I'm working on.

Another question for @BenVillalobos: apologies for my lack of understanding, but once the fix is released, will it compatible with .NET 6 as well, or does it

[2022-07-27 17:25] iskiselev commented on #7694
@dfederm, my goal was to create target in Referencing.csproj that will call into some target of Referenced.csproj and will get access to the return value - so that `Configuration\Unusual.txt` value returned from `Referenced.csproj`  `UnusualThing` target` will be available in the build of `Referencing.csproj`. I don't want to call `UnusualThing` for all `ProjectReference` that `ProjectReferenceTar

[2022-07-27 17:52] tarekgh commented on #3897
@Bartleby2718 there is some idea you can try, I didn't try myself, but it is worth trying.

In your build machines, try to [enable the environment variable `DOTNET_SYSTEM_GLOBALIZATION_USENLS=1`](https://docs.microsoft.com/en-us/dotnet/core/extensions/globalization-icu?ranMID=43674&ranEAID=rl2xnKiLcHs&ranSiteID=rl2xnKiLcHs-ycqWZ7HMWnoHviUqMJuIuQ&epi=rl2xnKiLcHs-ycqWZ7HMWnoHviUqMJuIuQ&irgwc=1&OCID=

[2022-07-27 18:14] Bartleby2718 commented on #3897
@tarekgh I've read that page before, but I believe that setting is just for Windows?

https://docs.microsoft.com/en-us/dotnet/core/runtime-config/globalization#nls says (emphasis added):

[2022-07-27 18:19] tarekgh commented on #3897
That is right. Do you want to build the resources on Linux? You can just create them on Windows and use it with Linux runs as needed. I am trying to say, make a job in your pipeline to build these resources and on Linux you don't need to build the resources and instead copy the resources to output folder after finish building. I am just trying to provide some workaround to unblock you. I am not sa

[2022-07-27 18:21] Bartleby2718 commented on #3897
Makes sense. I'll try that as I wait for the response to other questions in this thread.

[2022-07-27 23:24] BenVillalobos commented on #3897
Q&A time 🤔

@madelson

Definitely during build time. Can you describe your runtime scenario? Does this just mean "calling our API for valid cultures?" If so, it applies to both.

If we add this workaround as "if it's not seen in the culture API, use our hardcoded list as a backup," I expect windows/non-windows to behave the same. The only situation to be worried about would be some culture alias n

[2022-07-28 00:55] lonix1 commented on #7848
Thanks - that's close enough to what I'm referring to, so I'll close this as a dupe.

I like the idea of printing the entire xml (as in my post above), but just getting a single property (as in the other post) is fine too.

Elaboration: I've added info to the linked issue.

[2022-07-28 00:55] #7848 closed

[2022-07-28 00:55] lonix1 commented on #3911
I like the idea of rendering just one interesting property (as mentioned in the OP), but I also like the idea of rendering the entire xml (as in my closed dupe [issue](https://github.com/dotnet/msbuild/issues/7848)). The fact that some variables cannot be evaluated is true, but many can be, so it's still useful.

Quick elaboration:

When everything is done by msbuild, this feature request adds no

[2022-07-28 02:40] madelson commented on #3897
Thanks for the detail @BenVillalobos !

Mostly our runtime scenario is just setting `CultureInfo.CurrentUICulture` to (depending on the user) `zh-CN` or `zh-TW`, and then accessing resource strings in `.resx` files which currently have the `zh-CN`/`zh-TW` suffixes.

*However*, we do also have some code that tries to iterate through all cultures for which we have translations at runtime using `Cult

[2022-07-28 03:53] Jasonlhy commented on #2795
I think link support support single file

[2022-07-28 12:51] #7377 closed

[2022-07-28 12:51] #7375 closed

[2022-07-28 14:11] jrdodds commented on #7842
@Mal-Ayers I investigated this issue. My findings follow:

- The error message ('The task factory "RoslynCodeTaskFactory" could not be loaded...') is incorrect and misleading and the real error is not reported.
- The class name and the task name must match. The `UsingTask` uses the task name of `GetCalculatedVersion` to look up the task and fails because the task is named `BuildInformation`. (That

[2022-07-28 14:37] jrdodds commented on #7730
In the log output is an error:
[code]
This error message is misleading. Essentially an exception is thrown and the catch is reporting the MSB4175. There is no issue with loading the RoslynCodeTaskFactory  and the TaskType is not set because the inline code failed to compile.

The experience of writing inline tasks could be improved with error messaging that is more 'on point'. There is an issue fo

[2022-07-28 15:35] rokonec commented on #460
The problem is indeed in `s_globalStringCache`. It caches strings of XML documents but the key is the XMLDocument object, so each time same XML file is parsed new dictionary pair `<XmlDocument, HashSet<StringCacheEntry>` is created and filled with all used `StringCacheEntry`(s). It effectively root all XmlDocuments, as keys, which includes lots of memory and is causing significant memory leak.

Th

[2022-07-28 16:04] baronfel commented on #460
@rokonec shoudl the GlobalProjectCollection use this constructor? I'm unsure of the guidance for using that collection.

[2022-07-28 16:13] rokonec commented on #460
@baronfel I though about it, but then realized there is no need for it. My hypothesis is that people mostly use either either `GlobalProjectCollection` or new `ProjectColletion()` approach. If they use `GlobalProjectCollection` it servers as singleton and uses  dedicated `ProjectRootElementCache` effectively making `ProjectRootElementCache` also singleton.

[2022-07-28 16:39] BenVillalobos commented on #7711
Team Triage: This is part of the documented environment variable behavior, we'll figure out the logging to make it clear.

[2022-07-28 16:39] #7711 closed

[2022-07-28 16:47] #7617 closed

[2022-07-28 16:52] jrdodds commented on #7730
With the `RoslynCodeTaskFactory`, a MSB4175 `TaskFactoryLoadFailure` will be logged for the following types of errors which are not `TaskFactoryLoadFailure` errors:
- The inline task code has one or more compilation errors.
- The inline task code is in an external file (specified with `Source`) and the file can't be found or read.
- The inline task code is a class and the class name and the task n

[2022-07-28 16:52] #7587 closed

[2022-07-28 16:55] BenVillalobos commented on #7581
Can you provide a minimal project that reproduces this behavior? That would help us improve this scenario.

[2022-07-28 19:38] Dale4 commented on #1807
msbuild  issue continues
the pubxml file has the following element <PublishDir>bin\publish\</PublishDir>
This is ignored by msbuild

[2022-07-28 19:39] Dale4 commented on #1807
<PublishDir>bin\publish\</PublishDir>

[2022-07-28 19:41] Dale4 commented on #1807
msbuild issue continues
the pubxml file has the element PublishDir that is ignored.
This element hold the location to publish to.  Compiler uses the value and publishes to that folder location.
msbuild ignores the value

[2022-07-29 02:25] jmlane commented on #6797
Bumping this as I'm still seeing this behaviour (with only A.csproj and B.csproj as per [OP](https://github.com/dotnet/msbuild/issues/6797#issue-983366106)) in MSBuild 17.0.0+c9eb9dd64 (SDK 6.0.101+3a25a7f1cc).

[2022-07-29 05:20] jonathanou opened #7856 "Project-to-project reference fails to detect correct multi-target framework if <TargetFramework> is defined"
If a project has both `<TargetFramework>` and `<TargetFrameworks>` defined, other projects cannot correctly reference the project's target framework that is different than what `<TargetFramework>` specifies.

Building the project with both properties defined does correctly produce the binaries for each targeted framework.  It's just project-to-project references that doesn't work.

Create project

[2022-07-29 10:22] Nirmal4G commented on #7856
Yes, and that's the expected behavior! Do you need to specify singular `TF` when you already specified `TFS`?

[2022-07-29 10:30] Nirmal4G commented on #6797
@foriequal0 @jmlane It seems from your repro that you need to build project `A` first. I have a similar case where I need to build the executable project first and then the rest. I hit this too. I'm using project dependencies within the solution file to work around this. That way, you don't need to use project reference.

[2022-07-29 10:39] Nirmal4G commented on #7832
We could ship MSBuild common targets and Roslyn, FSharp targets as SDKs and link them altogether via tasks/targets. I know, it's not _simple_ but we already started on this path. Maybe it's time to see where it leads. See #1686.

[2022-07-29 10:59] Nirmal4G commented on #7691
No, I'm not seeing this in a clean install of VS or even in my own setup which has a bunch of MSBuild custom extensions.

[2022-07-29 11:07] jonathanou commented on #7856
My company's build infrastructure specifies a default `TF` via `Directory.Build.props` file, so I am not in control of `TF` having a value that seems to contradict `TFS`.

To me, it seems even if `TFS` conflicts with `TF`, `TFS` should take precedence?  Certainly when I build the project, `TFS` overrides `TF` as expected, as I see multiple binaries being built.

[2022-07-29 14:06] Nirmal4G commented on #7856
When you build the project `ClassLibrary1` separately, `TFS` takes precedence and multi-build comes into play and the inner build replaces the `TF` specified in the project file, even if `TF` is some garbage value. It builds and it produces multiple outputs.

But when using project reference, the resolution logic thinks it's a single target build because `TF` takes precedence there. Yes, this is m

[2022-07-29 16:38] jonathanou commented on #7856
Thanks for the tip!  While it works, the disadvantage is every new project reference made to ClassLibrary1 will need this special workaround.  It doesn't "just work".

I am currently manually unsetting the target framework in my ClassLibrary1 csproj file by doing this:

[code]
This allows other projects to reference ClassLibrary1 normally.

However, unsetting the target framework is also not ideal

[2022-07-29 16:45] jrdodds commented on #5881
Task batching is idiomatic in MSBuild and the documentation of the Copy task includes an example of copying a directory. Speaking for myself, I don't find it 'gnarly'. But I do understand that MSBuild has a problem where many people have expectations of how MSBuild works and behaves that are very different from how MSBuild actually works and behaves.

This feature request is not about adding funct

[2022-07-29 17:09] KirillOsenkov commented on #5881
I personally don't see anything wrong with adding another parameter to `Copy`, because this is where people will go looking for it. "Too many parameters" is not an objective downside.

A brand new `CopyDir` task is not discoverable. In fact, it will restore symmetry, since `DestinationFolder` already exists, so only makes sense to support `<Copy SourceFolder="A" DestinationFolder="B" />`.

[2022-07-29 18:16] jrdodds commented on #5881
I disagree that

There is general consensus that a function or class method should be limited in the number of arguments. The same principle applies here. But we can agree that we just see that differently and that, among all the possible trade-offs, it may be minor.

Some of your points can be generalized as essentially that no new tasks should ever be added. I understand your comments are about

[2022-07-29 18:26] mikerochip commented on #5881
@jrdodds You're taking things off-topic. The feedback is that the current behavior feels limited and counterintuitive. There is perhaps unfortunately a very opinionated suggested solution @KirillOsenkov brought up, but that should be fine; maintainers can take the solution or not.

Do you have data and actual numbers on this? This sounds like an opinion being framed as a universal truth. This resp

[2022-07-29 19:51] jrdodds commented on #5881
Hi @mikerochip,
The feature request is to extend the Copy task and it has been tagged as 'needs-design' and 'up-for-grabs'. I see discussion of the design issues and trade-offs involved as being very on-topic. @KirillOsenkov has made several points about the design and I see that as helpful, constructive, and on-topic.

Regarding the number of arguments to a function: No, not a universal truth but

[2022-07-29 20:15] mikerochip commented on #5881
Appreciate the clarification @jrdodds . My only horse in this race is that I have to do this exact thing (copy source folder into target folder, maintain directory structure) about once every year and a half, and I forget how to do it every time, and google searching brings me here, so I watched this issue.

I don't have a strong opinion on what the solution is, but I like @KirillOsenkov's solutio

[2022-07-29 20:20] jrdodds commented on #5881
@mikerochip It may be a recent change (I haven't looked at the history) but [Example 2](https://docs.microsoft.com/en-us/visualstudio/msbuild/copy-task?view=vs-2022#example-2) in the Copy task documentation is what you need to copy a directory.

[2022-07-29 23:02] mattjohnsonpint commented on #4584
A workaround if you don't want to use 6.0.400 while it's in preview:

[code]

This applies the same effect as was done in #7564, and works for me.

[2022-07-30 03:37] AArnott commented on #6852
Friendly ping on this, @rainersigwald. We have [a VS UI manifesting bug](https://developercommunity.visualstudio.com/t/VS-complains-about-a-project-reference-t/10107719) that I'm *guessing* might not be fixed, so it would be great if we could solve this graph edge problem without creating a ProjectReference item.

[2022-07-30 03:49] Nirmal4G commented on #7856
IMO, The precedence of `TFS` over `TF` should be consistent. I'm actually in favor of making the `ProjectReference`-protocol to support multi-target resolution even if a singular target has already been defined. But  it comes with its own set of problems; not that we can't solve it.

I get it but understand that if `TFS` takes precedence always, setting the `TF` centrally doesn't make all the proj

[2022-07-30 04:43] jrdodds commented on #7697
The `-targets` and `-preprocess` switches are both documented as not executing a build process. However, both will exclude a solution file from their respective operations and then incorrectly build the solution file.

It seems like the first pass of a fix would be to not build when either of these two switches are present. If the file is a solution, then the operation isn't performed because it i

[2022-07-30 09:02] jonathanou commented on #7856
That's a good point!  I did not think about that.  One potential problem I can currently think of is if any project decides to override the default target framework with a different, single, `TF`, they must know to put the override in `TFS`, not `TF`.  But the good thing is modifying `TF` through Visual Studio project UI will correctly modify `TFS` in the csproj file (since Visual Studio prefers `

[2022-07-30 09:16] Nirmal4G commented on #7856
I think they left `TF` alone since a lot of application projects use single target. Only libraries use multiple targets. As I already mentioned, it has a performance penalty, minuscule but still an overhead to be considered, especially in large solutions (> 100 single target projects). Anyway, it's a trade-off that falls on us, maintainers!

[2022-08-01 11:59] Suplanus commented on #6969
Tested with Microsoft.Build `17.2.0` -> Problem is not there anymore.

[2022-08-01 15:34] rainersigwald commented on #7697
Yes. In addition to "listing all the targets", I'd like to see a special case for solutions that also says "We'll make up a target for any target name you specify and pass it to all of the projects in the solution, so this isn't an exhaustive list".

IMO yes, yes, and yes. But this isn't super high pri IMO; I'd be quite happy with "it just errors out and doesn't accidentally build"

[2022-08-01 16:34] jrdodds commented on #7697
@rainersigwald Thanks for the response. Please assign this issue to me.

I wasn't aware that it is now possible to pass a target to the solution that doesn't exist on the solution and that the solution will pass the target to all projects. I have had to work around this in the past. Now I understand the comment about the "dynamically-generated solution targets".

Thanks

[2022-08-01 16:37] rainersigwald commented on #7697
It was implemented in https://github.com/dotnet/msbuild/pull/1497, I believe.

[2022-08-01 18:19] adamsitnik commented on #7643
I can reproduce the issue with Preview5, but not with Preview7. I hope that it's gone for good ;)

[2022-08-01 18:51] TheButlah commented on #6132
Hello, I'd like to second this feature request. Adding git dependencies, optionally pinned to a particular tag, commit, or SHA, is a pretty common feature of package managers. This is especially helpful to avoid needing to self-host a nuget repository.

The arguments for preferring git dependencies over managing submodules in a codebase are very similar to the arguments of nuget dependencies vs ve

[2022-08-02 00:12] Nirmal4G commented on #6132
@jeffkl This could be a feature for MSBuild SDKs. Arcade supports this by having its own dependency management. But not everyone can use Arcade. This could provide a MSBuild based replacement.

[2022-08-02 00:27] ssa3512 opened #7858 "Unhandled exception in MSBuild -- PLEASE UPVOTE AN EXISTING ISSUE OR FILE A NEW ONE"
Increasing number of builds failing on Azure DevOps agents with this message. Any help that can be provided would be great.

[code]

[2022-08-02 07:54] #7730 closed

[2022-08-02 14:27] rainersigwald commented on #7858
Unfortunately an `OutOfMemoryException` can be tricky to chase down, since the codepath where it is thrown is not necessarily where most of the memory is allocated.

Can we start by describing your build more?

* What is your codebase like?
* What version of MSBuild/Visual Studio/dotnet are you using to build?
* Can you observe passing builds? How much memory are they using?

[2022-08-02 14:46] ssa3512 commented on #7858
Codebase is a relatively large solution, 132 projects at the moment. The majority are new style (`<Project Sdk="Microsoft.NET.Sdk">)` style targeting `netstandard2.0` or dual targeting `netstandard2.0` and `netstandard2.1`
38 of the projects are MSTest unit tests targeting net472 and/or net6.0

There are seven old style projects targeting .NET Framework including the one referenced in the error me

[2022-08-02 14:50] rainersigwald commented on #7858
@ssa3512 can you try switching to the 64-bit MSBuild via `VSBuild`'s `msbuildArchitecture: 'x64'` argument? That's usually the cheapest/easiest way out of OOM problems.

That solution size by itself shouldn't be a big problem; we regularly build repos with thousands of projects.

[2022-08-02 15:03] ssa3512 commented on #7858
@rainersigwald Thanks, I wasn't aware of that argument. I am updating our pipeline now and will report back if that helps out.

[2022-08-02 15:09] AR-May commented on #7721
It seems that I ran into the issue as well. The easier repro steps:
[code]
It hangs.

[2022-08-02 22:50] jrdodds commented on #7697
Some observations:
Given a sol.sln that contains projects a.proj and b.proj;

The ability to pass project name and target to the solution (e.g the following code) is [documented](https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-build-specific-targets-in-solutions-by-using-msbuild-exe?view=vs-2022).
[code]

The ability to pass any target to the solution and the solution will invoke the

[2022-08-03 19:39] jeromelaban commented on #460
I don't think I'll be able to use this specific constructor yet as, it would require to bump msbuild to a very recent version that would make some older SDKs fail because of backward compatibility constraints.

The poke through hacks I put in place to clear the caches make my scenario viable for now.

Thanks for looking into it!

[2022-08-03 23:12] Bartleby2718 commented on #3897
@tarekgh I've tried setting `DOTNET_SYSTEM_GLOBALIZATION_USENLS=1`, but the results don't exactly match what I expected. @BenVillalobos Could you please help me understand the results? I have a list of questions at the bottom.

### Command Ran on Git Bash - Linux Container version
[code]
### Command Ran on Git Bash - Windows version
[code]
### Specs for the Windows Machine Used
|Key| Value|
|---|-

[2022-08-03 23:37] tarekgh commented on #3897
Reading these two comments suggests the NLS mode is not enabled correctly. Could you add the following line in your code and send the output?

[code]

[2022-08-04 01:56] ssa3512 commented on #7858
We haven't had any failures since I added the x64 parameter so I think that solved the issue. Thanks so much.

[2022-08-04 14:56] PureWeen commented on #6325
This doesn't work as well when as it relates to multi targeting. We could create a platform dependent permutation of every single project file we have but it'd be nice to be able to just key off of the opening `slnf' to modify the TFMs.

Currently the IDEs hit scenarios where they take a really long time to process a multi targeted sln so it'd be nice to be able to use the SLNF files to target a s

[2022-08-04 14:58] dotMorten commented on #6325
👆would love to be able to simply focus on one platform this way

[2022-08-04 16:09] rainersigwald commented on #7858
Awesome! Please let us know if it doesn't hold out.

[2022-08-04 16:09] #7858 closed

[2022-08-04 16:15] rainersigwald commented on #7842
I just expanded #6419 to cover this case (I agree it's the same root cause with a different task factory).

I'm also changing this bug to be about the suberror `The task factory must return a value for the "TaskType" property.`, which wouldn't be clear even if we correctly said "The CodeTaskFactory failed with error X".

[2022-08-04 16:15] BenVillalobos commented on #6419
That message should specifically _not_ say "could not be _loaded_". Loaded is misleading, especially when it's a compiler error that happened when compiling within the factory.

[2022-08-04 16:19] rainersigwald commented on #7832
@marcpopMSFT don't we have a policy that the analyzers should reference an older Roslyn, congruent with the `minimumMSBuildVersion`?

[2022-08-04 16:24] Forgind commented on #7806
Closing per https://github.com/dotnet/msbuild/pull/7807#issuecomment-1205480652

[2022-08-04 16:24] #7806 closed

[2022-08-04 16:44] rainersigwald commented on #7856
Project files should specify only `TargetFramework` or `TargetFrameworks`, and not both.

Unsetting via `<TargetFramework />` is probably the best you can do here.

There is also a performance implication: the "outer" build triggered when there are only `TargetFrameworks` collects information about the individual `TargetFrameworks` to build, where the "inner" build of a single TF doesn't have to c

[2022-08-04 16:50] Forgind commented on #7828
This sounds fairly straightforward to me. It would be good to check if we can just delay setting the verbosity to diagnostic; if not, we can store the "real" verbosity then use that for that check instead.

[2022-08-04 16:51] tarekgh commented on #3897
Yes, it will still be supported in .NET 7.0. We don't have any plan to abandon NLS support in the near future.

[2022-08-04 16:54] Forgind commented on #7815
...and most of the rest aren't hit too many times per build.

That said, this should be a fairly quick fix, and it would still help, so I'm supportive.

[2022-08-04 16:57] Nirmal4G commented on #7856
@dsplaisted I think the SDK team should come up with something, be it a warning or `ProjectReference` behaviour change. Any solution is fine as long as it's understandable from User PoV.

[2022-08-04 17:02] rainersigwald commented on #7676
@jianyexi I think several of the problems you're encountering could be resolved by generating the files into a folder in the `obj` (`$(IntermediateOutputPath)`) directory, instead of next to the checked-in source. That is the standard approach for generated files.

What's happening now is that at evaluation time, before your target runs, the SDK globs all `**/*.cs` files that exist on disk, includ

[2022-08-04 17:05] Forgind commented on #7800
If the in-memory cache has anything the file state doesn't, it should write it into the file state, so the file state should be complete either way. Guess pre-looking at it: danmoseley's version change sounds plausible, or it could just be that it found the same version at a different path.

[2022-08-04 17:26] baronfel commented on #7832
Yes, this policy is documented [here](https://docs.microsoft.com/en-us/dotnet/core/porting/versioning-sdk-msbuild-vs#targeting-and-support-rules), but I believe aspects of this, especially how it relates to source generators, are still contentious.

[2022-08-04 17:35] tarekgh commented on #3897
One last recommendation to @Bartleby2718 is try **not** to set `System.Globalization.UseNls` in csproj and instead use the environment variable on the Windows build machine. The reason is when setting `System.Globalization.UseNls` in the csproj, will force the app to run using NLS which I don't think you need to do that. We are trying to work around the resource build issue only here and not chang

[2022-08-04 18:46] Bartleby2718 commented on #3897
@tarekgh That makes sense. I think that answers all my questions. Thanks for the prompt responses!

[2022-08-04 18:48] Bartleby2718 commented on #3897
@tarekgh  Actually I do have one more question. I believe there was one more option besides `csproj` and environment variable: `runtimeconfig.json`. Is it recommended or not?

[2022-08-04 18:55] tarekgh commented on #3897
In your case, it is not recommended. This one will have the same effect as if you set the property in the csproj.

[2022-08-04 20:04] jrdodds commented on #7842
@rainersigwald Please assign this issue to me.

[2022-08-04 21:05] Forgind commented on #7800
Small update:
I arbitrarily looked at the second assembly that was "different." Apparently the version was the same, but the lastModified timestamp changed—from 3/26/2018 to 3/27/2018. This was Microsoft.CSharp.dll. The paths were the same, as was everything else about them. My current hypothesis is that there's something different about how timestamps are calculated between when we calculate them

[2022-08-04 21:08] Forgind commented on #7800
The two timestamps are four hours apart. @MarkKharitonov, are you four hours away from UTC, by chance?

[2022-08-04 21:09] marcpopMSFT commented on #7832
Correct, we ask all analyzers to target the baseline version of Roslyn for a given major release so that if customers end up mixing and matching within that major release, they aren't impacted (so 6.0.1xx-6.0.4xx with 17.0-17.3 analyzers).  CC @jaredpar who has opinions here. The main contention is how to make updates that require new Roslyn features more than once a year which we don't have a goo

[2022-08-04 21:17] Forgind commented on #7800
Ok, so we seem to use UTC. I would argue that's better behavior, so if I can find code suggesting VS uses local time for timestamps, I'd suggest we recommend they change that. (I'm not sure if they'll be able to; it might be a breaking change.)

[2022-08-04 21:19] Forgind commented on #7800
The other interesting part of this is that it only seemed to affect some packages. If I'm right, that suggests that some packages' timestamps were recorded in (or converted to) local time, whereas others were UTC.

[2022-08-04 21:27] MarkKharitonov commented on #7800
@Forgind - I am in EST, which is indeed 4 hours off the UTC.

[2022-08-04 21:32] danmoseley commented on #7800
I see no reason for time stamps to be stored in local time. When I travel, it shouldn't trigger a clean build.

One scenario VS might care about though (assuming it is a VS issue) is operating on the same build tree with both an older and newer VS. Presumably switching to the other one spoils not trigger a rebuild either.

[2022-08-04 22:57] Forgind opened #7862 "MSBuild task returned false but did not log an error"
@jordi1215 showed me that the GenerateDepsFile task failed. It had presumably been invoked via an MSBuild task invocation, as it also logged two "MSBuild task returned false but did not log an error" errors. Before logging that error, we should ensure that no task invoked as a result of executing the current task logged an error.

[2022-08-04 23:36] OneOfTheirs commented on #6433
For anyone searched to here. No I have never able to fix the issue with the msbuild version I listed. It could have been fixed by cmake too.

[2022-08-05 09:39] jianyexi commented on #7676
Thanks for the response, is there any way to just skip or change the step of 'including the ones from the last run' when evaluating

[2022-08-05 14:31] rainersigwald commented on #7862
Can you elaborate on this please?

[2022-08-05 15:26] Forgind commented on #7862
I didn't spend any time investigating, but at a glance, it looked like:
MSBuild task invoked, specifying some target -->
target includes GenerateDepsFile task, which fails and logs an error, then returns false -->
MSBuild task returns false but doesn't log an error.

I seem to remember we had some logic to prevent this from happening, but I'm wondering if that's broken in some way. I should've ask

[2022-08-05 16:55] Forgind commented on #7862
Sadly, he didn't. This probably isn't actually actionable.

[2022-08-05 16:55] #7862 closed

[2022-08-05 22:44] yuehuang010 opened #7864 "Serialization of Targets when awaiting for a single target"
### Issue Description
An behavior when building a "Fast" and "Slow" target, when a project reference for "Fast" target, the build waits for both "Fast" and "Slow" to finish.  This blocks P2P from continuing when "Fast" is done.

### Steps to Reproduce
Attached binlog with projects.  [BuildWorkers.zip](https://github.com/dotnet/msbuild/files/9273865/BuildWorkers.zip)

msbuild.exe /m Solution.proj

[2022-08-05 22:56] jrdodds commented on #5881
Invoking the `Copy` task with the `RecursiveDir` metadata is invoking task batching.
[code]

Task batching will invoke the `Copy` task for each 'batch'. I haven't tested but it seems likely, especially for a source directory with many sub-directories (and hence many unique `RecursiveDir` values each of which will be a separate batch), that an option that bypasses batching will perform the copy fas

[2022-08-06 19:34] jrdodds commented on #5881
# Design Proposal

This issue is currently tagged as 'needs-design'. This is a possible way that the feature request could be satisfied.

## Background

For source and destination, the `Copy` task currently has the following parameters:

| Name | Req or Opt | Type | Note |
| :--- | :--- | :--- | :--- |
| SourceFiles | Required | ITaskItem[] | |
| DestinationFiles | Optional | ITaskItem[] | is an e

[2022-08-06 20:52] jrdodds commented on #7697
- [ ] Don't build a solution when -preprocess or -targets is passed on the command line
- [ ] Support -targets for a solution

[2022-08-08 11:22] felix-ri opened #7865 "Control CopyLocal of transitive dependencies with single Metadata"
### Goal
- The goal is to use a single ItemMetadata on the ProjectReference to control, whether the referenced Project and all its dependencies are copied to the output or not (this includes Nugets as well as other Projects).

### Usecase
- an Application with Plugins, where the Plugins should compile against some API Projects
- in a single Solution
- the API Projects themselves have references to

[2022-08-08 12:32] MichalPavlik opened #7866 "Using String Tools to intern strings in ProjectRootElement cache"
See this comment for more context: https://github.com/dotnet/msbuild/issues/460#issuecomment-1198318841

[2022-08-08 12:32] #460 closed

[2022-08-08 12:35] MichalPavlik commented on #460
We closed this issue and created new ticket with changes described by @rokonec. Feel free to reopen it.

[2022-08-08 21:59] rainersigwald commented on #3145
@AR-May this is related to the request from @olgaark.

[2022-08-08 22:11] MeikTranel commented on #7665
I think i found a good solution to have some test coverage - sorry that it took so long - got super distracted and kind of forgot that i still had this laying around.

[2022-08-09 00:27] MattGal opened #7870 ""Broken pipe" errors from tasks calling Process.Start() in latest 17.4.0-preview MSBuild"
### Issue Description
As part of investigating https://github.com/dotnet/arcade/issues/10311, I realized that there seems to be some kind of change in MSBuild, where build tasks that call Process.Start fail due to non-zero exit code.  Digging in, all the errors were from scripts being run getting "broken pipe" type errors on Linux.  I swapped out the entire "bad" .NET Core runtime used into the "g

[2022-08-09 00:49] baronfel commented on #7870
@MattGal can you try rerunning your impacted build with the environment variable DOTNET_CLI_DO_NOT_USE_MSBUILD_SERVER set to `true`? There was a bug on linux in the new MSBuild server functionality that was addressed in https://github.com/dotnet/msbuild/pull/7860 (though that may not have flowed all the way yet).

[2022-08-09 15:13] MattGal commented on #7870
Yup, setting this true/false works like an on/off switch for the repro... feel free to close this as dupe of that.

[2022-08-09 15:16] baronfel commented on #7870
Great! Well, not great, but I'm glad you're unblocked. Can you make a note to try reverting that change in like a week? We'd like the MSBuild Server daemon to be the default as much as possible once the kinks are worked out.

[2022-08-09 15:16] #7870 closed

[2022-08-09 15:49] MattGal commented on #7870
In this case the changes never got merged to take a newer SDK, so given there's a subtle msbuild bug in this particular SDK I think all we have to do is wait for the fixed version.

[2022-08-10 13:00] HavenDV commented on #2281
Is there a way to set the module attribute via MSBuild?
[code]

[2022-08-10 15:32] madelson commented on #3897
Just another point of context on why supporting `zh-CN`/`zh-TW` would be valuable; this is the format that our translations management tool uses/expects: https://help.smartling.com/hc/en-us/articles/360049532693-Supported-Languages-

[2022-08-10 16:34] akoeplinger commented on #5982
@vijaya-lakshmi-venkatraman do you still plan to work on this issue or should we put it back into the backlog?

[2022-08-10 17:09] khamza85 opened #7872 "AzDO DotNetCoreCLI@2 task fails during pack"
We installed MSBuild version 17.3.0+92e077650 in our build agent. Then this AzDO task started failing
[code]

Here is what the AzDO task generates:
[code]
and this is the error we get
[code]

This however used to work with MSBuild version 17.2.0+41abc5629.

The only workaround is to use a custom command for DotNetCoreCLI@2 task:
[code]

[2022-08-10 17:13] baronfel commented on #7872
This is a bug in the SDK, not MSBuild: https://github.com/dotnet/sdk/issues/27059

[2022-08-10 17:13] #7872 closed

[2022-08-10 21:08] Forgind commented on #7865
You should be able to set CopyToOutputDirectory to Never, but I found an open issue that that doesn't work:
#4795

Closing this as a duplicate, but feel free to ping on the other issue. (I added needs-triage to it just now, so we'll hopefully pick it up in the next triage meeting.) Thanks for the report!

[2022-08-10 21:08] #7865 closed

[2022-08-10 22:12] Wraith2 opened #7873 "MSBuild with target netfx48 temp files present fails with Missing Method."
### Issue Description
Using a roslyn CodeAnalysis project running on net48 attempting to load a project also targetting net48 will fail to load dependencies caused by a missing method `Method not found: 'System.ReadOnlySpan`1<Char> Microsoft.IO.Path.GetFileName(System.ReadOnlySpan`1<Char>)'` if the target project has already been compiled and has bin/obj directories present.

### Steps to Reproduc

[2022-08-10 22:50] payn-git opened #7874 "Projects compiled over BuildManager dont have roslyn analyzers executed"
### Issue Description
When compiling project over BuildManager.DefaultBuildManager.Build, configured roslyn analyzers are not executed and build will not report any issues. When exactly same project is compiled over command line msbuild analyzers are executed correctly and warnings\errors are reported.

Attaching bin logs from project compilation from command line and from code over BuildManager f

[2022-08-10 23:37] #7466 closed

[2022-08-11 01:03] rainersigwald opened #7875 "Log helper methods should support a custom string interpolation handler"
C# 10 supports [string interpolation handlers](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/tutorials/interpolated-string-handler) that enable efficient behavior with calls like (from their examples):

[code]

This would be really nice to have in `Log.LogMessage` and related APIs.

[2022-08-11 06:50] felix-ri commented on #7865
- CopyToOutputDirectory didn't help.
- I also don't think CopyToOutputDirectory works on ProjectReferences.
- My problem isn't, that I can't prevent the direct ProjectReference from being in the Output dir.
- My problem is, that I can't prevent the indirect Project and PackageReferences from being in the Output dir. (with Metadata on the first reference)

[2022-08-11 08:34] #3897 closed

[2022-08-11 08:57] MichalPavlik commented on #7815
I will have to measure, how many allocations we have during normal build without errors. Boxing of value types can be omitted by using generic arguments (I don't think custom interpolation handler is supported in NETFx 3.5). It's pretty easy and small change like this:

[code]

[2022-08-11 08:57] stan-sz opened #7876 "Expose File IO API for tasks"
Writing custom MSBuild tasks that involve file IO operations involves calling `System.IO.File` directly or using `System.IO.Abstractions` for testable code. It would be handy for task authors to have the IO API exposed via either `Task`/`TaskExtension` base class or using the currently-inernal `FileSystems` static class as in:

https://github.com/dotnet/msbuild/blob/8b24a1bc3017ce78ecd6f21efb4e2c1

[2022-08-11 13:55] rainersigwald commented on #7815
This is true but historically we have prioritized debuggability + modern .NET performance over net35 performance, if it gets to cleaner better code. For instance see my "just copy the whole thing on any write operation" implementation of `ImmutableDictionary`.

My instinct is that these `CommunicationsUtilities` methods are called infrequently enough that it doesn't much matter. If we go the custo

[2022-08-11 13:58] rainersigwald commented on #7865
Duplicate of #4371

[2022-08-11 13:59] rainersigwald commented on #7865
@felix-ri please see #4371 for details about that scenario.

[2022-08-11 16:29] BenVillalobos commented on #7876
To be clear, what part of the API exactly are you asking for? Is it only `FileSystems`?

[2022-08-11 18:13] stan-sz commented on #7876
Yes, FileSystems

[2022-08-11 19:22] payn-git opened #7878 "AssemblyName.exe.withSupportedRuntime.config files generated after migration to SDK style projects"
### Issue Description
We have exe type projects which are part of our pipeline which during compilation produce AssemblyName.exe and AssemblyName.exe.config files. After migrating those projects to SDK style projects while target type or frameworks didn't change. System started to generated additional files with "exe.withSupportedRuntime.config" which are not expected by integration pipeline and b

[2022-08-11 20:26] rainersigwald commented on #7865
@felix-ri can you try `ExcludeAssets="runtime"`?

[2022-08-11 21:16] felixpelletier commented on #455
Still having this issue in 2022. In our case it's when using the command `dotnet restore -p:UseSharedCompilation=false src\Solution.sln`

[2022-08-11 23:10] Forgind commented on #7878
This seems like an SDK concept:
https://github.com/dotnet/sdk/blame/main/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.GenerateSupportedRuntime.targets
Moving there.

[2022-08-12 08:21] felix-ri commented on #7865
This has the same effect as `<IncludeAssets>compile</IncludeAssets>`: LibB is still in the output.

[2022-08-15 08:48] alexxie opened #7946 "Windows container build error on .Net 6.0.8"
My WebAPI project that contains an embedded RESX. The windows container build failed with the following error. This error started when using .Net 6.0.8 as base.

[code]
Docker file is attached.
[Dockerfile.txt](https://github.com/dotnet/core/files/9336095/Dockerfile.txt)
.

[2022-08-15 13:43] Bartleby2718 commented on #3897
@tarekgh I see that a PR has been merged to fix this issue.
1. In which .NET 7 preview will this be available?
2. How do you suggest that I test that the PR does indeed fix the issue? Should I install the upcoming preview and test using that?

[2022-08-15 15:41] tarekgh commented on #3897
@BenVillalobos could you please help answering @Bartleby2718  questions?

[2022-08-15 16:56] BenVillalobos commented on #3897
@Bartleby2718 Testing should involve running builds that previously didn't output resources for aliases like zh-TW and ensuring you see the expected output.

Based on how the SDK flows, it should be available whenever the next release is available. In a few days I believe

[2022-08-15 17:21] marcpopMSFT commented on #3897
There should be a new daily build available in a few days but the next official release (RC1) won't be available until September.

[2022-08-15 17:51] erinlah-ms opened #7886 "Regression, .400 msbuild reports error on duplicate PackageVersions"
### Issue Description

After upgrading to 6.0.400 version of SDK, dotnet restore fails on all our project. We had (benign) duplicate entries. This worked fine on 6.0.302, but now on 6.0.400 this results in build failures.

### Steps to Reproduce

https://github.com/erinlah-ms/bug-repros/tree/main/repro-packageversiondup

1. install just 6.0.302 sdk
2. clone folder linked above
3. cd original
4. do

[2022-08-15 17:55] erinlah-ms commented on #7886
@jaredpar Bug as requested.

[2022-08-15 17:58] jeffkl commented on #7886
This should probably be moved to NuGet, the functionality was added here: https://github.com/NuGet/NuGet.Client/pull/4484

/cc @nkolev92

[2022-08-15 18:07] jaredpar commented on #7886
Thanks for filing @erinlah-ms

I can't transfer issues between organizations so I re-filed the issue in NuGet Client with the same information.

https://github.com/NuGet/Home/issues/12022

Closing as that will be the primary

[2022-08-15 18:07] #7886 closed

[2022-08-15 23:34] Forgind commented on #7743
I felt like looking into this, and I don't think it's doable _perfectly_ without a breaking change. I don't know if it's a big breaking change; I'd guess small, but I'm not sure. Here's why:

My first thought was skipping making a second dictionary at all and adding a GlobalPropertiesContains function/property to ProjectImpl, but that would require changing ProjectLink as well, since Project techn

[2022-08-16 09:18] felix-ri commented on #7865
however putting the `ExcludeAssets="runtime"` in a ItemDefinitionGroup works:
[code]
Should it matter, if it's declared on the ItemGroup (specific ProjectReference) or on an ItemDefinitionGroup (generally for all ProjectReferences)?

[2022-08-16 09:20] WenJunJi01 commented on #7721
This issue cannot repro with dotnet-sdk-7.0.100-rc.1.22415.27-win-x64 today.
![image](https://user-images.githubusercontent.com/87680983/184837405-4bbab8c3-8bcf-45bd-ace3-537d6e66b580.png)

[2022-08-16 13:32] MichalPavlik opened #7888 "Measure ARM64 performance"

[2022-08-16 13:36] MichalPavlik opened #7889 "Analyze ARM64 performance results"

[2022-08-16 13:39] MichalPavlik opened #7890 "Analyze traces related to JIT regression on ARM64"

[2022-08-16 13:42] MichalPavlik opened #7891 "Fix ARM64 regressions"
- [ ] https://github.com/dotnet/msbuild/issues/7890

[2022-08-16 13:49] phishyYy commented on #5874
I am experiencing the same issue right now.

In the stack overflow original thread the solution for now is to run zip unpacking and then run powershell to rename the file being encoded then repack it again.

This is not an option for me at all since I have loads of files using swedish letters åäö.

This should really not be an issue, why would msbuild even go in and change encoding of my files in

[2022-08-16 13:56] baronfel commented on #5874
This is related to the MSDeploy publishing task, which is part of the SDK. I'll move to that repo for triage.

[2022-08-16 17:45] #7665 closed

[2022-08-16 19:38] admalledd commented on #7749
Is there a timeline on the Nuget updates? If I am following correctly VS updated to 17.3 and netcore SDK 6.0.400 uses 17.3, however the packages are not yet on Nuget. I see release tag https://github.com/dotnet/msbuild/releases/tag/v17.3.0 but no https://www.nuget.org/packages/Microsoft.Build#versions-body-tab (and related packages)

[2022-08-17 14:47] MaceWindu opened #7892 "MSBuild task with TargetFramework property broke in 17.3"
### Issue Description

We have following project configuration:
- Project1 is C# analyzer project with `TargetFrameworks=netstandard2.0`
- Project2 is multi-target project with `TargetFrameworks=net48;net6.0` that also reference analyzers
- msbuild target that calls `MSBuild` task for `Project2` with `TargetFramework=net48` as additional property

After update to 17.3 build target start to fail wi

[2022-08-17 14:58] MaceWindu commented on #7892
Actually workaround also fails softly - it builds analyzers with `net48` target.

[2022-08-17 16:07] MaceWindu commented on #7892
As workaround we switched to `dotnet build` calls from `Exec` task

[2022-08-17 21:26] craigktreasure commented on #7832
It was already affecting 17.3.0.

[2022-08-17 21:44] Forgind commented on #7749
I think we can release 17.3 now? It's historically been a very manual process. I've been trying to automate it so we just hit one button, and it publishes to NuGet, but that isn't working yet. Sorry for the delay!

[2022-08-18 05:31] Leon99 commented on #1475
@dsplaisted we ran into an issue that looks related: we can't use the following trick
[code]
because VS doesn't show the file in Solution Explorer. Can you confirm that #1616 covers that, and if it's ever going to be solved?

[2022-08-18 06:58] Qwertyuiop9876543210 opened #7894 "MSBUILD error"
In Asp.Net MVC Core with EF 6 is throwing the MSBUILD : error while trying to Add Controller through Scaffolding Item with Views using Entity Framework

[2022-08-18 11:20] mkielek opened #7895 ""Scoped" word is forbidden since MSBuild version 17.3.0+92e077650"
### Issue Description
Using "scoped" identifier in deconstructed tuple doesn't compile. Errors:
CS1001 Identifier expected
CS0246 The type or namespace name 'scoped' could not be found (are you missing a using directive or an assembly reference?)

It happens when calling an extension method accepting a Func with generic arguments.

### Steps to Reproduce
`dotnet new console`
replace Program.cs wit

[2022-08-18 13:09] li-zhixin opened #7896 "build is slow, any suggestions?"
### Issue Description

Recently members of our team have been complaining about the slow compilation process and I was wondering if there were any ideas/suggestions/guidance to help us solve this problem.

### Data

[code]

[msbuild.binlog.zip](https://github.com/dotnet/msbuild/files/9374038/msbuild.binlog.zip)

### Versions & Configurations

MSBuild version : `17.4.0`

[2022-08-18 16:16] BenVillalobos commented on #6150
@evelynwu-msft  Double checking the status of the workaround here. I[It sounds like](https://github.com/microsoft/microsoft-ui-xaml/issues/4351#issuecomment-799759824) this workaround won't be sufficient in the future. Is that the case?

[2022-08-18 16:48] BenVillalobos commented on #7874
@jaredpar is this expected?

[2022-08-18 16:54] #7757 closed

[2022-08-18 16:55] BenVillalobos commented on #7615
@jtorvald friendly ping :)

[2022-08-18 16:58] BenVillalobos commented on #7397
Closing, feel free to reopen

[2022-08-18 16:58] #7397 closed

[2022-08-18 17:36] dsplaisted commented on #1475
I'm not sure if that's the same issue.  I don't think we have any near term plans to make changes here.

You might look at how .NET Maui projects handle files which are specific to given target frameworks and try following that pattern.

[2022-08-18 17:55] BenVillalobos commented on #7892
I can successfully repro. Some questions:

What version of MSBuild did you update from?

Can you provide a binlog of the regressed scenario with the older version of MSBuild?

Did your version of the SDK change during this update?

[2022-08-18 18:58] Forgind commented on #7598
Just noting this is blocked on https://github.com/dotnet/msbuild/pull/7790

[2022-08-18 19:06] Forgind commented on #7894
Can you provide details of what you did, what you expected, and what you saw? Was there any more information?

[2022-08-18 19:12] Forgind commented on #7876
FileSystems is exposed publicly through MSBuildFileSystemBase. Its methods are virtual, so you can override them if you wish; otherwise, it uses defaults from FileSystems.

[2022-08-18 19:12] #7876 closed

[2022-08-18 19:20] Forgind commented on #7875
I'm unclear on what the goal is here. Many of our logging helper methods call into our localized resources, so we couldn't do anything as clean as the example you shared. What are you thinking?

[2022-08-18 20:41] jtorvald commented on #7615
@BenVillalobos thanks for the reminder. I have a binlog. I don't see an option to mark the issue private on the developercommunity. I prefer not to have it public.
I have an enterprise license so I could also create a ticket elsewhere maybe?

[2022-08-18 20:43] Forgind commented on #5959
We haven't had any high-priority customer reports, and .NET 3.1 will be out of support in a few months. Should we just close this as won't-fix?

[2022-08-18 21:04] yuehuang010 commented on #7896
Have you tried [Binlog Viewer](https://msbuildlog.com/)?  There is now a trace view that can shine some light.
Generally, the two ways to speed up a build is to 1) Do less work or 2) Do more work in parallel.  Are projects building that shouldn't need to build?  Are projects unable to start because it is waiting for another project to start?

[2022-08-18 21:04] marcpopMSFT commented on #7832
@ericstj @chsienki do ya'll know who owns this particular analyzer and are they working on changing the targeted roslyn version (or is there other guidance here)?

[2022-08-18 22:35] chsienki commented on #7832
@marcpopMSFT Believe this is one of the built in Roslyn analyzers. They're actually compiled against Roslyn source, not NuGet packages, so seems like they're always going to risk being out of sync.

This feels like a very difficult problem to solve if we're going to keep supporting a newer SDK running on an older MSBuild, as we essentially have an atomic product being split between two delivery ve

[2022-08-18 22:44] BenVillalobos commented on #7892
cc @dplaisted does this ring any bells/seem like an SDK issue?

[2022-08-18 23:05] Forgind commented on #7873
This is definitely funky! I could reproduce this perfectly. I fully closed VS afterwards then reopened CodeAnalysisApp2.sln, and it failed again, despite having succeeded when I ran it the first time. I also tried just running CodeAnalysisApp2 twice, and it succeeded both times. To me, that means building ConsoleApp2.sln somehow corrupts some local file cache that affects CodeAnalysisApp2.sln, but

[2022-08-19 00:37] Leon99 commented on #1475
Thanks for the idea @dsplaisted!
Could you point me in the right direction? I can see a bunch of platform-specific files in the MAUI template project, but there's nothing in .csproj that would reference them:
![image](https://user-images.githubusercontent.com/6840381/185517935-ee870569-bd96-4326-86f7-804b0d38c94d.png)

[2022-08-19 07:30] phishyYy commented on #6165
Any solution to this issue? Seems the thread died about a year ago without a solution.

[2022-08-19 09:07] sandrosuter commented on #6165
I also had this problem in the past and then searched for a long time what is wrong here.
I then found out that there is also a coding for Zip File.

Especially with Powershell it did this differently than when I created it with via the GUI.
I then found the following zip command that works for me today.

`Add-Type -Assembly 'System.IO.Compression.FileSystem'
$enc = [System.Text.Encoding]::GetEnco

[2022-08-19 11:28] MaceWindu commented on #7892
Yes, both SDK and MSBuild versions changed, but I made tests with older versions:

[code]

binlog [msbuild.17.2.1.zip](https://github.com/dotnet/msbuild/files/9381716/msbuild.17.2.1.zip)

After build tools update:

[code]

binlog [msbuild.17.3.0.zip](https://github.com/dotnet/msbuild/files/9381749/msbuild.17.3.0.zip)

[2022-08-19 14:36] dsplaisted commented on #1475
@jonathanpeppers @Redth @mattleibow Could you point to some information on how .NET Maui apps handle files which are specific to a given TargetFramework, while ensuring they all appear in solution explorer?

[2022-08-19 14:45] jonathanpeppers commented on #1475
This is the latest we ended up with: https://github.com/dotnet/maui/pull/6681

@tmeschter might also have some details.

[2022-08-19 16:16] ptsoccer opened #7898 "Assembly manifest issues when building with OutputPath"
### Issue Description
I have a solution that has a mix of EXEs and DLLs that I want to build to a single folder to deploy. I use the OutputPath property in msbuild to accomplish this. The issue I'm having is, when there different nuget packages referencing different versions of the same DLL, it likely ends up with one EXE ending up in a situation crashing at runtime because the assembly version do

[2022-08-19 19:49] BenVillalobos opened #7899 "Refactor How MSBuild Finds its Family"
### Issue Description
This entire function should be rewritten to be simpler.

https://github.com/dotnet/msbuild/blob/b8d947fbe9e0fe1daed2cc06fa9d9c9344a51e61/src/Shared/BuildEnvironmentHelper.cs#L504

[2022-08-19 21:21] jaredpar commented on #7874
I'm not familiar with `BuildManager.DefaultBuildManager.Build` or what the implications of it are. Do we have it documented anywhere?

@mavasani

[2022-08-19 22:17] danmoseley opened #7900 "Consider renaming "up-for-grabs" label to "help wanted""
It is specially recognized by Github. See context https://github.com/dotnet/runtime/issues/71496

You'll want to make sure you update upforgrabs.net if necessary, with a PR like https://github.com/up-for-grabs/up-for-grabs.net/pull/3320

cc @mairaw

[2022-08-19 22:41] tmeschter commented on #7873
I've also seen this. I have VS 17.4.0 Preview 2.0 (specifically, main 32815.74) and the executable is using the Microsoft.Build.Locator package to try to load a project via `ProjectCollection.LoadProject`. Using the debugger I've verified that the process is picking up Microsoft.Build.dll from C:\Program Files\Microsoft Visual Studio\2022\main\MSBuild\Current\Bin\Microsoft.Build.dll which is what

[2022-08-19 23:48] Wraith2 commented on #7873
As I noted in the original report it worked fine on 17.2 and broke on 17.3. I wrote the project one day and had it working, i updated vs when it closed and then the next day it started to fail. It was quite a surprise.

[2022-08-22 07:05] vijaya-lakshmi-venkatraman commented on #5493
Hi,
Is this still available?

[2022-08-22 07:08] vijaya-lakshmi-venkatraman commented on #5982
Hi @akoeplinger
yes, I have the changes locally but been trying to figure out reg CLA.
Hoping to merge and raise a PR soon.

[2022-08-22 11:50] MichalPavlik commented on #7793
It seems setup sets `vsn.exe.config` as default config file. It's weird that config for the specified exe (when exists) is overridden by vsn unless someone explicitly configure it in `swr`.

[2022-08-22 12:18] AR-May commented on #7896
@li-zhixin hello! We have noticed from the binary log that you use only one core to build the project. You might consider adding `/m` as a parameter to make MSBuild work in parallel. That might improve the performance. Also, why do you use the `/t:rebuild` parameter for the build? Are you interested in the rebuild scenario specifically, or the [incremental build](https://docs.microsoft.com/en-us/v

[2022-08-22 12:24] li-zhixin commented on #7896
@yuehuang010 Thanks for your reply, I have tried Binlog Viewer. The strategic suggestions are easy to agree on, but what bothers me is about how to go about it.

[2022-08-22 12:44] li-zhixin commented on #7896
1. Rebuild is used simply to ignore the previous build cache to show the time consumed by a fresh build.
2. The /m parameter has been added before. In practice, the builds that plagued our team occurred during development, which meant using Vistual Stuido for builds, which had parallel build turned on by default.

The reason I feel that incremental builds do not have much impact on improving the b

[2022-08-22 12:51] AR-May commented on #7864
@rainersigwald, could you please take a look?

[2022-08-22 14:16] rainersigwald commented on #5493
@PeteBoyRocket sorry! I was out on parental leave when you posted and it looks like the team missed this :( Since that was two years ago I'm going to assume you've moved on, as only makes sense . . .

@vijaya-lakshmi-venkatraman Yes, I'll assign this to you. As @KalleOlaviNiemitalo mentioned, the URLs can be hardcoded in source, as long as they're fwlink or `aka.ms` links; Microsoft employees can

[2022-08-22 14:54] rainersigwald commented on #7900
No objection here. @baronfel/@benvillalobos?

[2022-08-22 14:58] baronfel commented on #7900
None at all - I actually did this in the SDK over the weekend (since we had both sets of tags already, likely from an issue transfer).

[2022-08-22 16:51] rainersigwald commented on #7874
It's an MSBuild concept happening above the Roslyn compiler layer. All builds run through a `BuildManager.Build` call (with varying indirection) and `DefaultBuildManager` is the default. Roslyn is not at fault here.

@payn-git There are a few problems with your approach:

[code]

The result of evaluating the project from _before restore_ is being cached and reused when running `Rebuild`. That stat

[2022-08-22 17:53] BenVillalobos opened #7902 "Refactor code around obsolete AssemblyName members"
### Issue Description
[Porting MSBuild to net7.0](https://github.com/dotnet/msbuild/pull/7790) unfortunately runs into [deprecated AssemblyName members](https://docs.microsoft.com/en-us/dotnet/fundamentals/syslib-diagnostics/syslib0037) errors. It looks like resolving these newly-obsolete members is going to be an involved change. @Forgind has started a thread asking about how we can get a dll's p

[2022-08-22 18:50] benvillalobos opened #7903 "Microsoft.CodeAnalysis.PublicApiAnalyzers disabled after moving to .NET 7"
### Issue Description
[Transitioning MSBuild to net7.0](https://github.com/dotnet/msbuild/pull/7790) has raised strange issues from roslyn api analyzers. RS0016 and RS0017 come up as issues but the issues don't seem to make sense. The complaints are about API's not existing (despite them existing). Maybe I'm missing something.

[2022-08-22 18:52] BenVillalobos commented on #7900
I support this move. `help wanted` is much more intuitive.

[2022-08-22 19:21] rainersigwald commented on #7896
Since the C# compiler took 57.3 seconds of the 67.7 second build, I'm going to move this over to the compiler repo.

However I do see a few things that are likely to affect performance:

This is very plausible to me!

[code]

You're referencing this in a few of your projects, and it can have a large impact on compilation time because it disables the use of the Roslyn [compiler server](https://gith

[2022-08-22 19:51] mairaw commented on #7900
You can just rename the labels and check if you have any docs that point to the old label.

[2022-08-22 20:58] dreddy-work commented on #5750
Trying to get traction on this. We are seeing increasing customer reports seeking Visual Studio's Choose Toolbox Items dialog support for Winforms (and I assume WPF too) .NET projects.

@rainersigwald / @BenVillalobos , any updates to this request?

[2022-08-22 21:55] marcpopMSFT commented on #7832
Is it possible for the analyzer to turn itself off if run with a version of roslyn it doesn't support? I think we're getting further down the path that it may be hard to build against the right version every time but if we could create a light-up experience, that would provide a better error and migration experience.

[2022-08-22 23:24] BenVillalobos commented on #7760
This includes a traversal project that simply references all project recursively, and an AnyCPU csproj that references a vcxproj with explicit SetPlatform metadata.
Expected: When the dirs.proj is built, the vcxproj builds once, as its only platform (x64).
Traversal projects should build all platforms of the projects they directly reference.
Actual: The vcxproj builds twice: once (successfully) be

[2022-08-22 23:45] KirillOsenkov commented on #7832
What do we think about my proposal about shipping the analyzers next to the compilers in MSBuild toolset, so that they’re always matching by definition? Not sure why they are in the SDK to begin with.

[2022-08-23 02:57] anchurcn opened #7905 "[Localization] incorrect build success msg in Chinese"
[Build: 0 succeeded, 0 failed, 1 up-to-date, 0 skipped]
should be
“生成”: 1 成功，0 失败，0 最新，0 已跳过
not
“生成”: 1 成功，0 失败，0 更新，0 已跳过

[2022-08-23 04:07] jaredpar commented on #7832
That only fixes part of the problem. Essentially it fixes the problem for these operators but doesn't solve the problem for analyzers in general. That is becoming an increasing problem.

The root problem is that analyzers / generators in the .NET SDK have to be hardened to run against many different versions of the Roslyn API surface. That is a very tall ask for most analyzers. I think we really n

[2022-08-23 14:58] #7888 closed

[2022-08-23 16:21] Forgind commented on #7126
We looked at this with a few people on the team and decided it isn't an avenue worth pursuing. Only one SDK task actually resolves similar data to RAR, and that one task only does so for a few assemblies per build, so merging the cache infrastructure would likely be more work than it's worth.

[2022-08-23 16:21] #7126 closed

[2022-08-25 08:52] jakubcermak opened #7910 "Build fails for transitive nuget references, introduced in 17.3"
# Issue description
If a .Net Fw project A has reference to a netstandard2.0 project B that references a nuget that is used in project B but not project A however project A uses classes from project B it fails to build.
It works on version 17.2, this behavior was introduced in 17.3.0.

# Example
[BuildBugMinimalExample.zip](https://github.com/dotnet/msbuild/files/9423017/BuildBugMinimalExample.zip

[2022-08-25 09:29] odalet opened #7911 "Dependent project does not generate nuget package when multiple TFMs"
### Issue Description

Consider this scenario:

* Lib1.csproj multi-targets `net48` and `net6.0` and has `GeneratePackageOnBuild` set to `true`
* Lib2.csproj does the same
* Lib1.csproj references Lib2.csproj (both are part of the same solution)

Now, let's `dotnet build Lib1.csproj`:

* It generates Lib2 assemblies (one for each target),
* It genrates Lib1 assemblies (one for each target)
* It ge

[2022-08-25 13:55] rainersigwald commented on #7875
It's not about _our_ logging; it's about the logging API we provide to tasks.

[2022-08-25 14:24] rainersigwald commented on #7873
Thanks for the repro project, that plus another nice repo from a Microsoft-internal person really helped me understand what's going on here, which is this:

1. Roslyn 4.2 has (transitive) dependencies on System.Memory 4.0.1.1 (from package version 4.5.4).
2. MSBuild 17.2 has (transitive) dependencies on System.Memory 4.0.1.1 (from package version 4.5.4).
3. MSBuild 17.3 has dependencies on System.

[2022-08-25 16:18] rokonec opened #7913 "MSBuild Server - braking change detected - custom task runs child process"
### Issue Description
When custom task runs child process, such as here https://github.com/dotnet/arcade/blob/258a37cd6a7884f771d0f991d9f24d29e292abd0/src/Microsoft.DotNet.Arcade.Sdk/src/InstallDotNetCore.cs#L137-L142 , such processes started from task running at MSBuild server node or worker node will be unattached from stdout/err pipe and outputs from such processes will not make it to target de

[2022-08-25 16:21] rokonec commented on #7913
@rainersigwald @baronfel @MattGal
Since there is not possible fix at MSBuild side, we shall discuss how to approach and document this.

[2022-08-25 16:51] BenVillalobos commented on #7911
MSBuild Team Triage: This is by design. The workarounds here are to build each project individually or to build the solution itself.

[2022-08-25 16:51] #7911 closed

[2022-08-25 16:52] BenVillalobos commented on #7905
cc @cristianosuzuki77

[2022-08-25 16:58] BenVillalobos commented on #7902
Relevant code: https://github.com/forgind/msbuild/tree/net7.0-here-we-go

The current pain point is figuring out a way to correctly check processor architecture of files in a _multi-platform_ sort of way.

[2022-08-25 17:08] rainersigwald commented on #7910
This is caused by a C# compiler behavior change. I tried building the repro project with the 4.2 (VS 17.2) compiler with the current MSBuild + NuGet and it works ok:

[code]

Note that by default NuGet package references are transitive; what's happening in this case is that `ClassLibrary2.csproj` doesn't have any `PackageReference` items and NuGet can't infer that it should be restored at all, so

[2022-08-25 18:42] rainersigwald commented on #7911
Including @aortiz-msft as FYI for the NuGet side.

This is exactly the cause. When referenced by another project, we don't build the "outer build" of that project, because we may not need _all_ of the TargetFrameworks inside it. Instead, we build only what we need for a specific reference.

Building a solution/traversal project that invokes the "outer build" for both projects works because in mult

[2022-08-25 22:34] lifengl commented on #7743
I wonder you need a breaking change to introduce new method to ProjectLink. It is an abstract class, which allows us to define new virtual method (not abstract method), and default implementation can fall back to the original abstract property.

[2022-08-25 22:36] Forgind commented on #7743
We should be able to do that. Does that mean you are making your own ProjectLink rather than using our ProjImpl?

[2022-08-25 23:34] Forgind commented on #7576
Is this still an issue you're hitting? Were you ever able to retrieve logs?

[2022-08-26 08:27] oriches commented on #7892
Came across this thread whilst looking for answers....

I have a TeamCity build agent which was building perfectly fine with MS Build 17.1.0+ae57d105c but after update to MSBuild 17.3.1+2badb37d1 is now failing to build with error NETSDK1112.

Building win10-x64 app targetting .Net 6.0.

[2022-08-26 13:45] jrdodds commented on #7576
I just retested with `./build.sh -test` and this is still an issue.

I will work on retrieving the logs. I haven't retried with the more detailed instructions.

[2022-08-26 14:25] rainersigwald commented on #7913
question: were these tasks already broken if run in a worker node (not the entry-point node)?

[2022-08-26 15:13] MattGal commented on #7913
Not sure,  but the code in question ran across a wide variety of build scenarios in linux for years before this ever started to matter.

[2022-08-26 19:25] rokonec commented on #7913
These tasks would probably fail if run from worker node, but it might have been that these have had always run from entry/in-proc node. For example in failing https://github.com/dotnet/aspnetcore/pull/43028 the command is `dotnet build .... Build.proj` which always run in in-proc node.
That being said, I do believe that such Tasks are fragile, and customers should consider to rewrite them into mor

[2022-08-27 16:01] odalet commented on #7911
@rainersigwald : does your labeling means I should open a bug in the nuget repository? I clearly feel there's a functional hole here (as honestly the scenario I describe should just work as it does if I were to not multi-target) but maybe the MSBuild repo is not the good place for it?

[2022-08-27 18:37] #7793 closed

[2022-08-28 01:04] wangrd commented on #7792
I have used the spread farpoint for winform 8.0. as I know it's a com component.

[2022-08-28 09:29] VEGAXS opened #7918 "MSBuild c++ error link1112"

[2022-08-28 19:02] #7605 closed

[2022-08-28 21:33] #7780 closed

[2022-08-29 05:42] KirillOsenkov commented on #7832
I think even if it fixes just the CodeStyle analyzers, it will be a huge win. In my view we need to decouple this from the general "fix all analyzers" problem as that seems much more monumental.

I just cloned a repo that targets 17.3 on a machine with 17.2 and getting these:

[code]

I honestly think it's a bad experience for our ecosystem and we need to move the analyzers from SDK into the MSBui

[2022-08-29 09:41] Nirmal4G commented on #7832
Analyzers, atleast the built-in ones always depend on Roslyn, right? Then, it should've been from the Roslyn folder **itself**.

A better solution would be expanding the idea of an SDK to include hard/soft dependencies similar to NuGet packages and SDK workloads. That way, we can have SDK packages depending on particular version of a Toolkit that always works, no matter what!

I propose Roslyn and

[2022-08-29 10:15] evenlee commented on #7133
I notice this recently too,  build same  .netcore 3.1 solution, my 5800x hachintosh jsut need up to 12 seconds, but M1 Max Macbook Pro takes up to 48 seconds,  also tested on Windows: Thinkpad T14(5850u/32G RAM) with VS 2022, only need up to 16 seconds, may be msbuild is still native supported

[2022-08-29 14:37] rainersigwald commented on #7133
This is definitely not expected. Would it be possible to share a [binary log of your build](https://aka.ms/msbuild/binlog)? ⚠️Note the warnings about the contents of the log and please make sure you're not sharing more than you're comfortable with.

[2022-08-29 14:57] MichalPavlik opened #7919 "Break down MAUI build process"

[2022-08-29 15:45] rainersigwald opened #7920 "MSB4062 when a TaskHost task ships MSBuild assemblies"
Reported internally over email in a thread titled `Need help with investigation MSBuild Task load problem`.

If a task ships MSBuild assemblies in its folder, the new MLC code can cause errors like

[code]

[2022-08-29 16:36] mmitche opened #7921 "Specify all source-built dependencies and ensure they are regularly updated"
### Overview

Source-build works today by building a repository, gathering the versions of the outputs, and creating a property file with those versions. This property file is then fed to downstream repositories, which import it after their `eng/Versions.props`. The resulting behavior is that the downstream repo overrides all dependency versions specified in `eng/Versions.props` with the versions

[2022-08-29 17:00] jaredpar commented on #7832
It's unfortunately not that easy. It requires a significant amount of reworking of the targets in addition to that.

I agree it's a win but it's also work that doesn't actually fix the problem. It's a "fix Microsoft but leave the community behind" type of fix.

[2022-08-29 17:53] baronfel opened #7922 "DOTNET/COMPlus/MSBUILD environment variables should be logged by default"
We should add an allowlist for `MSBUILD*`, `COMPlus_*`, and `DOTNET_*` variables at the bare minimum. (`DOTNET_*` is a synonym for `COMPLUS_*` now).

_Originally posted by @rainersigwald in https://github.com/dotnet/aspnetcore/issues/43028#issuecomment-1230617069_

[2022-08-29 20:48] nagilson opened #7923 "Providing -pp will suppress errors and fail silently"
To reproduce, do the following:
1. Create a new console project with `dotnet new console`.
2. Open the `foo.csproj` or project file created by new console. Edit it to be like this:

[code]

run `dotnet msbuild --pp` and observe that no error is produced and msbuild is silent, but without `--pp` it will raise an error.

[2022-08-30 06:35] CDAlexanderW commented on #7864
Any idea when this will be investigated? This is important for us!

thx!

[2022-08-30 14:20] rainersigwald commented on #7864
Can you please explain why it's important for you? This is extremely long-standing MSBuild behavior and the fix will not be easy, but it hasn't been at the top of the priority list because it's not generally super impactful. So I'd love to get data otherwise.

[2022-08-30 14:44] evenlee commented on #7133
I met errors when using  **dotnet build -bl** on Mac , the reason is I have a .net 6 winform app and a .net 4.5 lib project in the solution, the wired thing is when I click build button in  VS for Mac, no errors, do you know how to leverage command to make same behavior as build button in VS for Mac

[2022-08-30 15:58] mmitche opened #7925 "Unified Build control update"
### Description

**This issue is dependent on https://github.com/dotnet/source-build/issues/2974 and is a placeholder for .NET 8 required work in product repositories.**

Instructions for implementation will be updated once https://github.com/dotnet/source-build/issues/2974 but will likely be a mechanical shift of properties in this repo. In a general sense, this is scaffolding work for expanding

[2022-08-30 15:59] mmitche commented on #7925
This is .NET 8 work

[2022-08-30 20:26] yuehuang010 commented on #7918
The error suggest that you are mixing compiler.  Either the intermedia file are mixing or the compiler itself.  Check 1) Are you copying the OBJ between machines?  2) The build can produce an intermediate PDB named vc14X.pdb, are these mixing? 3) compiler bitness mixing? 4) /MACHINE:xxx flag are consistant between compiler and linker?

As a side note, don't use "endl" on filestream.  endl will flu

[2022-08-31 03:16] JaynieBai commented on #6388
Hi  @arkalyanms ,

I'd like to do initial investigation about this issue.  Could you give more information about how to use SkipEagerWildcardEvaluations?

[2022-08-31 04:06] Jetski5822 commented on #3897
@tarekgh I used DOTNET_SYSTEM_GLOBALIZATION_USENLS=1 to sort out our Windows build servers, but also build on Linux which is failing, is there a work around for that?

[2022-08-31 05:01] dfederm opened #7927 "SdkResolverService throws "System.InvalidOperationException: Collection was modified" occasionally"
I'm occasionally seeing the following exception:

[code]

Seems like there is a race condition in `SdkResolverService`.

MSBuild version: 17.4.0-preview-22416-02 (pretty close to head of main as of this writing)

[2022-08-31 05:02] dfederm commented on #7927
FYI @dsplaisted

[2022-08-31 05:11] dfederm commented on #7927
My guess based on inspection the code is that this is the race:

1. Multiple threads get to `ResolveSdkUsingResolversWithPatternsFirst` at the same time.
2. Both thread 1 and thread 2 see `_generalResolversManifestsRegistry` is null and enter `RegisterResolversManifests`
3. Thread 1 populates `_generalResolversManifestsRegistry` inside `RegisterResolversManifests`. Note that this is under a lock.

[2022-08-31 05:14] dfederm commented on #7927
Code with the bug was introduced in #7597 by @AR-May

[2022-08-31 10:35] AR-May commented on #7927
@dfederm thank you for reporting the bug and for analysis. The scenario above should not be possible. The `_generalResolversManifestsRegistry ` is double-checked on creation: the `RegisterResolversManifests` has a check after a lock to prevent the second creation. So, thread 2 should just return from the function without rewriting the collection. After creation this collection was not supposed to

[2022-08-31 16:19] sharwell commented on #7832
The code style analyzers are version-locked to the version of Roslyn they are developed against. Other analyzers target earlier versions of Roslyn, but these cannot.

The code style analyzers are frequently updated to use new syntax APIs as the compiler creates new features, and there is no straightforward way to lock the code style analyzer package to an earlier version of Roslyn that does not pr

[2022-08-31 17:30] jaredpar commented on #7832
The rough idea I have in mind for solving this problem is:

1. Include the .NET Framework version of the Roslyn compilers in the .NET SDK for Windows only
2. Provide a mechanism for `msbuild` to use that version of Roslyn compilers vs. what it has inbox: maybe as simple as a property

That would mean when customers mix MSBuild and .NET SDK versions they could choose to use the compilers that came

[2022-08-31 18:46] Nirmal4G commented on #7832
This is going to create more problems than it solves. I do agree that framework tools and binaries to be included as a part of .NET SDK since it's no longer called Core SDK. You could extend the current workload feature to ship framework tools and binaries and remove those from VS MSBuild.

I think there was some conversation about moving desktop MSBuild into .NET SDK or back into programs folder

[2022-08-31 19:22] rainersigwald commented on #7832
What problems does it create?

This isn't possible, because it would break projects that don't use the .NET SDK.

Can you give a bit more detail on your idea here? I don't see a low-effort solution to this problem.

[2022-08-31 19:50] jaredpar commented on #7832
I don't see how this creates really any problems. It means that the .NET SDK would contain both the .NET Framework and .NET Core versions of the compiler. That means that `msbuild` can effectively choose to use the compiler it ships with or the one from the .NET SDK. There would be no change to the `dotnet build` based scenarios (they work just fine today).

The root problem we have here is that t

[2022-08-31 21:24] Epic-Santiago commented on #7873
I have tested and confirmed that doing a reverse `bindingRedirect` that forces the newer (4.5.5) version of System.Memory to an older version (4.5.4) resolves this issue. Obviously this is a workaround and not a proper solution but it may help someone else.
[code]

[2022-08-31 21:50] Wraith2 commented on #7873
I've also confirmed that adding a direct reference to the 4.5.5 version of System.Memory resolves the issue.
Do you want me to leave this open issue to track a fix rather than the workarounds given?

[2022-09-01 00:17] Jetski5822 commented on #3897
@tarekgh Okay cool - so I flipped zh-CN to zh-Hans-CN; but to get them to compile, theres a difference between VS (im using latest stable) and Command line.

VS = the resource set wont get built, and when debugging the test, it also wont load.
dotnet build = Resource is built and placed in to bin folder.

Any ideas why this would be happening?, also - the latest SDK, is that NET7?

[2022-09-01 06:04] CDAlexanderW commented on #7864
It looks like this may block AllowParallelCompileInReferencedProjects from working correctly.

[2022-09-01 14:15] rainersigwald commented on #7873
Let's leave it open for now to see if it's possible to fix in the MSBuild layer--but right now I don't think it is.

[2022-09-01 15:53] Epic-Santiago commented on #7873
Explicitly adding a System.Memory `PackageReference` was needed because the transitive dependency was broken. This was fixed in Microsoft.Build 17.3 and it's a cleaner fix to upgrade that package than to add the explicit System.Memory reference.

[2022-09-01 16:42] BenVillalobos commented on #7892
Team Triage: There's an issue with the `build.msbuild` project. We noticed `Targets="Restore;Build"`. Restore should happen in its own step, either by running `msbuild /restore` or create some restore target that calls the `Restore` target of the project you're trying to build. Let us know if it continues to fail afterward.

@oriches Can you file a separate issue with more details (logs, reproduci

[2022-09-01 16:54] BenVillalobos commented on #7615
@jtorvald There should be a way to mark items uploaded as private, we get lots of dev community tickets with private logs uploaded. We double checked with Rainer and he did not receive an email.

[2022-09-01 16:59] BenVillalobos commented on #4795
cc @dsplaisted for the nuget/CLI/SDK sync

[2022-09-01 17:19] jtorvald commented on #7615
Ah, I see now that reporting an issue from within visual studio for mac the attachments are private. It says something different on the website.

I just uploaded the file as attachment in the issue reported through VS Mac

Website:
<img width="2052" alt="image" src="https://user-images.githubusercontent.com/1808131/187973194-0018368e-1667-4059-8174-2eb7663b1d57.png">

From Visual Studio for Mac:
<

[2022-09-01 17:58] tarekgh commented on #3897
@Jetski5822 I guess, VS is using msbuild based on .NET Framework. @BenVillalobos will know for sure.

My question now is, is it possible you can just generate the resources with the name `zh-Hans`? This should work everywhere and will work nicely with zh-CN and zh-Hans-CN at runtime.

[2022-09-01 18:36] mmitche opened #7936 "TFM trimming, and elimination of net4* targeting in Linux source-build"
### Description

Trim away unneeded TFMs, and conditionalize away non-applicable TFMs for Linux source build.

**Requires** https://github.com/dotnet/source-build/issues/3013. source-build net4* targeting elimination required https://github.com/dotnet/source-build/issues/2974

The purpose of this operation is twofold:
- [ ] Reduce the number of TFMs present overall in .NET's build, potentially imp

[2022-09-01 18:36] mmitche commented on #7936
This is .NET 8 work

[2022-09-01 18:38] BenVillalobos commented on #3897
@Jetski5822 yeah this behavior difference is unfortunately expected. The fix only works for net core scenarios, since that's where we get our fancy new API from.

[2022-09-01 19:40] Wraith2 commented on #7873
How do I get that version of Microsoft.Build? it's not a dependency of the project and I'm on the latest stable visual studio release which still has the problem unless I add the direct dependency.

[2022-09-01 19:43] rainersigwald commented on #7873
If you use MSBuildWorkspace, it's a transitive reference of that so you can either get a new version with a direct reference to [Microsoft.Build 17.3.1](https://www.nuget.org/packages/Microsoft.Build/17.3.1) or add a direct reference to [System.Memory 4.5.5](https://www.nuget.org/packages/System.Memory/4.5.5). If you don't have a direct reference to MSBuild I'd just do System.Memory, personally.

[2022-09-01 19:53] marcpopMSFT commented on #7832
@jaredpar I thought in our meeting last week we were going to try using the .net core version of Roslyn from the SDK rather than including the framework versions in the SDK. Have issues come up that would change that plan? This would all be tied to a setting customers would be able to opt into which limits the risk to some degree.

CC @Forgind

[2022-09-01 21:35] yuehuang010 commented on #7864
Hi, providing some context.  AllowParallelCompileInReferencedProjects is an experimental feature to speed vcxproj when building from the command line.  It splits the project into 3 passes that don't have project reference dependency on similar passes.  This in turns allows Pass 1 to run in parallel with other projects Pass 1.  Pass 2 depend its P2P's Pass 1.  (likewise, Pass 3 depends on Pass 2) T

[2022-09-01 21:55] yuehuang010 commented on #7348
The feature is similar to make --question.
[code]

[2022-09-01 22:56] ghogen opened #7938 "XML doc build thows warning on invalid XML doc comment format"
### Issue Description
XML doc build generated warning - invalid param tag in ToolLocationHelper XML doc comments (comes from ToolLocationHelper.cs).
Doc build is in the MSBuild API doc repo PR https://github.com/dotnet/msbuild-api-docs/pull/13

Looks like a simple copy and paste error where a new param entry was added in the wrong place.

Error was thrown by this line in the XML generated from the

[2022-09-02 08:57] MaceWindu commented on #7892
Well, with two separate MSBuild tasks (one for restore and one for build) it works. Does it mean it is deliberate behavior change?

[2022-09-02 14:23] rokonec commented on #7819
I took perfview traces and binlogs of this repro (sln open in VS).
By looking at the traces and binary logs I have not identified any MSBuild core functionality inefficiency.

But when looking at project system what strikes me was `ResolvePackageDependencies` task time. When looking deeper at it I noticed that almost 2/3 of of its time is taken by loading and parsing nuget lock files `project.asse

[2022-09-02 14:38] dsplaisted commented on #7819
I thought that `ResolvePackageDependencies` was deprecated and shouldn't be called by default anymore.  I think the project system in Visual Studio was updated so that it parses the assets file directly.

@tmeschter @drewnoakes Can you clarify whether the `ResolvePackageDependencies` task should still be called in a VS design -time build?

[2022-09-02 15:26] jaredpar commented on #7832
One issue I brought up with @rainersigwald is that this subverts existing expectations. Customers today understand that `$(MSBuildRuntimeType)' != 'Core'` means a .NET Framework compiler and tasks are going to be used and vice versa for when a `'Core'` runtime is used. For example customers use this today to swap in analyzer / generators which target .NET Core when running on a .NET Core compiler.

[2022-09-02 16:03] kdubau commented on #7615
FYI https://developercommunity.visualstudio.com/t/MSBuild-issue-7615/10137592?space=41&ftype=problem&sort=newest&stateGroup=active

[2022-09-02 21:05] marcpopMSFT commented on #7832
In the situation I outlined, wouldn't MSBuild still be the framework version from within VS and it's just be Roslyn running in a .NET core task host? Do we know how many cusdtomers use MSBuildRuntimeType and do we know for sure they'd be impacted here (as I assume that'd still say framework).

On top of that, dotnet build currently uses the .net core tooling already so I'm not sure a customer woul

[2022-09-02 22:52] jaredpar commented on #7832
Correct. MSBuild would be .NET Framework and it'd be running a .NET Core compiler. That is the core issue though, customers expect those to be related. Breaking that relationship would break the code they wrote to depend on it.

Can get a sense of the scale of usage with a [grep query](https://grep.app/search?q=MSBuildRuntimeType&filter[lang][0]=XML)

As for "do we know for sure they'de be impacte

[2022-09-03 15:30] PrestigeDevop opened #7940 "what's the cause of this error"
Hello,  I'm kinda confused  when I try to build Electron apps using Electron .net wrapper I got this error :

Start Electron Desktop Application...
Arguments:

[code]

Any idea why this occur ?
I've other project that works just fine

here's my sdk and runtime :

[code]
[code]

[2022-09-03 16:00] baronfel commented on #7940
It sounds like your nuget sources aren't configured correctly. Can you provide some of the following info to help debug?

* output of the `dotnet nuget list source` command run from inside your project directory
* if there is a `nuget.config` file in that directory, its contents (unless they explicitly specify any usernames or passwords)

[2022-09-03 17:50] PrestigeDevop commented on #7940
here's all my NuGet resources backends :

Registered Sources:
[code]

I see so for some reasons the build engine complaining about particular NuGet package but throw an error due to miss-configuration in only ONE particular source  ..?

no , there's no such file .. however in similar project it does has dependency that need to be included and an sdk ( but already installed ) even manual installati

[2022-09-03 17:52] baronfel commented on #7940
I would
* remove or disable the local package source, or
* ignore the NuGet 1301 error in the project file

[2022-09-04 11:25] mahmoud-syr opened #7941 "DOTNET_SYSTEM_GLOBALIZATION_INVARIANT is not working on linux-alpine base images"
### Issue Description
When running `.net 6` docker containers in debug mode with `DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=false`, when the base image is `6.0-alpine`, container crashes with exit code `4294967295` and VS shows the message:
"One or more error occurred.
Failed to launch debug adapter. Additional information may be available in the output window.
The Operation was cancelled"

The output

[2022-09-04 13:10] garevaul opened #7942 "DotNet 6.0 MSBuild (amd64 dlls) gave this unhandled Exception when Building a DotNet 6.0-Windows Project from my code"
I am building a Project from my code using all required .Net 6.0 MSBuild (amd64) dlls.  I am getting this error when I run the build project code.

Also, I do not know why in this error it is mentioning **\..\tools\net472\Microsoft.NET.Build.Tasks.dll** when I am not referencing Net472 at all.

Regards
Garry

-----------
Error Stack......
-----------
Project "GoodbyteOurDllsAndCoderMaster.csproj"

[2022-09-04 14:49] rainersigwald commented on #7942
How are you invoking the build? Are you using the MSBuild API? Are you using MSBuildLocator? What is your application's TargetFramework?

[2022-09-04 15:35] garevaul commented on #7942
Hi Rainer,

I am running my Build project code from a Net6.0-Windows project. I am referencing all the MSBuild dlls from the location 'C:\Program Files\Microsoft Visual Studio\2022\Professional\Msbuild\Current\Bin\amd64\...'

The Project I am Targeting/Building is also a Net6.0-Windows project which has references to various other 'Net6.0' and 'Net6.0-Windows' Dlls.

The Error when debugging is sh

[2022-09-04 16:53] garevaul commented on #7942
Hi Rainer

I am new to Github. I commented directly to the question at Github instead of replying to this notification. Hope you got the notification of that comment.

Regards
Bikramjeeth

On 4 Sept 2022, 20:19, at 20:19, Rainer Sigwald ***@***.***> wrote:

[2022-09-04 19:04] eriawan commented on #7942
@garevaul

I think it's quite obvious that you have reference to MSBuild that comes with Visual Studio, but your project is targeted against .NET 6.0 using TFM of `net6.0-windows`. The MSBuild that comes with Visual Studio requires .NET  Framework runtime, and this is totally different, therefore you should not mix your NET 6.0 projects with references that require .NET Framework.

I recommend you

[2022-09-05 01:38] garevaul commented on #7942
Hi @eriawan @rainersigwald,

I used the nuget MSBuild packages. It went through the previous error. But it is giving this error now. I tried looking for a nuget package by the name 'Microsoft.Common.props', but it is not there.

**Please Note:** I have Installed the .Net 6.0 SDK using Winget/Choco. But they did not install in the **C:\Program Files\dotnet\sdk\** location. So I downloaded the dotne

[2022-09-05 08:24] AArnott commented on #7873
This just broke the tests running locally and in Azure Pipelines for Nerdbank.GitVersioning. :(
https://dev.azure.com/andrewarnott/OSS/_build/results?buildId=6954&view=logs&j=0bc77094-9fcd-5c38-f6e4-27d2ae131589&t=206655b7-7ebc-5b58-0ce4-544602a53fe7

Adding the reference to System.Memory to my test project resolved the problem for me. Upgrading my MSBuild reference wasn't going to work out becaus

[2022-09-05 10:19] vijaya-lakshmi-venkatraman commented on #5982
Hi @akoeplinger
Do you know how to get the Corporate CLA signed for contributions?

[2022-09-05 10:40] akoeplinger commented on #5982
@vijaya-lakshmi-venkatraman if you open a PR then you'll see a GitHub check with the CLA link and instructions on how to sign it.

[2022-09-05 17:26] dmex opened #7943 "MSBuild detects wrong processor count on Windows when debugging processor groups"
### Issue Description

MSBuild detects the wrong processor count on Windows when debugging processor groups and the bug was introduced with PR: https://github.com/dotnet/msbuild/pull/5625

### Analysis

The comments in PR 5625 mentioned various ongoing issues testing processor group support on Windows due to the lack of hardware:

The lack of hardware should never have been an issue. Windows has s

[2022-09-05 17:41] stan-sz opened #7944 "MSBuild task for creating Tar files"
With .Net 7 support for [tar apis](https://devblogs.microsoft.com/dotnet/announcing-dotnet-7-preview-4/#added-new-tar-apis), is it feasible to create an equivalent of [Un](https://docs.microsoft.com/en-us/visualstudio/msbuild/unzip-task?view=vs-2022)/[ZipDirectory](https://docs.microsoft.com/en-us/visualstudio/msbuild/zipdirectory-task?view=vs-2022) tasks for handling `.tar` files in the upcoming

[2022-09-05 17:53] danmoseley commented on #7944
Cc @carlossanlop fyi

[2022-09-05 21:47] danmoseley commented on #7944
No it would only work on .NET 7 and later. I believe that would mean .NET SDK 7.0.something and later, targeting any version.

[2022-09-05 22:21] elachlan commented on #7943
Wow. Awesome write up! Are you going to put in a PR?

[2022-09-05 22:55] dmex commented on #7943
@elachlan I've created PR #7945

[2022-09-06 05:03] vijaya-lakshmi-venkatraman commented on #5982
It'd be my manager that'd sign the CLA.
So can I request him to sign on the CLA link?

[2022-09-06 06:58] danmoseley commented on #5982
@vijaya-lakshmi-venkatraman as engineers, we unfortunately can't offer legal advice beyond the CLA bot instructions.

[2022-09-06 12:38] akoeplinger commented on #5982
From what I remember when signing the CLA five years ago before I started working for Microsoft you just had to acknowledge that your employer is fine with the contribution, i.e. you're responsible for checking with them but no separate signature required for the CLA. Not sure if it has changed since then so best to check with legal if you're unsure.

[2022-09-06 14:16] rainersigwald commented on #7944
We don't yet have any inbox tasks that are .NET (core) only, which might be enough to delay this. But I think it sounds like a reasonable idea.

[2022-09-06 14:57] rainersigwald commented on #7944
@KalleOlaviNiemitalo Yes, if the `UsingTask` is authored correctly (that is, specifies that the task is .NET-only).

[2022-09-06 16:47] BenVillalobos commented on #7721
@AR-May can you verify that it doesn't repro on `dotnet-sdk-7.0.100-rc.1.22415.27-win-x64`?

[2022-09-06 16:59] rainersigwald commented on #7576
@AR-May accidentally told me that it was possible to test in this environment, so assigning over :)

[2022-09-06 17:00] rainersigwald commented on #6993
I believe this is complete with the reenabled `.deps.json` behavior in #7594.

[2022-09-06 17:00] #6993 closed

[2022-09-06 20:50] AArnott commented on #7760
`dotnet build` repros the problem with the 6.0.300 SDK.
`msbuild.exe` exhibits the desired behavior in 17.4.0-preview-22451-06+2db11c256

[2022-09-06 22:09] alexxie commented on #7946
thanks @mthalman, mcr.microsoft.com/dotnet/sdk:6.0-windowsservercore-ltsc2019 AS build works.

[2022-09-06 22:44] adelriosantiago commented on #2532
Before adding the `MSBuildSDKsPath` env variable you might first want to see if the _dotnet.exe_ is working. You can navigate to where _dotnet.exe_ is (in my case it was "C:\Program Files\dotnet") and then execute the command you want to run. I was able to run `dotnet tool install -g csharpier` correctly after this. Adding the env variable didn't help.

[2022-09-07 03:30] garevaul commented on #7942
Hi @rainersigwald

Thanx. It works Excellent after using MSBuildLocator.

But I need to ask you that I guess the MSBuild Locator points to the Nugets Installed in the c:\users\<>\.nuget\packages\ in the PC, and MSBuild action in the Project uses those MSBuild Nuget packages.

Is it like that?

If so then, we have given  ExcludeAssets="runtime" to all the MSBuild packages entries in the csproj file

[2022-09-07 04:50] drewnoakes commented on #7819
The change @dsplaisted is referring to was to stop returning the full list of all transitively-reachable package references and their contents to the project system, in order to display them in the dependencies tree. After the change, only the top level dependencies were returned, and transitive dependencies were populated lazily as the user expands the tree (or during search in Solution Explorer)

[2022-09-07 04:52] vijaya-lakshmi-venkatraman commented on #5493
So, the change should be just changing the value tag as below & removing the comment tag?
` <value>https://aka.ms/msbuild/MSB4803</value>
`

[2022-09-07 04:56] drewnoakes commented on #7819
Skimming through a DTB binlog, it seems that the output of ResolvePackageDependencies ends up feeding through ResolveAssemblyReferences.

[2022-09-07 10:15] rainersigwald commented on #7942
@garevaul MSBuildLocator finds a copy of MSBuild that is installed on the machine that's running the application, either through Visual Studio or through the .NET SDK. That way your application that uses MSBuild can build using the same logic that VS/`dotnet build` would use on that machine.

[2022-09-07 10:27] garevaul commented on #7942
Ok @rainersigwald thanx a zillion. It was kind of you to take up the issue and resolve it.

Special thanx to @eriawan for your on dot guidance.

Regards
@garevaul

[2022-09-07 10:45] rainersigwald opened #7948 "LogErrorFromException could preserve Exception.HelpLink"
By the way, I assumed that LogErrorFromException would read [Exception.HelpLink](https://docs.microsoft.com/dotnet/api/system.exception.helplink?view=netstandard-2.0), but it doesn't seem to do that.

_Originally posted by @KalleOlaviNiemitalo in https://github.com/dotnet/msbuild/issues/5493#issuecomment-1238926812_

[2022-09-07 10:54] rainersigwald commented on #5493
I agree with your analysis @KalleOlaviNiemitalo though I think I lean toward "make a new method named something like `LogErrorWithCodeAndHelpLink`" that explicitly calls the new `LogError` overload that passes along `HelpLink`.

Extracting a URL from the resource sounds nice but a) I'm not sure of the format we'd want to enforce--as you mention should it be `<...>` or just search for any `http...`

[2022-09-07 10:55] rainersigwald commented on #7948
I'm trying to think of a downside here, and the worst I can think of is "a new not-very-helpful link is referenced", which doesn't seem too bad . . .

[2022-09-07 13:16] rainersigwald commented on #5493
From scratch I like that approach but I think it'd break existing parsing approaches (like `CanonicalError`). And since ideally the link doesn't need to be localized, I think I prefer separate storage.

[2022-09-07 13:25] #7942 closed

[2022-09-07 13:34] rainersigwald commented on #5493
That's true, unless you run MSBuild in an Exec task (shudder) or (more common) parse MSBuild's messages using your own similar regex, like `actions/setup-dotnet` does.

[2022-09-07 13:43] evenlee commented on #7133
[output_from_msbuild_failed_M1Max.log](https://github.com/dotnet/msbuild/files/9506640/output_from_msbuild_failed_M1Max.log)
[output_from_vs_2022_build_M1Max.log](https://github.com/dotnet/msbuild/files/9506641/output_from_vs_2022_build_M1Max.log)
[output_from_vs_2022_intel_mac.log](https://github.com/dotnet/msbuild/files/9506642/output_from_vs_2022_intel_mac.log)
dotnet build --version
MSBuild ve

[2022-09-07 13:52] evenlee commented on #7133
[msbuild.binlog.zip](https://github.com/dotnet/msbuild/files/9506744/msbuild.binlog.zip)
seems the binary log cannot be drop to here directly, please unzip it for details

[2022-09-07 14:54] dsplaisted commented on #7819
Looking at this more, it looks like `ResolvePackageDependencies` does normally run, but it does less work unless `EmitLegacyAssetsFileItems` is true.

However, it still has to read the assets file.  It uses an in-memory cache for this so it won't read the same assets file multiple times in the same build, but it looks like this may still be a perf hit in this scenario with a lot of projects in the

[2022-09-07 17:59] AR-May commented on #7721
@BenVillalobos I confirm, issue doesn't repro anymore.

[2022-09-07 20:36] baronfel commented on #7944
This is a great idea, and we should do it.

_However_, this task would require a .NET 7 Runtime, which brings up an interesting conundrum. That would require MSBuild to update its TFM to net7.0, but for support reasons we _really really_ try to keep components that ship in the .NET SDK to LTS TFMs. We're having a discussion about the mechanics of this later this week, but in general because of SDK

[2022-09-08 13:19] AR-May opened #7951 "Fix aggressive caching of immutable files for ARM64 architecture"
The aggressive caching of immutable files (introduced in #6974) does not work for arm64 scenarios because locations of immutable files for this architecture are different. So, we do not benefit from this optimization in arm64 scenarios. We want to revisit PR #6974 and more specifically the [FileClassifier.cs](https://github.com/dotnet/msbuild/blob/518c041f4511a6bc23eb40703b69a94ea46c65fd/src/Frame

[2022-09-08 13:24] AR-May commented on #7890
Done, this is a consequence of the known issue with Ngen, which should be fixed soon.

[2022-09-08 13:24] #7890 closed

[2022-09-08 14:17] rainersigwald commented on #4038
That should not be true--did you add that explicit import without removing the `Sdk="Microsoft.NET.Sdk` from the top-level `<Project>` element?

The docs on this weren't super clear so I submitted MicrosoftDocs/visualstudio-docs#8444.

[2022-09-08 14:45] ackh commented on #4038
@rainersigwald You are right, I simply overlooked that I need to remove `Sdk="Microsoft.NET.Sdk"` from the `Project` node. Doing so prevents my problem entirely. Thanks for your quick reaction to my comment!

[2022-09-08 16:17] rainersigwald commented on #7676
@jianyexi yes, via SDK properties you can change the files that are automatically discovered under the project; see [`DefaultItemExcludes`](https://docs.microsoft.com/dotnet/core/project-sdk/msbuild-props#defaultitemexcludes) for example.

[2022-09-09 00:19] lifengl commented on #7743
ProjectLink is an abstract class, which allows other features to implement it differently, so it can simulate msbuild evaluation results like the result of a msbuild evaluation.  The msbuild implements one through ProjImpl, which is used in build and also the project system.  However, we at least have two more implementation of it, one is to allow project evaluation to happen in a different proces

[2022-09-09 22:19] blogcraft commented on #7044
Not good if using WSL2 and an ubuntu distro.
RuntimeIdentifier returns `"ubuntu ..."`

[2022-09-10 04:57] evenlee commented on #7133
I did more testing, seems the issue is the .NETFramework 4.5 lib project, if I remove it and related projects depended on it, the rebuild time is almost same in both M1Max Mac and Intel Mac, but if included it, the M1Max Mac will take to much time, may be you can build .net core project and add a .NET Framework4.5/4.8  project in VS on windows, then rebuild in M1Max Mac or for details.

[2022-09-10 21:08] shlomiassaf opened #7956 "MSBuildFileSystemBase is partial honoured when used to load imports"
### Issue Description

When creating a `Project` we can pass a custom file system implementation (`MSBuildFileSystemBase`) through the `EvaluationContext`

The file system is used internally, among other things, to check for file existence and load references.

When checking for file existence the custom file system is indeed used:

https://github.com/dotnet/msbuild/blob/a3b647d766676a735211a42aa0

[2022-09-10 21:12] shlomiassaf commented on #7956
As for use cases, we would like to implement a virtual file system that will load projects from a git commit so we can analyse the diff between 2 commits or between the working directory and any commit.

[2022-09-11 19:02] #7581 closed

[2022-09-12 14:07] garevaul opened #7958 ""DotNet Clean" and "DotNet Build" are not working on THESE projects .Net 6 projects on the CSPROJ files or SLN file."
Hi,

"DotNet Clean" and "DotNet Build" are not working on these projects' CSPROJ files and the SLN file.

The Command I tried in Powershell is
`dotnet clean "I:\Goodbyte Net Framework DLL Projects\GoodbyteOurDllsAndCoderMaster\GoodbyteOurDllsAndCoderMaster.sln"`

`dotnet clean -c debug "I:\Goodbyte Net Framework DLL Projects\GoodbyteOurDllsAndCoderMaster\GoodbyteOurDllsAndCoderMaster.sln"`

`dotne

[2022-09-12 14:43] MichalPavlik opened #7959 "Collect traces for MAUI build"
Get the recommended project/solution to collect and analyze traces.

[2022-09-12 19:00] garevaul opened #7960 "Even After Adding MSBuild Nuget (DotNet 6) it gives MSBuild 15.1.0 File Missing"
Hi,

Even After Adding MSBuild Nuget (DotNet 6) it gives MSBuild 15.1.0 File Missing.

I have the sample project giving the Error here::
https://1drv.ms/u/s!AjNAB3KpbqsEkWzAsH4oAKjhLxNx?e=HxUZFa

Just click on the Form Button (in F5 Debugging), and you will get the Error.

Regards
Garevaul

[2022-09-12 19:02] #7691 closed

[2022-09-12 20:54] rainersigwald commented on #7958
Are you seeing errors? Things appear to work on my machine.

Build:

[code]

Clean:

[code]

[2022-09-12 23:42] garevaul commented on #7958
No there are no errors.

But the 'Clean' should remove all the files from the 'bin\net6.0' / 'bin\net6.0-windows' the relevant files in 'obj\net6.0' / 'obj\net6.0-windows' folders of all the projects, including the 'GoodbyteOurDllsAndCoderMaster' project.

Which is not happening.

Regards

On 13 Sept 2022, 02:25, at 02:25, Rainer Sigwald ***@***.***> wrote:

[2022-09-13 03:49] greengumby opened #7963 "Set Property: _DebugSymbolsProduced=false"
### Issue Description

I am using VS2022 and with my MSTest project no matter how I set the debugtype properties I cannot seem to generate a symbol file (.PDB)

Looking through the verbose logs the property _DebugSymbolsProduced is true up until the following

`1>Target "_CheckForCompileOutputs" in file "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\amd64\Microsoft.C

[2022-09-13 04:11] greengumby commented on #7963
Solved https://github.com/shouldly/shouldly/issues/723

[2022-09-13 04:11] #7963 closed

[2022-09-13 06:14] garevaul commented on #7960
Hi,

I am not sure, but maybe it is because of this.....

In the **ApplicationName.dll.config** it is adding all this, even when it is not there in the app.config, or for that matter even when I delete the app.config from the project.

`<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Buil

[2022-09-13 09:34] garevaul commented on #7960
Hi,

Sorry guys it was my fault for not calling this line in my project.

`MSBuildLocator.RegisterDefaults();`

Once I use this, it is working fine.

Sorry, @rainersigwald for making this silly mistake :)

Regards
Garevaul

[2022-09-13 11:49] MichalPavlik opened #7964 "Disable MSBuild Server for interactive builds"
There is a reported issue: https://github.com/dotnet/sdk/issues/27597

We should disable MSBuild Server behavior when we detect `interactive` switch.

[2022-09-13 13:35] garevaul opened #7966 "In VS2022 Extension VSIX project why is the '.vsix' file Not getting created (and also some warnings)"
Hi @rainersigwald,

In this .Net6.0-Windows VS2022 VSIX Extension Project which I have given the Link below, when I build the project, the '.vsix' file is not getting created. Only the project's '.dll' file is getting created.

https://1drv.ms/u/s!AjNAB3KpbqsEkW5cDsD_kQ4hBKsN?e=OnRqMd

PLEASE NOTE :: I have used Uprade-Assistant on my old VSIX project and got this project. Is that the correct way?

[2022-09-13 22:29] marcpopMSFT commented on #7964
@MichalPavlik , this is needed for 7.0.1xx rc2. We'll be snapping that branch tomorrow so if you can get this merged by end of the week, that should be in time.  BTW, are there any other cases where server causes bad impact or is interactive unique enough to be the only one?

[2022-09-14 09:40] WenJunJi01 commented on #7721
Close it as not repro.

[2022-09-14 09:40] #7721 closed

[2022-09-14 14:01] am11 opened #7970 "Proposal: Add CustomIgnoreRegularExpression to Exec Task"
Similar to `CustomWarningRegularExpression`, there are opposite use-cases which require filtering out a specific error/warning on stderr. While `IgnoreStandardErrorWarningFormat=true` prevents all errors and warnings from being emitted on stderr, the proposed `CustomIgnoreRegularExpression=pattern` will prevent the specific patterns, when `IgnoreStandardErrorWarningFormat` is `false`.

i.e. the `e

[2022-09-14 16:14] garevaul commented on #7966
This question has been shifted to VSExtensibilty section located at this link::

https://github.com/microsoft/VSExtensibility/issues/128

[2022-09-14 16:14] #7966 closed

[2022-09-14 20:37] nagilson commented on #7656
I have a consistent repro in this in the .NET SDK repo. I can confirm it's not any SDK-style project, but it definitely affects the SDK.

[2022-09-14 23:25] JeremyMorton opened #7971 "Referencing Microsoft.Net.Compilers.Toolset v4.4.0-1.final does not use the compiler in the package."
### Issue Description
When using the 4.4.0-1.final version of the `Microsoft.Net.Compilers.Toolset` package, MSBuild does not use the csc.exe included in that package to compile.

### Steps to Reproduce
A default console app, with the compiler package added:
[code]
[ConsoleApp7.zip](https://github.com/dotnet/msbuild/files/9570561/ConsoleApp7.zip)

### Expected Behavior
I expect something like the

[2022-09-15 07:39] KrisThielemans commented on #5331
I have this problem with Visual Studio Community 2022
[code]
I've tried patching the `MSBuild.exe.config` but that didn't help.

[2022-09-15 08:48] #7964 closed

[2022-09-15 09:12] vpenades opened #7972 "dotnet publish uses debug configuration even if publishprofile has config=release"
### Issue Description

When publishing a project that has a publsh profile using Release, the program is being compiled in debug mode.

### Steps to Reproduce

I have a project that has this publish profile:

[code]

And I publish the project using command line:

[code]

I assumed that, because the publish profile has RELEASE configuration, it's the configuration used for building the project.

bu

[2022-09-15 13:10] hcoona commented on #1596
It has been over 5 years since the issue opened. Is it resolved? I still cannot change the MSBuild locale without changing OS locale. Tried `chcp 437`, `$env:DOTNET_CLI_UI_LANGUAGE = "en-US"` and `$env:VSLANG="1033"`.

[2022-09-15 13:41] rainersigwald commented on #7971
I do not repro with your example project:

[code]

Did you restore after updating to the 4.4.0 package reference?

[2022-09-15 14:52] JeremyMorton commented on #7971
Yes, even after a restore. What path to the compiler is it using for you, it looks like 4.4.1-1.final doesn't have quite the same layout as 4.3.0 (no csc.exe in this directory):
[code]

[2022-09-15 14:57] rainersigwald commented on #7971
That doesn't look right to me--maybe the package got corrupted? Can you try `dotnet nuget locals all --clear` followed by a restore + build? Note that that will force you to redownload _all_ NuGet packages the next time you need them, so don't do it right before getting on a plane or something :)

[2022-09-15 15:03] JeremyMorton commented on #7971
Yes, after clearing and restoring, the package folder now has more files in it (including csc.exe), but it is still calling `C:\Program Files\Microsoft Visual Studio\2022\Preview\MSBuild\Current\Bin\Roslyn\csc.exe`

[2022-09-15 15:11] rainersigwald commented on #7971
can you share a binary log of your build? https://aka.ms/msbuild/binlog has instructions. Please note the information that you'll be sharing and make sure there's nothing you don't want to share with the Internet in there.

[2022-09-15 16:54] nagilson commented on #7972
Definitely, I'll take a look into why this is happening.

[2022-09-15 17:34] BenVillalobos commented on #7956
This seems like a reasonable request. We would need to investigate performance implications here.

[2022-09-15 17:36] BenVillalobos commented on #7948
Does this mean we'd be slowly adding helplinks to most MSBuild errors? Presumably starting with the most popular ones.

[2022-09-15 17:39] BenVillalobos commented on #7944
In that case, blocked on https://github.com/dotnet/msbuild/pull/7790 and should be conditioned. We can add this to the next spring planning and discuss it then. Conditioning out the task should be easy enough.

[2022-09-15 17:45] BenVillalobos commented on #7940
@PrestigeDevop did what @baronfel suggested work?

[2022-09-15 17:53] BenVillalobos commented on #7900
Will be fixed by https://github.com/up-for-grabs/up-for-grabs.net/pull/3373

[2022-09-15 17:55] PrestigeDevop commented on #7940
I'm not sure if it was due to https://github.com/ElectronNET/Electron.NET/issues/720#issuecomment-1237445408

I'm currently use modified repo as mentioned in the original issue linked above  , the error probably still remains  but I don't want to reproduce it and go thought that hassle again , Do you want me to use it and report back ?

[2022-09-15 17:55] BenVillalobos commented on #7874
@payn-git did @rainersigwald 's comment help?

[2022-09-15 18:01] BenVillalobos commented on #7898
Have you tried manually adding the binding redirect to your app.config?

Building multiple projects like this, with no relation between the two (eg `ProjectReference`) makes it difficult for our `ResolveAssemblyReference` task to figure this out for you.

[2022-09-15 18:02] shlomiassaf commented on #7956
@BenVillalobos Maybe one would need to opt-in for that, first phase, via parameter or something
So it will not get noticed or have an impact

[2022-09-15 18:11] PrestigeDevop commented on #7940
when I do `electronize start` in webapp I got this :

[code]

[2022-09-15 18:41] BenVillalobos commented on #7940
Not sure what that error is at this point. If you'd like us to dig more, feel free to [supply us a binlog](https://aka.ms/msbuild/binlog) and submit it as a feedback ticket over on the [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html). There you can provide items that are only visible to us.

Feel free to reopen this issue if you do!

[2022-09-15 19:29] nagilson commented on #7972
`Configuration` is being set to `Release` by the Publish Profile but this looks like the same nonsense as the `PublishRelease` fiasco where it doesn't get imported early enough, so `DebugSymbols` and `OutputPath`, etc, are set to the wrong value.

[2022-09-15 19:38] nagilson commented on #7656
nvm I'm bad and ez

[2022-09-15 19:38] #7656 closed

[2022-09-15 19:52] JeremyMorton commented on #7971
It looks like the restore engine in JetBrains' Rider being set to `Console` is what corrupts this package. If I set it to `MSBuild`, it seems to restore this package correctly.
![image](https://user-images.githubusercontent.com/10471528/190496196-bc3ef49f-ebe0-429f-84d8-b4e5bddb2086.png)

[2022-09-15 21:22] nagilson commented on #7972
@rainersigwald It's likely we could solve it in a similar way to how `PublishRelease` works, though that'd only take effect in the CLI and be kinda gross. We should discuss this further.

[2022-09-15 21:50] danmoseley opened #7977 "support unix/dotnet style switches"
Probably there's existing discussion/ a dupe that I didn't find. https://github.com/dotnet/msbuild/issues/5714 seems somewhat related.

MSBuild switch syntax was not created with Unix ways in mind, and this has become more obvious in recent years on Unix, and also on Windows when using tools like dotnet.exe on Windows that prefer Unix conventions and aggregate MSBuild switches. For example. `build

[2022-09-15 21:59] rainersigwald commented on #7977
I bet @baronfel will have thoughts here.

What would you want `--` to indicate? I don't see an analogous MSBuild operation to "everything from here is a single string you shouldn't parse".

[2022-09-15 22:02] rainersigwald commented on #7977
We actually respect `-` `--` and `/` prefixes for all of our arguments today, regardless of single/multichar.

[2022-09-15 22:04] danmoseley commented on #7977
It would mean "nothing before here is a project file, everything after is a project file". I'm not sure whether it would be needed to break ambiguity unless a file name started with -- so perhaps it's minor/low priority?

Yup -- I think it'd be a clear non goal to reject syntax that is not Unix. Just to allow Unix syntax.

[2022-09-15 22:16] baronfel commented on #7977
If we look to add unix support, we should _really really_ look into just evaluating if System.CommandLine can represent the MSBuild CLI. It already handles most (all?) of the questions described above (regarding precedence of `-m` for example) in an unambiguous way. It also supports `--` in the UNIX way by default, meaning it parses each of the tokens to the right as an 'argument' and allows the a