[2022-02-02 23:22] KirillOsenkov commented on #7362
I have fixed the viewer to at least not crash with a NullReferenceException in that case.

[2022-02-03 00:12] Forgind commented on #7357
What do you want to use it for? Can you use our [ETW traces](https://github.com/dotnet/msbuild/blob/main/documentation/specs/event-source.md)? There's one for Build, BuildProject, and MSBuildExe, which sound like different sides of what you're looking for. They come with stop events as well and extra information if that would be of value to you.

[2022-02-03 00:20] Forgind commented on #7348
Are there uses for this outside people who work on dev tools? It doesn't solve all your problems, but you can identify an incremental build by the number of projects not up-to-date when the build summarizes its results:
========== Build: 30 succeeded, 0 failed, 0 up-to-date, 0 skipped ==========
vs.
========== Build: 0 succeeded, 0 failed, 30 up-to-date, 0 skipped ==========

Alternatively, you ca

[2022-02-03 01:05] yuehuang010 commented on #7348
I believe incremental should be a first party feature and tooling should enable testing of the feature.  A long that line, the feature will allow tool authors a way to tests incrementality, which in turn leads to better experience for those using the product.

The fast up to date check is an IDE feature to estimate the inputs and outputs of the build.  Fast UTD doesn't work on the command line als

[2022-02-03 08:40] ViktorHofer commented on #7359
Disabled the default windows platform via the `_EnableDefaultWindowsPlatform` switch and couldn't observe any difference in the assembly itself (neither in its metadata) or in the produced package. Maybe it's ok to use that switch?

[2022-02-03 14:28] rokonec opened #7364 "LoggingService.LogComment causes large amounts of contention between unrelated evaluation threads."
### Issue Description
LoggingService.LogComment causes large amounts of contention between unrelated evaluation threads.
![image](https://user-images.githubusercontent.com/25249058/152361351-ff5d51a9-5630-4aaf-8178-4597d5bf9773.png)

### Steps to Reproduce
- clean solution VS temp files (.vs)
- clean solution (msbuild /t:clean)
- track in perfview: open solution with large number of projects

###

[2022-02-03 17:56] BenVillalobos commented on #7337
@v-codyguan thanks!

I can't seem to get a successful build. Am I missing some dependency?

[code]

What is the version of VS 2019 you're using?

[2022-02-03 18:39] Forgind commented on #7241
This isn't in line with our other environment variables, but it would be interesting to have MSBuildDebugEngine be set to a _path_ rather than just 1 and automatically set MSBUILDDEBUGPATH to that if it isn't set. That would presumably erase some of the confusion around setting that properly.

[2022-02-03 18:50] Forgind commented on #7241
I would be in favor of probe first, default to temp after. Other logs (like binlog, diagnostic log) are written to the cwd by default, so writing somewhere else by default is unexpected from that perspective.

[2022-02-03 19:08] KirillOsenkov opened #7365 "Document MSBuild error/warning format"
Let's ensure this is documented and easily searchable:
https://gist.github.com/sayedihashimi/2f449a1c38f62cf0b200920befe2e6a4

[2022-02-03 19:40] rainersigwald commented on #7365
I filed this as https://github.com/MicrosoftDocs/visualstudio-docs/issues/7626

[2022-02-03 20:46] Forgind commented on #6460
So we could add a very specific exception for if it finds an invalid path character, but I highly doubt that's the only way "build failed 0 warnings 0 errors" could come about in Evaluator. Finding all the possible sources of error would be a huge task. A relatively easy fix that would at least get the user a stack to try to identify what went wrong is if we wrapped all of Evaluate in a try/catch

[2022-02-04 00:09] Forgind commented on #7154
I'm not sure if it's the same issue or not, but I ran `build.cmd --noWarn:SYSLIB0011` and got:

[code]

[2022-02-04 01:09] KirillOsenkov commented on #6460
I recommend you turn on first-chance exceptions in the debugger and step through building this project:
https://github.com/dotnet/msbuild/issues/6460#issuecomment-841975519

You will see that the first catch block is here:
https://github.com/dotnet/msbuild/blob/09bdfae164eac3b5c9027d803ffa513efaf91095/src/Build/BackEnd/Components/RequestBuilder/RequestBuilder.cs#L1107

The second catch block is he

[2022-02-04 01:11] KirillOsenkov commented on #6460
I also meant to add that this line is too complicated and we need to extract several subexpressions:
https://github.com/dotnet/msbuild/blob/09bdfae164eac3b5c9027d803ffa513efaf91095/src/Build/Evaluation/LazyItemEvaluator.cs#L453

[2022-02-04 01:52] danmoseley commented on #7154
I think that's the same bug. BTW, our shipping product is containing strings like this (`"The switch name extracted from either the partially or completely unquoted arg should be the same."`) .. and that string has probably only been used once ever -- in this repro case. Have you considered removing all the InternalErrorException strings and replacing with codes (or just using line numbers). Seems

[2022-02-04 11:00] ViktorHofer commented on #2015
I just collected some data from a dotnet/runtime libraries build with ~1400 evaluations (outer + inner builds). I crossed out the tasks that are dotnet/runtime specific (a fix for ValidatePackage no-op build times is tracked via https://github.com/dotnet/sdk/issues/23517).

![image](https://user-images.githubusercontent.com/7412651/152515810-7fa4732c-4add-4f63-9701-c0990b397b5a.png)

Assuming RAR

[2022-02-04 18:18] jinek commented on #3468
I have related problem embedding resources:
[code]
Even after I call replace, it still /

[2022-02-04 18:49] Forgind commented on #6460
I was thinking of the try/catch throwing the exception after making it nicer, since then we could actually say it's an error in Evaluate rather than that there's some bug with MSBuild, and we aren't entirely sure. On the other hand, the second catch will still swallow it, as you said, so maybe that's best. We could also split the difference and throw an internal exception in RequestBuilder with a

[2022-02-04 21:41] KirillOsenkov commented on #6460
I’d rather have the raw original exception with full stack, don’t see much value in wrapping it. I would add a text before or after it saying: there was an exception in MSBuild, please file an issue. I believe we already do it elsewhere, need to find it.

[2022-02-05 06:15] davhdavh opened #7368 "MSB3030 when setting GenerateResource to false for all resx files"
### Issue Description
[code]
for a project that includes Culture specific resx files fails to build with a MSB3030.

### Steps to Reproduce
See above

### Expected Behavior
Builds with no satellite dlls and no errors

### Actual Behavior
Attempts to copy non-existent satellite dlls and errors

### Analysis

Known workaround:
[code]

[2022-02-06 19:00] #7167 closed

[2022-02-07 02:41] v-codyguan commented on #7337
@BenVillalobos Hi, we changed the MSBuild path （Note: C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\msbuild.exe） to our VS msbuild path in build.ps1 file, and the version of VS 2019 is 16.11.9. And if you need repro machine, please feel free to contract us.

[2022-02-07 03:25] #2927 closed

[2022-02-07 05:00] HavenDV commented on #7329
This is also a problem when trying to build a WinUI 3 project with `dotnet build`:
`C:\Users\runneradmin\.nuget\packages\microsoft.windows.sdk.buildtools\10.0.22000.196\build\Microsoft.Windows.SDK.BuildTools.props(4,37): error MSB4185: The function "Is64BitProcess" on type "System.Environment" is not available for execution as an MSBuild property function.`

[2022-02-07 10:10] ladipro opened #7370 "[MSBuild Server] Design client-server communication protocol"
Design the protocol to be used for client-server communication that meets the requirements, specifically console output fidelity and the possibility to have multiple servers running for the same user.
- Server activation mechanism (i.e. start if not already running).
- Transport mechanism
- Data format

Acceptance criteria: A protocol specification document is produced and signed off by the team.

[2022-02-07 10:21] ladipro opened #7371 "[MSBuild Server] Implement a new nodetype for the server process"
Define a new [node type](https://github.com/dotnet/msbuild/blob/09bdfae164eac3b5c9027d803ffa513efaf91095/src/MSBuild/CommandLineSwitches.cs#L242) and plumb it through. When the new node type is launched, the MSBuild process initializes itself and is ready to accept build requests. A specific build request can be hard-coded for testing for now. The process exits after a configurable timeout, initia

[2022-02-07 10:25] ladipro opened #7372 "[MSBuild Server] Implement communication protocol in server"
Implement the protocol specified in #7370 to be used when started with the node type introduced in #7371. This is the server side of the protocol.

Acceptance criteria: When started with the new node type MSBuild listens for and handles build requests from clients (i.e. test clients). The code is properly instrumented with ETW events.

[2022-02-07 10:31] ladipro opened #7373 "[MSBuild Server] Introduce a client-side activation/communication library"
Measure the client startup cost of these approaches:
1. Use `Microsoft.Build` as the client library. Based on the premise that most of the assembly will not be used when communicating with the server.
1. Introduce a new assembly solely for the purpose of talking to the server.
1. Distribute the client in the form of source code.

Depending on the outcome of the above, add a project in the MSBuild

[2022-02-07 10:36] ladipro opened #7374 "[MSBuild Server] Implement communication protocol in the client library"
Implement the client-side library API as introduced in #7373. The implementation starts the MSBuild server if not already running and passes it build requests.

Acceptance criteria: Consumed from a test application, the client library works end-to-end accepting build requests from the app, forwarding them to the server and passing back the console output.

[2022-02-07 10:42] ladipro opened #7375 "[MSBuild Server] Consume the client library in dotnet CLI"
Integrate the library introduced in #7373 into the dotnet CLI process and use it instead of loading `msbuild.dll`.

Acceptance criteria: The CLI will use the library by default with an opt-out switch. CLI tests pass and there is no major observable difference between running MSBuild server vs. the current way of loading `msbuild.dll` into the CLI process.

[2022-02-07 13:25] dsplaisted commented on #7359
We didn't want to change the default target platform of Windows for all projects that targeted existing frameworks, as that would likely break some of them.  But for your own projects it should be safe to set `_EnableDefaultWindowsPlatform` to false.

I typically use `$(TargetPlatformIdentifier)` when possible instead of the property function because it is more concise.  However, it is complicated

[2022-02-07 14:11] ladipro opened #7377 "[MSBuild Server] Cover MSBuild server with tests"
Make sure that existing tests cover both the new (MSBuild server) and old/opt-out behavior. Introduce new end-to-end tests as appropriate.

Acceptance criteria: All code added as part of the feature is covered with tests.

Manual test scenarios:
- Non VT100 terminals
- Replay binlog
- Different SDKs in same MSBuild server proccess
- dotnet build with global.json specifying the other version of dot

[2022-02-07 14:47] rainersigwald commented on #7329
@HavenDV the property function will be enabled in .NET SDK 6.0.300 (at some point in the future). However, since it's failing here, it's likely that other parts of `microsoft.windows.sdk.buildtools` will fail in `dotnet build`, so that may not get the whole scenario working by itself.

[2022-02-07 17:36] ViktorHofer commented on #7359
Thanks for clarifying. Would you accept a PR that makes the `_EnableDefaultWindowsPlatform` property "public" (remove the underscore from it)?

[2022-02-07 17:40] rainersigwald commented on #7359
The verbosity isn't great, but I may have some ideas about speeding things up. What are you running profileevaluation on specifically? I would like to poke at it.

[2022-02-07 18:28] rainersigwald commented on #7335
@AR-May, does this sound like something that you could do?

[2022-02-07 21:22] ladipro commented on #7285
cc @rokonec as 17.1 may GA during his kitten.

[2022-02-07 22:04] gandharv-kapoor commented on #5600
Any update on this? Seeing the same issue.

[2022-02-07 22:11] KirillOsenkov commented on #7282
Ideally log as a message into the logging service, with the nodeid, but probably can't have projectid, targetid or taskid.
This way all first-chance exceptions will be in the binlog. We should log the full stack trace, potentially deduplicate by storing 10 last stacks and avoid logging if we've seen it before.

[2022-02-08 03:41] yuehuang010 opened #7379 "Out of Proc Node creation takes too long, very noticeable with many cores."
### Issue Description
Node creation takes a long time to start a 32 core build.  It took ~12s to start up 32 nodes.  An average of 0.375s per node of single threaded time, and blocking other activity from starting in parallel.  This adds up fast as today's machines are easily 16 threads CPU (~5s 16*0.375s).  5s on a 5 mins build isn't a lot, but an incremental build of 15s is a lot of time.

See i

[2022-02-08 08:47] stan-sz commented on #7357
I'm looking for a way to pass the same piece of information (tag/label) that can be visible to all projects in a traversal.
In technical terms, expose https://github.com/dotnet/msbuild/blob/09bdfae164eac3b5c9027d803ffa513efaf91095/src/Build/Logging/SerialConsoleLogger.cs#L108 as MSBuild well-known property in a parseable form (so in projects we can use property functions to re-format the start tim

[2022-02-08 17:19] jrdodds commented on #7357
@stan-sz Is the purpose of the timestamp to identify the build?

Are you using a tool or service to build like Azure DevOps Pipelines? In AzDO Pipelines there is a set of environment variables passed to the build. The environment variables include `$(Build_BuildNumber)` which should be unique per build (and which can be custom configured to be a timestamp down to the second.) If you are not using

[2022-02-08 18:03] BenVillalobos commented on #6376
Yep, this should be fixed by https://github.com/dotnet/msbuild/pull/6148

[2022-02-08 20:13] dsplaisted commented on #5600
Let's say you have a tool (call it A) that uses MSBuild APIs to load another project (call that project B).

If tool A is targeting .NET Core 3.1, then it will not work if it tries to use the MSBuild version from the .NET 5 SDK.  It will try to load code written for .NET 5 in a process that's running in .NET Core 3.1.

It sounds to me like a lot of the issues reported here are caused by this.  You

[2022-02-09 09:37] vchirikov commented on #5600
and

I think it's clear that I can't place `global.json` to project B, the build tool (project A) can't change directory/files at project B.

No, Sorry, but I don't want to spend time digging and explaining a bug with a response time of more than 1.5 years.

[2022-02-09 13:58] sancilla opened #7380 "VS2019 debug output filled with crappy messages"
Created the environment.txt that contains:
MONO_LOG_LEVEL=error
MONO_LOG_MASK=gc
Set the build action to Android Environment

AND STILL CAN NOT GET RID OF THESE ANNOYING LINES:
[monodroid-assembly]     ZIP: local header offset: 35499804; data offset: 35499912; file size: 1683384
 [monodroid-assembly] /data/app/Mono.Android.DebugRuntime-kjbSvJffIh6KuLyEXW4fQQ==/base.apk entry: assemblies/netstandar

[2022-02-09 19:07] tuscen commented on #5600
We have a project with ASP.NET MVC5 where we are using `CentralPackageVersions` and VS2019 and VS2022 are affected by this issue, whereas VS 2017 and the latest Rider aren't.

[2022-02-09 23:05] NinjaCross commented on #7209
During the last 30 days or so, the problem never occurred again, so I assume it has been somehow solved (whatever was the cause). I'm closing the issue.

[2022-02-09 23:05] #7209 closed

[2022-02-09 23:08] rseanhall opened #7382 "MSBuild is loading the wrong task architecture"
### Issue Description
64-bit MSBuild loads 32-bit task in-proc. Part of the issue here: https://github.com/wixtoolset/issues/issues/6720.

### Steps to Reproduce
1. Clone https://github.com/rseanhall/wix4.
2. Checkout the msbuild-task-arch-issue branch.
3. Run src\setupenv.cmd (might need to download the latest nuget.exe into C:\Programs).
4. Run build.cmd.

Binlogs are created in build\logs.

###

[2022-02-09 23:16] rainersigwald commented on #7382
Duplicate of #6461

[2022-02-09 23:16] #7382 closed

[2022-02-09 23:18] rainersigwald commented on #7382
Actually wait, maybe not?

[2022-02-09 23:25] rainersigwald commented on #7382
@rseanhall can you share a binlog of the _passing_ case?

The failing binlog you shared looks right to me, given your "we have x64 binaries in the x86 folder" situation:

[code]

[2022-02-09 23:32] rseanhall commented on #7382
I can, but why should it matter? The actual tasks DLL, WixToolset.BuildTasks.dll, is AnyCPU. This case is running in 64-bit MSBuild and we are declaring that the 64-bit task is in `C:\src\mywix4\build\wix\Debug\publish\WixToolset.Sdk\tools\net472\x64\WixToolset.BuildTasks.dll` so it should be loading that.

[2022-02-09 23:40] rseanhall commented on #7382
@rainersigwald Here are the binlogs when initializing from `vsdevcmd.bat`. I will update the original post with the other binlogs later when not initializing from `vsdevcmd.bat`. [MergeMsiPackage.passing.zip](https://github.com/dotnet/msbuild/files/8036867/MergeMsiPackage.passing.zip)

[2022-02-09 23:59] tarekgh commented on #3897
`ku` is alias to `ckb` but could be `ku` is not enumerated when getting the whole list of cultures (through `CultureInfo.GetCultureInfo`). If you try to create culture object for `ku` this still work. The ICU ticket talking about similar issue [here](https://unicode-org.atlassian.net/browse/ICU-20181).

msbuild depends on the list returned from `CultureInfo.GetCultureInfo`. So, if you use `ku` for

[2022-02-10 10:56] VasekLexa opened #7384 "Msbuild lock"
### Issue Description

### Steps to Reproduce
This happens from time to time on our CI server. Msbuild process does not end, it locks some log file.
Last line in the log is:
C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\CommonExtensions\Microsoft\NuGet\NuGet.targets(564,5): warning MSB4220: Waiting for the currently executing task "GetRestoreSettingsTask" to cancel.

### Exp

[2022-02-10 17:27] Forgind commented on #7384
This issue was moved to NuGet/Home#11584

[2022-02-10 17:48] automaton82 commented on #5768
This is still an issue even today. It can be replicated by simply pulling the .net6 docker image, such as mcr.microsoft.com/dotnet/sdk:6.0, and attempting to use dotnet build on a csproj which uses these projects.

[2022-02-10 23:16] rainersigwald opened #7385 "Consider special-casing .NET CLI loggers"
There is special-case code in MSBuild for some known internal loggers

https://github.com/dotnet/msbuild/blob/09bdfae164eac3b5c9027d803ffa513efaf91095/src/Build/BackEnd/Components/Logging/LoggingService.cs#L1614-L1628

We should consider extending that to account for `Microsoft.DotNet.Tools.MSBuild.MSBuildForwardingLogger` from the SDK which is attached to every `dotnet build`.

[2022-02-11 04:01] davhdavh commented on #7368
Hi Ben

Not quite sure how to interpret what you write...

Tried adding that Target to my csproj, it made no difference, build still fails.
[code]
[buildlog.txt](https://github.com/dotnet/msbuild/files/8045878/buildlog.txt)

It is trivial to trigger, newly created project added 3 resx files, set GenerateResource to false for all in csproj.
[ErrorWhenNotBuildingResxFiles.zip](https://github.com/dot

[2022-02-11 04:17] davhdavh commented on #7368
It builds successfully, if an explicit check for GenerateResource is added:
[code]

[2022-02-11 08:48] aheusel commented on #6115
We decided to choose java over c# because of this matter. It renders the  platform unusable.

[2022-02-11 15:55] jonadv commented on #5095
as quite a new developer im so lost with all the different options of configuration files... I actually cant believe the file isnt showing in the solution explorer. Also pretty dumb that if this file is placed one folder outside of the solution directory, it is still read.

[2022-02-11 17:50] BenVillalobos commented on #7368
Apologies, most of the post was leaving context for other devs who happen to look at this.

`AND '%(EmbeddedResource.GenerateResource)' != 'false'` This was what I figured would work. Unfortunately, we'll have to investigate what other impacts this change could have.

Did you mean to make this PR (https://github.com/davhdavh/msbuild/pull/1) into our repo? You might have to try that again as the PR

[2022-02-11 19:06] davhdavh commented on #7368
I am using source generator to put the strings directly in code. https://github.com/VocaDB/ResXFileCodeGenerator

[2022-02-12 01:17] Forgind commented on #2927
Yes, that would probably be best. I'm sorry I led you astray on this issue—I'll try to do better next time. Did @BenVillalobos send you the issues we discussed in triage?

[2022-02-12 01:46] Forgind commented on #5768
I tried out the proposed fix, and it didn't seem to work, but I just emailed someone about changing the capitalization for zh-HANS for that nuget package, so hopefully this will still be resolved soon.

[2022-02-12 03:29] dougbu commented on #3274
Hit this again because I forgot about the "only works inside a target" caveat @ViktorHofer mentioned [above](https://github.com/dotnet/msbuild/issues/3274#issuecomment-897734202). The case was simpler than an item transformation, underscoring @rainersigwald's "basically all property-function/transformation returns" point in [another comment](https://github.com/dotnet/msbuild/issues/3274#issuecomme

[2022-02-12 14:02] jrdodds commented on #2927
Thanks @Forgind. I will also try to do better next time by communicating more.

I haven't seen a list of issues from @BenVillalobos and I would like to pick up a new issue to work on. Thanks

[2022-02-13 20:09] burtonrodman opened #7388 "locked files and recursing paths"
sorry if this is the wrong place for this report -- please direct me to the proper place if so

### Issue Description
In almost every .Net Core project I work on now, I frequently get locked files.  Usually it's just warnings (it waits and retries), but I still often need to restart VS Code, manually delete all bin and obj folders, or even restart Windows to get things unlocked.

Today specificall

[2022-02-14 11:40] teo-tsirpanis commented on #7335
`Microsoft.IO.Redist` has been discontinued (dotnet/runtime#58359). With Visual Studio's imminent move to .NET Core-based MSBuild in #7258, perhaps it's time to discontinue it from MSBuild too. If it's so decided I will try it out.

[2022-02-14 13:06] FlaynGordt commented on #4371
How is still still not fixed? It was working fine with the old csproj format.

[2022-02-14 15:16] QuantumDeveloper commented on #5638
Yes, workaround is working, but exactly the same usecase is working without any workarounds in Rider. Could you fix this bug in Visual studio please?

[2022-02-14 15:34] Sebazzz opened #7389 "Intermittent dotnet build hang: Thread pool exhaustion?"
### Issue Description

With one of our projects we are experiencing intermittent hangs of dotnet invocation of MSBuild. It is not clear why this happens but we've seen it with both test projects and regular builds that are (supposed to) deploy via msdeploy to a test environment.

No output is written to stdout, and the process hangs indefinitely until it is eventually terminated after our build se

[2022-02-14 16:34] BenVillalobos commented on #2927
@jrdodds apologies, @Forgind is talking about https://github.com/dotnet/msbuild/issues/6752. The "higher priority up for grabs" issues will be marked as `up-for-grabs` and `grab-next`, a preexisting label we're making use of again.

For now, there's only one issue with both labels but we'll add more as we go.

[2022-02-14 22:38] BenVillalobos opened #7391 "Windows On Full Framework Flaky Tests"
### Issue Description
These tests seem to be flaky:

<img width="631" alt="image" src="https://user-images.githubusercontent.com/4691428/153958293-8fc794fd-4265-4069-b8a7-273bc21bab96.png">

This exact same set of tests failed on both the [UsingTask Override PR](https://github.com/dotnet/msbuild/pull/6783) and the [netstandard2.0 to net6.0 upgrade PR](https://github.com/dotnet/msbuild/pull/6148).

[2022-02-15 07:53] FlaynGordt commented on #4371
I have found a workaround for this by adding DisableTransitiveProjectReferences to the project settings.

[2022-02-15 16:22] adamsitnik commented on #7335
You have not, as we haven't made it yet.

We have tried to find users of it (https://github.com/dotnet/runtime/issues/54919#issuecomment-870870457), but we did not find any. Since it was increasing the complexity (#if defs for .NET and .NET Framework) and maintenance (the logic had to be tested for both runtimes) we decided to stop shipping it. It means that we won't be adding new APIs to it, but

[2022-02-15 17:56] #5898 closed

[2022-02-16 01:45] #3062 closed

[2022-02-16 08:55] alicera opened #7396 "command for msbuild"
There is a project sample.
[code]

I build it with the command
[code]

How can I command with `MSBuild` to get the library in release?

[2022-02-16 13:26] msallin opened #7411 "SDK Update from 6.0.102 to 6.0.200 breaks C# from JSON generation in MSBuild context"
We updated our .NET SDK from 6.0.102 to 6.0.200 and this breaks a certain functionality. We are a bit lost and I'm wondering if there are some hints where to look for the problem.

We install a NuGet package which adds a target to "BeforeBuild"
This invokes some custom code that uses NJsonSchema.CodeGeneration.CSharp to create C# code from JSON schema.
Below you see an example of JSON.

This works

[2022-02-16 15:59] nvirth opened #7397 "CompileDependsOn can't be set in .csproj in SDK style projects"
### Issue Description

MsBuild property `CompileDependsOn` is overridden in SDK style projects [here](https://github.com/dotnet/msbuild/blob/v17.1.0/src/Tasks/Microsoft.Common.CurrentVersion.targets#L3456).
`Microsoft.Common.CurrentVersion.targets` is imported (indirectly) by `SDK.targets`, which means when using the implicit SDK import style: `<Project Sdk="Microsoft.NET.Sdk.Web">`, then `SDK.tar

[2022-02-16 16:18] rainersigwald commented on #7397
This isn't quite a duplicate of #1680, but is a result of the same thing and generally the recommendations are the same.

[2022-02-16 17:10] zkacso-dev commented on #7337
@BenVillalobos I think nuget initialization is missing. I wrote that I didn't add that to the powershell script.

[2022-02-16 20:14] rseanhall commented on #3062
Thanks!

[2022-02-16 20:22] Forgind commented on #5053
@julealgon, the compiler and MSBuild sometimes handle flags like TreatWarningsAsErrors the same way but sometimes don't. In this case, MSBuild didn't recognize WarningsNotAsErrors as a thing in all cases. The compiler was upgrading warnings other than 612 and 618 to errors, and MSBuild wasn't changing any warnings to errors. When you added MSBuildTreatWarningsAsErrors, it was taking all warnings a

[2022-02-16 22:03] BenVillalobos commented on #7337
Sorry, what nuget initialization is required? I tried running `dotnet restore` on the project and building again in a 2019 cmd prompt via `pwsh build.ps1`. And restoring nuget packages via VS 2019

[2022-02-17 12:39] nvirth commented on #7397
So moving things around in common targets is a very dangerous change, and it won't happen.

What about then changing in [Microsoft.Common.CurrentVersion.targets](https://github.com/dotnet/msbuild/blob/v17.1.0/src/Tasks/Microsoft.Common.CurrentVersion.targets#L3456) CompileDependsOn (and CleanDependsOn, and the others) like this?

    <CompileDependsOn>$(CompileDependsOn);...</CompileDependsOn>

[2022-02-17 17:10] Forgind commented on #7397
Team triage:
Do you have a scenario in mind that needs this?

[2022-02-17 17:12] Forgind commented on #7396
Team triage:
Can you clarify what you're trying to accomplish? Also, your commands use cmake rather than MSBuild. Did you intend to file an issue with cmake?

[2022-02-17 17:19] rainersigwald commented on #7389
Team Triage: Can you [open a feedback ticket to share the dumps](https://docs.microsoft.com/visualstudio/ide/feedback-options)?

After it's created, that will open an internal bug which will be routed to the right team. If you post the link here we may be able to help that process go faster.

Can you please also get a diagnostic-level text log with `-flp:v=diag` and share that too? That may help p

[2022-02-17 17:26] Forgind commented on #7388
Team triage: Definitely confusing! Default globs are supposed to exclude the output path, but apparently they aren't. This could be a razor issue or an sdk issue, but it could also be MSBuild, so we'll leave it here for now.

We'll try out your repro steps and see if this is a configuration issue or a bug.

[2022-02-17 17:28] Forgind commented on #7380
Team Triage: We believe this is an issue with Visual Studio, not MSBuild. Can you [open a feedback ticket instead](https://docs.microsoft.com/visualstudio/ide/feedback-options)?

[2022-02-17 17:29] #7380 closed

[2022-02-17 17:55] Forgind commented on #5184
This can be resolved with <MSBuildWarningsAsErrors>MSB3277</MSBuildWarningsAsErrors>.

[2022-02-17 17:55] #5184 closed

[2022-02-17 20:46] Forgind commented on #1764
@vijaya-lakshmi-venkatraman, I think so.

[2022-02-17 23:25] hasansachdev commented on #6313
looks like this is still an active issue. was there a fix released  for this?

[2022-02-18 08:16] Sebazzz commented on #7389
Thank you @rainersigwald: I've opened [this issue here](https://developercommunity.visualstudio.com/t/dotnetmsbuild7389---Intermittent-dotne/1670154?space=61&ftype=problem&preview2=true&q=dotnet+msbuild+hang&entry=myfeedback) but there was no place to upload a confidential file. Where can I upload it?

[2022-02-18 10:26] stan-sz commented on #7357
@jrdodds yes, this is needed to identify the build, however, the purpose of this property would be to fall back to date/time in case the build is not executed in Azure DevOps (e.g. local builds).

[2022-02-18 14:43] rainersigwald commented on #6313
No, this hasn't been fixed yet. @hasansachdev, what's your use case?

Regardless of that, I don't see any reason to avoid making this task available on .NET 6--@jrdodds (or someone else) feel free to work on it. Just comment here to let us know and we'll assign it to you.

[2022-02-18 14:45] jrdodds commented on #6313
@rainersigwald I will take the issue. You can assign it to me. Thanks

[2022-02-18 14:48] rainersigwald commented on #6313
@jrdodds Awesome. Please let us know if you run into any trouble.

[2022-02-18 15:25] jrdodds commented on #7357
In many shops, local builds either are not given an identifier or are given a generic identifier like 'dev' or 'local'. This is because local builds are not considered 'official' and can't be used for releases. Local builds won't have the documented 'provenance' of a build linked to work items/issues, version control history, and test management.

You may know all of this already and you may have

[2022-02-18 21:15] robga opened #7400 "CS2015 error on version 17.1.0"
### Issue Description

After upgrading VS2022 to 17.1.0, my project failed to build. The compiler tried to compile many files in the "None" property in the target file and hit CS2015 error. I posted the details on the internal stackoverflow.
https://stackoverflow.microsoft.com/questions/294670

### Versions & Configurations

This issue is only on 17.1.0. I repro the issue on two PCs with 17.1.0 fo

[2022-02-18 21:42] rainersigwald commented on #7400
Can you share a binary log of the failing build? https://aka.ms/msbuild/binlog has instructions and warnings--if you want to share only internally let me know where you put it.

[2022-02-18 21:57] #6460 closed

[2022-02-18 22:35] rainersigwald commented on #7400
@robga shared a log offline and this looks like an instance of https://developercommunity.visualstudio.com/t/Visual-Studio-2022-Preview-171-emits-/1645825.

[2022-02-18 22:35] #7400 closed

[2022-02-19 00:26] AArnott opened #7402 "Platform negotiation breaks transitive P2P references"
### Issue Description

P2P references tend to be transitive, in that an indirectly referenced C# project will still be passed to the compiler. But this no longer works once platform negotiation is turned on.

### Steps to Reproduce

Use this repro sln, or follow these instructions.
[repromsbuild.zip](https://github.com/dotnet/msbuild/files/8101090/repromsbuild.zip)

[code]

Then add this to the `t

[2022-02-19 00:28] AArnott commented on #7402
Ok, so I'm a total idiot. The steps include setting `DisableTransitiveProjectReferences` to `true`. I just copied and pasted this from [the docs on how to turn on platform negotiation](https://github.com/dotnet/msbuild/blob/main/documentation/ProjectReference-Protocol.md#how-to-opt-in) without reading them.

Why must transitive P2Ps be turned off for platform negotiation to work?

[2022-02-19 01:11] PiDiBi opened #7403 "TreatWarningsAsErrors doesn't work for MSB3836"
### Issue Description
TreatWarningsAsErrors doesn't work for MSB3836

### Steps to Reproduce
even when specifying
`<TreatWarningsAsErrors>true</TreatWarningsAsErrors>`
the warning is not treated as error

`C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\amd64\Microsoft.Common.CurrentVersion.targets(2424,5): warning MSB3836: The explicit binding redirect on "System.Net.

[2022-02-20 06:18] FrankHeimes commented on #7032
[KirillOsenkov](https://github.com/KirillOsenkov) Thank you for your support. Unfortunately, I'm not allowed to forward the binlog file as it contains sensitive information and I was unable to create a sample project that reliably reproduces the problem.

However, I'd like to let you now that the problem was most likely caused by the fact that the source code is located in a subfolder named `Detai

[2022-02-20 06:18] #7032 closed

[2022-02-20 07:09] KirillOsenkov commented on #7032
Hmm, thanks for giving this a try. If you ever find more details that could help us, we'll be happy to take another look. Certainly would want to make sure we're not randomly dropping valuable warnings on the floor!

[2022-02-20 12:51] winstonpang opened #7405 "Issue when running dotnet pack on a multi-targeted project - error MSB4062: The "Microsoft.Build.Tasks.UnregisterAssembly" task could not be loaded from the assembly Microsoft.Build.Tasks.Core"
### Issue Description

We are in the process of upgrading a lot of our projects to .NET 6 from .NET Framework, but we need to keep them multi-targeted largely because the process of upgrading them all will take sometime so we cannot interrupt with the day to day workings on the application until every component has been updated.

A project that we had was registered for COM, etc. But from what I h

[2022-02-20 19:00] #7170 closed

[2022-02-22 11:45] drewnoakes commented on #4923
We are looking to reinstate a version of the .NET Project System change that originally flagged this issue.

https://github.com/dotnet/project-system/pull/7932

I will test the change against Roslyn to make sure the design time builds are not impacted.

Any concerns?

[2022-02-22 17:14] matkoch opened #7407 "Resolving Microsoft.Build assemblies stopped working with 6.0.102"
### Issue Description

[Starting with 6.0.102](https://github.com/nuke-build/nuke/runs/5275307492?check_suite_focus=true) I can no longer correctly resolve MSBuild assemblies using `Microsoft.Build.Locator`. Everything was still working on [6.0.100](https://github.com/nuke-build/nuke/runs/5148391742?check_suite_focus=true).

I'm still using `Microsoft.Build.*` packages in version 16.9.0, mainly be

[2022-02-22 18:08] #7407 closed

[2022-02-22 18:09] matkoch commented on #7407
Let me put this in hold. I made seemingly irrelevant changes, but apparently it was related.

[2022-02-22 18:14] BenVillalobos commented on #7402
To be completely honest, I don't remember why that flag had to be disabled. My best guess would be that transitive projectreferences bubbled up and followed the SetPlatform flow as a result.

This target in the SDK is probably the culprit behind the decision.

[code]

Checking out a binlog of the build with/without the flag set, It looks like enabling transitive references bubbles up all projectre

[2022-02-22 20:32] johncrim commented on #3925
This issue is pretty active as of .NET Core 6.0.200. See https://github.com/NuGet/Home/issues/7503 for more info.

[2022-02-23 01:06] Forgind commented on #7154
I seem to get a passed build if I use a bootstrap build of current main but not if I use the msbuild from VS 17.0.5; not sure what the difference is.

[2022-02-23 12:06] ContentsMayVary commented on #5981
I can confirm that this appears to be fixed in Visual Studio 2022 version 17.1 that was recently released.

[2022-02-23 13:20] #5541 closed

[2022-02-23 20:57] baronfel commented on #3062
Added the Documentation label to signal that we need a Docs addition for this feature.

[2022-02-23 22:24] Forgind commented on #3062
https://github.com/MicrosoftDocs/visualstudio-docs/pull/7585
https://github.com/MicrosoftDocs/visualstudio-docs/pull/7586

[2022-02-23 23:10] rainersigwald opened #7412 "ResolveAssemblyReference MSB3277 details don't specify config file as a source of versions"
This was reported internally by @AArnott -- thanks!

`ResolveAssemblyReference` emits a warning when encountering multiple versions of the same assembly that aren't cleanly resolvable, like

[code]

This is sometimes misleading because the versions reported aren't always accurate (#4757), but there's another failure mode: the version listed can come from binding redirects in an `app.config` file,

[2022-02-24 06:08] AArnott commented on #7402
I'm puzzled by this analysis. If the 'app' (or Tail in this case) builds in x86, then ultimately we want to deploy x86 binaries with the app, I would think. At least this is how .NET and nuget work today, where regardless of the AnyCPU-ness of a nuget package's reference assemblies, when it comes time to deploying binaries (copylocal behavior), if a nuget package contains binaries under the `runti

[2022-02-24 13:43] AArnott opened #7414 "msbuild /pp:out.xml emits empty file and no message on missing import"
### Issue Description

A regular build of a project with a missing import produces this:

But I have no idea how in the tree of imports this .targets file even gets attempted.
So I run `msbuild /pp:c:\temp\out.xml` to try to understand this. It produces no output to stdout or stderr. And the out.xml file has 0 length.

Not helpful at all. Can /pp be made to skip on missing imports and simply inclu

[2022-02-24 16:15] jeffkl commented on #7414
Related to https://github.com/dotnet/msbuild/issues/6209

[2022-02-24 16:52] BenVillalobos commented on #3897
Status update: https://github.com/dotnet/msbuild/pull/6148 is awaiting review/merge 🤞

[2022-02-24 17:51] AArnott opened #7417 "Static graph should be more tolerant of bad nodes"
I'm trying to build a static graph of the projects in a very large repo. Unfortunately for reasons I don't yet understand, some of the projects in the graph fail to evaluate, and apparently any such failure is fatal, even if it's a simple matter of a missing import, which ProjectLoadSettings.IgnoreMissingImports would resolve but that's apparently not an option with static graph.

I don't mind ski

[2022-02-24 18:24] BenVillalobos commented on #7402
My example should have been written as Head->Middle->Tail (oops). I recall there being some specific scenario that caused the change. It was likely related to VS but I can't remember off the top of my head (maybe @rainersigwald remembers?)

If this should be the normal case, then `DisableTransitiveProjectReferences=true` doesn't need to be a requirement.

[2022-02-24 23:00] drewnoakes commented on #6713
This is a duplicate of https://github.com/dotnet/project-system/issues/4665. @PathogenDavid has kindly [documented some workarounds](https://github.com/PathogenPlayground/TransitiveCopiedConentNotUpdated#workarounds).

We are working on a fix for it at the moment. https://github.com/dotnet/project-system/pull/7932 does fix this, but introduces some performance regressions that I'm trying to work a

[2022-02-25 01:02] aortiz-msft commented on #4025
NuGet Epic to address perf issues in the NuGetSDKResolver: https://github.com/NuGet/Home/issues/11441.

Please feel free to reach out to @jeffkl directly.

[2022-02-25 17:25] zivkan commented on #2713
I don't like +1 posts/comments, but there hasn't been any activity in this issue for 18 months, so I'd just like to add my 2c that investigating issues with NuGet's CI is on occasion challenging. A command line option to tell MSBuild not to import environment variables would help make our CI yaml more clear about what parameters are used by the tasks.

Sorry about this notification that doesn't ac

[2022-02-25 18:37] jaredpar commented on #2713
@rainersigwald curious, do we have a set of environment variables that are essentially necessary for MSBuild to be importing by default? For example I would say importing `%JAREDPAR_JOKE_OF_THE_DAY%` is not necessary because nothing in MSBuild fundamentally depends on that. I assume though there are a few, like `%PATH%`, for which it's reasonable to assume that build depends on hence should be imp

[2022-02-25 21:24] rainersigwald commented on #6993
Reactivating since this was reverted in #7415.

[2022-02-25 22:12] rainersigwald commented on #4081
It's actually called `AssemblyDependencyResolver`. Docs at https://docs.microsoft.com/dotnet/core/tutorials/creating-app-with-plugin-support

[2022-02-28 16:21] nvirth commented on #7397
I do have, if this was asked from me

[2022-02-28 16:39] Forgind commented on #7397
Can you explain that scenario?

[2022-02-28 17:48] baronfel opened #7423 "Integrate MSBuilldWarningsNotAsErrors with the SDK-level WarningsNotAsErrors property"
In #7309 we added a great new feature, MSBuildWarningsNotAsErrors. We should hook it up to the already-existing SDK-level property `WarningsNotAsErrors` if the MSBuild-specific property isn't set, like we do for `MSBuildWarningsAsMessages` and `MSBuildWarningsAsErrors`, so that users have a consistent way to handle warnings and errors across all of their projects.

* [Existing handling](https://gi

[2022-03-01 10:05] dellis1972 opened #7425 "Microsoft.Build.Utilities.ToolLocationHelper.GetPlatformSDKPropsFileLocation Does not work under .NET 6."
### Issue Description

It seems a few of the MSbuild ToolLocationHelper API's do not function correctly under .NET 6.
For example the `Microsoft.Build.Utilities.ToolLocationHelper.GetPlatformSDKPropsFileLocation` API is supposed to return
a path to the relevant API when called. Under normal `mbuild` this works as expected, however under `dotnet build` the
data returned is either empty or null (dep

[2022-03-01 18:58] BenVillalobos opened #7427 "SdkResultItem Equality Check Case Insensitive"
Should the equality check not be case insensitive?

_Originally posted by @Forgind in https://github.com/dotnet/msbuild/pull/6148#r801889902_

[2022-03-01 19:19] danmoseley commented on #7358
Survey is now closed - thanks for everyone that responded. We'll look through the feedback now.

[2022-03-01 19:19] #7358 closed

[2022-03-01 19:54] jrdodds opened #7428 "Enhancement: Add System.Environment::NewLine as a supported static property"
### Description
MSBuild currently doesn't seem to provide the 'native' line ending for the current OS. (Did I miss a property or function that provides the line ending for the platform?)

There is a set of static methods and properties exposed including the `System.Environment::CommandLine` property (see [Static property functions](https://docs.microsoft.com/en-us/visualstudio/msbuild/property-fun

[2022-03-01 21:58] eerhardt commented on #7329
@rainersigwald - is it safe to assume that this fix will be released in the `6.0.300` SDK? Just trying to figure out if we need to work around it or not. If it is in `6.0.300`, then we shouldn't need to work around it.

[2022-03-01 22:08] baronfel commented on #7329
@eerhardt yeah, the new function is in the 6.0.300 previews available on dotnet/installer right now.

Sample:
[code]

Result:

[code]

[2022-03-02 01:11] KirillOsenkov opened #7430 "GenerateAdditionalSources target runs after MarkupCompile"
The `GenerateAdditionalSources` target is used to generate AssemblyAttributes like [AssemblyVersion]:
https://github.com/dotnet/msbuild/blob/40f49cd8d06ec3ed6933fa66183e8d1615cb2edc/src/Tasks/Microsoft.Common.CurrentVersion.targets#L3568

However it runs after MarkupCompile, and GenerateTemporaryTargetAssembly doesn't take it into account.

So at the time BAML is compiled, the default 0.0.0.0 vers

[2022-03-02 02:11] Forgind commented on #7430
It looks like the only target in MSBuild is the GenerateAdditionalSources target. Could GenerateTemporaryTargetAssembly `DependsOnTargets="GenerateAdditionalSources"`? I'm a little unclear on the path forward from the MSBuild side.

[2022-03-02 07:13] KirillOsenkov commented on #7430
Basically we need to come up with a good proper fix to target ordering and data flow, and if part(s) of the fix are in the markup compile targets, we need to contribute it to them.

[2022-03-02 13:26] nvirth commented on #7397
We have smg like `Common.targets`, which is `<Import>`-ed in many `.csproj`s.
This `.targets` hooks in custom Targets into `CompileDependsOn` and `CleanDependsOn`.
Previously, this `Common.targets` was only included in old style `.csproj`s, where it worked fine.
Now, we have new projects using the SDK style format where this does not work by default, only with workarounds.

So, one scenario, where

[2022-03-02 16:18] jeremyVignelles commented on #7000
Any update on this ? Did you have a chance to reproduce the issue locally?

[2022-03-02 19:49] msallin commented on #7411
Any idea?

[2022-03-02 21:16] KirillOsenkov commented on #7430
We should also add a property to skip generate assembly version attribute so there's an easy way if you're adding the assembly version in some other way (otherwise you'll get duplicate assembly version attributes)

[2022-03-03 13:47] timvdh commented on #2746
Also, even with VS 2022, I recommend installing the SlowCheetah extension, right click the app.config and "Add Transform". I believe it adds more accurate (per file) transformations to you project file.

[2022-03-03 14:54] AArnott opened #7432 "ProjectGraph throws MSB0001: Internal MSBuild Error: Only transitive references may reference inner builds that got generated by outer builds"
### Issue Description

While trying to build a static graph of our (large) repo, an `InternalErrorException` is thrown.

Given it's an *internal* error, I don't know if the project it is evaluating is actually faulty or not. And I can't tell from the exception which project it stumbled upon either, so if this is due to a faulty project, throwing an `InvalidProjectFileException` and including proje

[2022-03-03 16:35] ramsubbaraoc opened #7433 "Building .NET Core application on linux throws MSBUILD : error MSB1025"
While building a .NET Core application which is referencing a .NET Standard library throws the following Exception on Linux.

[code]

The above exception is thrown while building the project using .NET 6.0.200.  The same code builds fine when built using .NET Core 3.1 and builds fine on Windows as well

[2022-03-03 17:12] BenVillalobos commented on #7432
MSBuild Team Triage: Is this a blocking scenario? Does it happen in other scenarios?

[2022-03-03 17:19] jrdodds commented on #7428
Yes. I’d be happy to pick this one up. Thanks.

[2022-03-03 17:20] BenVillalobos commented on #7427
Closing so we don't change current functionality and potentially break scenarios.

[2022-03-03 17:20] #7427 closed

[2022-03-03 19:29] jrdodds commented on #7428
@BenVillalobos Thanks for pointing me at `Constants.cs`. That was a big help.

[2022-03-03 19:51] AArnott opened #7435 "DeepCopyFrom fails to copy metadata values that are structured xml"
### Issue Description

DeepCopyFrom fails to copy metadata values when those values are structured xml.

### Steps to Reproduce

Given project xml such as this:

[code]

Call `ProjectItemElement.DeepCopyFrom` and pass in the `OptProf` item.

### Expected Behavior

The item is fully reproduced at the new location:

[code]

### Actual Behavior

The xml content of the `Scenarios` metadata is omitted

[2022-03-03 19:55] AArnott commented on #7432
@BenVillalobos  Yes, this blocks our ability to use static graph in a tool that would significantly benefit in perf and reliability if we could start processing with a full graph of projects.

[2022-03-03 20:39] rolfbjarne commented on #4056
Is this another case for the same problem?

[code]

fails with:

This works around it:

[code]

[2022-03-03 21:48] rainersigwald commented on #7435
Well, that's broken. I repro in a unit test: a337c04625.

[2022-03-04 10:29] #7137 closed

[2022-03-04 14:39] ramsubbaraoc commented on #7433
Build was looking for MSBUILDDEBUGPATH environment variable(if set) and since MSBUILDDEBUGPATH was set to an invalid path, the build was failing. There was a code change or fix in DebugUtils.cs file which went in .NET 6. Hence this was working fine(with a defect) in .NET Core 3.1 and failing in .NET 6.

[2022-03-04 14:39] #7433 closed

[2022-03-04 16:02] softwarekamal opened #7437 "Suggest: Once = true attribute for Targets to allow target only executed once per solution. in Directory.Build.targets"
**Shortly,**
1. If you have a Target that executed after build in Directory.Build.targets file.
2. It will executed for each csproj Project
3. Its awesome to do an attribute like `<Target Name = "CleanSolution" Once=true> </Target>`
4. It only executed once. (Whether we build single project or whole solution)

I came back here really when I try to execute a target only once. I try to add a lock fi

[2022-03-04 18:50] jrdodds commented on #7437
Hi @softwarekamal,
I think you want to use `$(TargetName)`. But I'll get to that.

MSBuild is project oriented and within a project a target will only run once. Having a `Once` attribute on `Target` doesn't make sense.

When MSBuild is given a .sln file, it create a 'meta project' from the .sln and then runs that generated project. The projects that are members of the .sln are run in separate cont

[2022-03-04 21:27] softwarekamal commented on #7437
Hello [jrdodds](https://github.com/jrdodds)
Thank you much for your fast reply. I search for solution targets. But actually looks it can't run inside Visual Studio.

https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2022#customize-the-solution-build

I give a test but when I rebuild solution. the Solution Target not executed....
![image](https://user-images.githubu

[2022-03-04 22:07] Arlodotexe opened #7438 "Conditional Project Reference in subproject not resolved or compiled"
### Issue Description

When a project contains a reference to another project with conditional dependencies, such as

[code]

Investigating the binlog, the package reference is picked up by some Targets (`ResolvePackageAssets`, `CollectPackageReferences`, etc), but not other Targets (`ResolveAssemblyReferences`, `CoreCompile`), causing the final build to fail due to namespaces from those packages

[2022-03-05 00:14] jrdodds commented on #7437
Yes. When I wrote "Unfortunately when building within Visual Studio, these files are not used", that is what I was making reference to.

[2022-03-05 00:16] jrdodds commented on #7437
Have you tried the following?

[code]

[2022-03-05 01:04] ds5678 commented on #4371
+1 This is so frustrating

[2022-03-05 01:34] ds5678 commented on #4371
None of the recommended workarounds worked for me. I only see two viable options:

* Write a script for deleting dependency files
* Write a script for copying the nondependency files

Both of these are ridiculous and shouldn't be necessary.

[2022-03-06 13:04] softwarekamal commented on #7437
Hello [jrdodds](https://github.com/jrdodds),
Thank you much for your effort dear

Yes command work. But if you use third-party .dll libraries the *.xml files still generated for these libraries.

If you have 4 projects that references these (3rd parties dlls)
The .xml and .pdb still exists for 3rd parties libraries

Should I use loop or something like <Delete Files="@(DeleteAfterBuild)" />
https:/

[2022-03-06 15:52] jrdodds commented on #7437
Hi @softwarekamal,
MSBuild is declarative and has no loops (like standard SQL). An `ItemGroup` is used to create a set of items which can then be provided to a task like `Delete`.

Are the third party DLLs being referenced as NuGet packages?

Are you using the same output directory (i.e. `$(OutDir)`) for every project in your solution or does each project have its own output directory?

Thanks

[2022-03-06 17:07] softwarekamal commented on #7437
Hello dear,
Yes I use the same output directory,

I try command your provided `<Delete> ` It worked with combination with this question:
https://stackoverflow.com/questions/851647/how-to-delete-multiple-files-with-msbuild-web-deployment-project

Final result is: (I feel more code to achieve result)
[code]

I wonder why short code `<Delete Files = "$(OutputPath)\*.xml"/`> not worked...

[2022-03-06 17:52] jrdodds commented on #7437
[code]

and

[code]

should be equivalent.

But I would use the first version, even though it is longer. I think the first version is slightly easier to understand and maintain.

[2022-03-06 21:38] drewnoakes commented on #7437
Deleting outputs during build will lead to your projects being eternally out of date and always being built, which will negatively impact your productivity.

Some ideas to consider:

- Rather than delete XML and PDB files, configure the projects not to produce these in the first place.

- It seems like you're trying to tidy up the output directory. I'm guessing this is for some kind of publishing

[2022-03-06 22:46] jrdodds commented on #7437
@softwarekamal, I agree with @drewnoakes.

Also note that the PDB (Program DataBase) files are used by the debugger and removing the .pdb files from Debug builds is probably not a good idea.

[2022-03-06 23:53] softwarekamal commented on #7437
Hello [drewnoakes](https://github.com/drewnoakes) and [jrdodds](https://github.com/jrdodds)
You both are really helped me enough!
The output path became nightmare. When I try to remove (files generated by compiler). Sometimes I got error message can't copy Foo.xml file messages,

As you mentioned [drewnoakes](https://github.com/drewnoakes) The projects always being built. plus I got error tons of

[2022-03-07 00:32] xXTurnerLP commented on #5889
This is a problem I had and still have, workaround is to kill MSBuild before each build (**taskkill /f /im MSBuild.exe** in cmd)

but i have a shit ton of other errors with nothing more than a stacktrace, msbuild is so fucking shit..

[2022-03-07 09:29] trivalik commented on #4371
@ds5678 If you set `<PrivateAssets>all</PrivateAssets>` for every dependency correct then it should work. If you have a longer dependency chain, then probably every item of the chain require this. You can play arround with msbuild log set to diagnostics to find the cause and set then `PrivateAssets`.

[2022-03-07 18:08] marcpopMSFT commented on #7285
@dotnet/kitten can you update the darc subscriptions so we can close this out? They are still on 17.1.

[2022-03-07 18:12] marcpopMSFT commented on #6713
Per Drew's comment, closing out this issue and will track it on the project system side going forward.

[2022-03-07 18:12] #6713 closed

[2022-03-07 18:26] mmitche opened #7442 "Suggestion: Build in base64 converter"
There a lots of cases where 'odd' parameters need to get passed to msbuild, often through other scripts. Most commonly are URIs, SAS tokens, etc., which tend to contain elements (?, ;, &, %) that could get reinterpreted by the various scripting languages as well as msbuild itself. This has become especially common as we try to have the same builds run across multiple operating systems.

One soluti

[2022-03-07 19:16] KirillOsenkov commented on #7285
Don't forget to publish to nuget.org 😛

[2022-03-07 19:19] #6032 closed

[2022-03-07 23:49] BenVillalobos commented on #7438
Pinging @nkolev92  _just in case_ it's something obvious from the nuget side of things

[2022-03-08 00:05] amaitland commented on #7437
Perhaps you need to consider a different approach, rather than deleting the files, perhaps removing them from the list of files that's copied would be better.

Example might look something like:

[code]

You'd have to workout the exact syntax for your scenario.

Just an idea.

[2022-03-08 01:30] nkolev92 commented on #7438
AdditionalProperties, UndefineProperties and the likes just won't work through ProjectReference.

https://github.com/NuGet/Home/issues/7286 Feel free to upvote that issue for the NuGet side of it all.
I think there might be more on the SDK/MSBuild side, but I just haven't done enough digging on that end to know what that may look like.

[2022-03-08 17:19] michael-hawker commented on #7438
Thanks @nkolev92, I think we're hitting this limitation mentioned in the docs page [here](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#adding-a-packagereference-condition):

Is that the issue you linked to or would it be a different one?

[2022-03-08 20:17] BenVillalobos opened #7451 "Dupicate entries for Microsoft.Build.Conversion.Core in app.config files"
app.config and app.amd64.config contain duplicate antries for Microsoft.Build.Conversion.Core.

We should delete the duplicate entry and hope nothing breaks (it's been there for a while) 🤞

[2022-03-09 13:02] dellis1972 opened #7452 "Building WinUI app under .NET 6 results in build error"
### Issue Description

Building a WinUI app under .NET 6 results in the following error

[code]

### Steps to Reproduce

Its difficult to reproduce because `dotnet build` support for WinUI is currently in progress. However the attached binlog should contain the required data.

[msbuild.binlog.zip](https://github.com/dotnet/msbuild/files/8214855/msbuild.binlog.zip)

### Expected Behavior

`GetInsta

[2022-03-09 15:16] rainersigwald commented on #6376
There are a few `#pragma warning disable CA1416` in the codebase that we should remove as part of this.

[2022-03-09 23:52] BenVillalobos commented on #6198
I don't know the details, just that there are many reasons unfortunately

You should be able to set up Command Line Arguments in the properties of your project. You could specify `/graph` there.

[2022-03-10 00:18] drewnoakes opened #7453 "ArgumentNullException leading to a VS crash"
### Issue Description

Seeing an ANE crash while debugging VS, after creating a project.

Discovered while researching a hang reported in https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1462801. Perhaps the failures are related.

### Steps to Reproduce

- Launch VS
- Start with no solution
- Add a text file (to create an empty solution)
- Add a new Console App
- See an exception that leads

[2022-03-10 00:44] jeffkl commented on #7453
I updated this code recently but this code path didn't change that much.  It used to run inside a throw away task.

https://github.com/dotnet/msbuild/blob/fb700f90493a0bf47623511edf28b1d6c114e4fa/src/Build/BackEnd/Components/SdkResolution/MainNodeSdkResolverService.cs#L152-L179

I wonder if its been throwing for a while?  If an exception is thrown, a "fatal build error" is logged, I wonder if we c

[2022-03-10 01:48] drewnoakes commented on #7453
@jeffkl it should be easy enough to repro with the above steps. Let me know if it doesn't repro for you and we can take a loon on my machine.

[2022-03-10 03:39] jeffkl commented on #7453
Interesting yeah it repros on 17.1.0 at least which means its not a _regression_ from my recent change.  Still not great obviously but it seems like the problem has been around for a while.

I tried debugging my local experimental instance which repro'd the problem but didn't see the exception, how do I get this to happen in a debugger? This is what I tried:

* Launch local VS
* Launch Experimenta

[2022-03-10 03:44] danmoseley opened #7455 "Use area labeler bot"
The [labeler bot](https://github.com/dotnet/issue-labeler) currently in the benevolent care of the dotnet/runtime team is used in many repos to apply "area-" style labels to issues and PR's based on an ML model over text, author, and files touched. With enough to learn on, it's highly accurate.

I think there's more than enough "area-" labeling prior art in this repo now to train and enable the bo

[2022-03-10 03:45] danmoseley commented on #7455
After it's enabled, the cost to this repo is zero. Although, if the bot does make a bad guess, it's best to correct it, so that it can improve when retrained some time in the future. Similarly its nice, but not necessary, to correctly label any the bot skips because it can't guess. We do these things in dotnet/runtime.

[2022-03-10 08:40] rizi commented on #3434
For me everything works with .net 5.0, but as soon as I use .net 6.0 I have to use
Microsoft.Build.Locator.MSBuildLocator.RegisterDefaults();

any updates on this issue (at least for .net 6.0)?

[2022-03-10 09:47] dellis1972 commented on #7452
Also missing is `ResolveSDKReferences`.

[2022-03-10 15:11] anpin opened #7457 "Conditional compilation ignored"
### Issue Description
I'm trying to build this [PR](https://github.com/mono/SkiaSharp/pull/1960), but some projects are failing due to ignored constants

### Steps to Reproduce
Try to build Uno.WinUI Gallery sample from the PR above.

binlog [msbuild.zip](https://github.com/dotnet/msbuild/files/8224457/msbuild.zip)

### Expected Behavior
Conditional compilation works

### Actual Behavior
Condition

[2022-03-10 15:46] rizi commented on #3434
I will check tomorrow, but I have VS 2019 and VS 2022 installed. .net core 3, .net 5 and .net 6.0 SDKs and runtimes.

I also have.net 4.7.2 installed.
So I think I have the latest version of msbuild and at least one version before the latest version.
Br

[2022-03-10 16:34] Forgind commented on #3434
Ah, ok. Not what I'd been hoping, then. Thanks for checking.

[2022-03-10 17:33] Forgind commented on #5638
Team triage: Rider uses `dotnet build` to build; Visual Studio doesn't. Your tasks target .net5.0, which is .NET Core, so it can be used in a .NET Core build, i.e., `dotnet build`, but not from msbuild.exe, which is what Visual Studio uses. Can you try multitargeting your task to target both net5.0 and net472?

[2022-03-10 17:46] Forgind commented on #7397
Team triage: Can you try rewriting your hooks to use BeforeTargets or AfterTargets instead?

CompileDependsOn and CleanDependsOn are properties, and their only relevance is their value at the time compile or clean actually execute. If you add your targets to one of them after compile/clean execute, it will be ignored. Similarly, if you add it before but it gets overwritten later, it will be ignore

[2022-03-10 18:01] Forgind commented on #7437
I haven't read all of the above, but here's a neat trick for making a target only build once:
Make a project that does nothing but build the one target. This can be very simple—not even an SDK.
Other projects, rather than building the same target, can build the project with <MSBuild Projects="..."... />. Targets already only build once per build per project per set of global variables, so if you r

[2022-03-10 18:02] danmoseley commented on #7455
@BenVillalobos should be. We have a new hire starting next week who will be taking over ownership of the bot, and I'll connect with him. He can reach out ..

[2022-03-10 18:11] jeffkl commented on #7453
@BenVillalobos when working on a fix I realized that this is fallout from https://github.com/dotnet/msbuild/pull/6763 which technically is incomplete since it now throws an exception on the main node when an out-of-proc node is requesting SDK resolution.  Should the fix be to serialize the `SDKResolverException` back to the out-of-proc node and throw it there?  Otherwise the current APIs only let

[2022-03-10 18:12] BenVillalobos commented on #7368
After thinking on this a bit: This is essentially a request to allow the metadata `GenerateResource` on a `EmbeddedResource` item to prevent/allow the item to flow down the chain (given a targetpath/culture and populated into the right item; `IntermediateSatelliteAssembliesWithTargetPath`.

The fix looks straightforward, but the implications of what this can do on a build need to be thought throug

[2022-03-10 18:15] BenVillalobos commented on #7455
Sounds good.

As an example, I would expect something like https://github.com/dotnet/msbuild/issues/7368 to be marked as `Task: GenerateResource`

[2022-03-10 19:11] BenVillalobos commented on #7457
We dug into this some and I noticed `SkiaSharpSample.Wasm.csproj` didn't contain `HAS_UNO` in `DefineConstants` at all.

I suspect `DefineConstants` is getting overridden somewhere in the build of your project. Is there any conflict/confusion between `DefineConstants` and `UnoDefineConstants`?

[2022-03-10 19:14] benvillalobos opened #7458 "Consider placing ref equivalents in lib of MSBuild's nuget package"
### Issue Description
During https://github.com/dotnet/msbuild/pull/6148 we created a `ref/` folder in MSBuild's nuget package. This caused an issue with either the sdk or nuget explained here: https://github.com/dotnet/sdk/pull/24258#issuecomment-1064342073

Let's consider placing the equivalent ref assemblies into lib.

[2022-03-10 20:24] BenVillalobos opened #7459 "Release MSBuild 17.2"
- [x] When VS main snaps to `17.3`, create `vs17.2` branch
- [x] When VS main snaps, set change 17.2 loc branch from `main` to `vs17.2` and file a loc exception.
- [x] Create darc channel for `VS 17.3` if it doesn't already exist \
`darc add-channel --name "VS 17.3"`
- [x] Associate the next release branch with the next release channel \
`darc add-default-channel  --channel "VS 17.3" --branch vs17

[2022-03-11 04:53] denyonce317 commented on #7337
Hello, I have experienced the same issue.
Found this : https://issuetracker.unity3d.com/issues/uwp-building-multi-platform-appxbundle-via-msbuild-fails-with-il2cpp-scripting-backend
It solved my issue. Might be a help.

[2022-03-11 06:06] anpin commented on #7457
@BenVillalobos bt the issue occurs in the project `SkiaSharp.Views.Uno.WinUI.Mobile.csproj` targeting `net6.0-ios` and `net6.0-maccatalyst`, moreover the project  is not referenced in `SkiaSharpSample.Wasm.csproj`. THe project in question seems to have all the constants defined
![image](https://user-images.githubusercontent.com/6060545/157811438-039ca638-5332-48d2-ae79-fcd639acb9ef.png)

`UnoDefin

[2022-03-11 11:01] FlorianRappl commented on #3468
This is a huge issue also for me. Not sure why it is not addressed. For me, its either in the `WriteLinesToFile` or `Copy` task...

[2022-03-11 17:46] jrdodds commented on #7437
At this point this issue is not a defect or an enhancement to MSBuild. It is a 'how to' question.

[2022-03-11 17:48] Forgind commented on #7437
True. Moved it to the Discussion milestone.

[2022-03-11 19:20] BenVillalobos opened #7462 "FileMatcher Hides FileNotFound Errors On Assemblies"
### Issue Description
FileMatcher will catch IO related exceptions **but** continue the build down a different code path. This led to an incredibly confusing experience when Microsoft.IO.Redist couldn't be found while trying to expand a glob for $(Project).*.props early in the build.

![image](https://user-images.githubusercontent.com/4691428/157936399-17ac4fd4-5db6-4edf-a8ac-3611c8db2ce4.png)

We

[2022-03-11 20:26] softwarekamal commented on #7437
Hello @amaitland,
I tested your code. But nothing worked. I try following to make sure it can delete a specific DLL or something. But the DLL exported after build in Release.

[code]

Can you help please on that?

[2022-03-11 20:38] softwarekamal commented on #7437
Hello [Forgind](https://github.com/Forgind),
Please  I don't really understand how to apply that...
If you refer to my [comment ](https://github.com/dotnet/msbuild/issues/7437#issuecomment-1060067517)

Am not 100% understand how ResolveAssemblyReferences target works. And I wish I can, I need to remove specific files and folders that I can't prevent them from generating. That's why I need execute

[2022-03-11 20:44] softwarekamal commented on #7437
Hello [Forgind](https://github.com/Forgind),

Also your scenario maybe works in solution build. But sometimes I need build only specific project.
(So I need a **Shared Target** concept). Which can work in solution build or project build. (Only once).
That's why I think creating empty project to do one target maybe not work in project build level. (I don't sure!)

Am waiting for more explanation fo

[2022-03-11 20:58] amaitland commented on #7437
@softwarekamal I'd suggest having msbuild create a structure log and using https://msbuildlog.com/#usingbl to debug, you can then look at the different targets and their item groups. Work out exactly what you need for your scenario.

https://github.com/cefsharp/CefSharp/blob/cefsharp/99/NuGet/CefSharp.Common.targets#L10 contains the actual targets I use in CefSharp for different scenarios.

I don'

[2022-03-11 20:59] Forgind commented on #7437
It should work without a solution, too. I attached a simple group of 3 projects to illustrate the idea. (`dotnet build temp.csproj` to see it in action)

temp.csproj builds runOnce.proj and middle.proj as well as printing something. middle.proj prints something then builds runOnce.proj. runOnce.proj prints something. Since both temp.csproj and middle.proj build runOnce.proj (and specify to build t

[2022-03-12 01:30] softwarekamal commented on #7437
Hello @Forgind,
It works perfect!, But please I can't access OutputPath property in runOnce.proj it shown empty in Output window.
_NOTE: I use normal .NET Framework VS build not dotnet build._

I upload what I tried here https://github.com/softwarekamal/tempNewRepo
Please can you look at Directory.Build.targets  why OutputPath not printed in runOnce.proj

Finally, can you please what you mean by:

[2022-03-12 03:09] softwarekamal commented on #7437
Hello @amaitland, Your solution are 99.9% now But ->
I try the ResolveAssemblyReferences target. Its really awesome and works 99%. After I search for that I find follows:

[code]

Ok this is cool for xml, pdb files? How to exclude custom folders for example \locals, \en, etc.
Please any workaround?

Thank you much dear

[2022-03-12 17:30] softwarekamal commented on #7437
After long journey. The MSBuild is a nightmare. I deleted 3rd parties library itself. rather than $(OutputPath), and learn from some mistakes.

I finally combine multiple solutions together from
I combine @jrdodds [Solution](https://github.com/dotnet/msbuild/issues/7437#issuecomment-1059619357)
with @amaitland [Solution](https://github.com/dotnet/msbuild/issues/7437#issuecomment-1061267484)

Here'

[2022-03-14 12:28] wouterroos opened #7465 "_CleanPackageFiles target fails sporadically when (re)building"
### Issue Description

When rebuilding our 80+ project solutions we sporadically get the following error on the `_CleanPackageFiles` target:

`MSB3061 Unable to delete file "C:\Projects\MyProject\src\MyProject\obj\MyPlatform\Debug\MyProject.MyPlatform.3.0.0-debug.nuspec". Access to the path 'C:\Projects\MyProject\src\MyProject\obj\MyPlatform\Debug\MyProject.MyPlatform.3.0.0-debug.nuspec' is denied

[2022-03-14 15:31] AArnott opened #7466 "MSBuild hangs and eventually times out for OOP builds queued from .NET 6 process running in VS apphost"
### Issue Description

I have a .NET console app that uses the MSBuildLocator and executes out-of-proc builds using the MSBuild `BuildManager`.
When my console app is executed or debugged from VS, this build hangs before it begins. About 2 minutes later the build fails with an exception about a failure to spawn and communicate with the child process.

The MSBUILDDEBUGCOMM log is here: [MSBuild_Com

[2022-03-15 07:18] icnocop commented on #6461
For reference, https://github.com/abrobston/isolated-task

[2022-03-15 08:10] kasperk81 opened #7473 "multiple build warnings: Consider app.config remapping of assembly"

[2022-03-15 12:21] #7370 closed

[2022-03-15 15:03] baronfel commented on #6993
Linking https://github.com/dotnet/msbuild/issues/4081 as a possibly-required part of reactivating this.

[2022-03-15 18:22] #7136 closed

[2022-03-15 18:22] #7428 closed

[2022-03-16 10:50] nvirth commented on #7397
I will try using `AfterTargets="Compile"` in future developments.

[2022-03-16 16:37] AArnott opened #7470 "ProjectGraph throws InvalidProjectFileException when 'Windows-1252' is specified in xml header"
### Issue Description

When a valid project file starts with this line:
[code]

MSBuild can build it, but the `ProjectGraph` throws an `InvalidProjectFileException`.

### Steps to Reproduce

Add `<?xml version="1.0" encoding="Windows-1252"?>` to the top of any project file, then try to load it with code such as:

[code]

### Expected Behavior

No exception, and a valid graph.

### Actual Behavior

[2022-03-16 17:42] Forgind commented on #6880
Talked with @rainersigwald, and he said this is actually as intended. A match is traditionally defined as a match _on EvaluatedInclude_, that is, not including metadata. If you want behavior similar to what you expected, he proposed batching with %(Foo.Metadata) == 'value' in a target.

[2022-03-16 17:42] #6880 closed

[2022-03-17 03:48] danmoseley commented on #7455
Cc @dakersnar  for later

[2022-03-17 05:21] AraHaan opened #7474 "Add an option to force <Link> to be used when user wants it to be used when file exists within the project structure."
Currently I see no (publicly documented) way of forcing a Included File's ``<Link>`` when it is intended to be forced included in the project despite it living in the project structure.

A problem I face is something along the lines of:

- EFCore requires Text Templates under ``CodeTemplates/EFCore`` within the project structure.
- User wants to have the templates "linked" to display as if they ar

[2022-03-17 19:56] AraHaan commented on #7474
Turns out I was swapping doing the links wrong.

[2022-03-17 19:56] #7474 closed

[2022-03-17 20:58] #7437 closed

[2022-03-18 00:02] dfederm opened #7475 "[Project Graph] Missing transitive project references"
In certain cases, some transitive project references nodes are missing

Looks to be caused by #7053.

The issue seems related to `GetTransitiveProjectReferencesExcludingSelfHelper`. For the first cache check I think it may need to change from:

[code]

to:

[code]

Otherwise, if a node has cached transitive references but isn't "visited" yet (not in `traversedReferences`), which seems to only happ

[2022-03-18 00:02] dfederm commented on #7475
CC @Forgind , @mruxmohan4

[2022-03-18 17:58] #6313 closed

[2022-03-20 14:52] igitur commented on #2532
This solved it for me, because previously I had a mixture of standard dotnet SDK installs (via Visual Studio), but also via scoop package manager. I had since removed scoop's version, but the environment variable was still pointing to the scoop directory. Just deleting the `MSBuildSDKsPath` environment variable thus solved it for me.

It would have been nice if the tool output this:
` error MSB423

[2022-03-21 19:13] NightOwl888 commented on #350
What options are available for doing satellite assembly generation cross platform? The [Create satellite assemblies for .NET apps](https://docs.microsoft.com/en-us/dotnet/core/extensions/create-satellite-assemblies) documentation steers us toward using al.exe.

I am creating a dotnet tool that can be used to compile satellite assemblies. Ideally, there would be a NuGet package I can import to gene

[2022-03-21 19:40] #7475 closed

[2022-03-22 03:00] kartheekp-ms commented on #2064
How about adding `SkipUnsupportedProjects` like [`SkipNonexistentProjects`]( https://docs.microsoft.com/visualstudio/msbuild/msbuild-task?view=vs-2022) to MSBuild task?

[2022-03-22 15:26] gallettoNL commented on #5981
OK thanks!

Will de Haan

***@***.***

Lievestro Software B.V.

T.    +31 (0) 573 43 84 44
E.    ***@***.******@***.***>
I.     www.lievestro.nl<http://www.lievestro.nl/>
Normaliter werk ik op maandag, dinsdag, woensdag en vrijdag voor Lievestro.

Op dit bericht is een disclaimer<http://www.lievestro.nl/disclaimer> van toepassing. Aan dit bericht kunnen geen rechten worden ontleend.
Lievestro Soft

[2022-03-23 02:22] burtonrodman commented on #7388
[code]

[2022-03-23 21:42] madelson opened #7486 "Transitive reference to System.Configuration.ConfigurationManager doesn't work in net6.0 project"
**Version Used**:  VS 17.0.1

**Steps to Reproduce**:

1. In VS, create a new net6.0 class library project. Set the csproj to the following:

[code]

Upon compiling, observe the `System.Runtime.Configuration.ConfigurationManager` is pulled in transitively in packages.lock.json:

[code]

2.  Add a reference to `ConfigurationManager` in the C# source (Class1.cs):

[code]

3. Compile.

**Expected Beh

[2022-03-23 23:11] Forgind commented on #7470
I made this unit test:
[code]

And it passed with current main. What did I do wrong? Does the project need to actually do something?

[2022-03-23 23:18] Forgind commented on #7473
Can you upgrade packages as it recommends? Some of yours look to be quite out of date—I'd be surprised if they're even supported.

Alternatively, you can suppress all these messages (and all others from the ResolveAssemblyReference task) by setting the property ResolveAssemblyReferencesSilent to true.

[2022-03-24 00:04] Forgind commented on #7462
I believe you also would need to be on windows/using framework for this to show up.

[2022-03-24 05:25] kasperk81 commented on #7473
@marcpopMSFT i opened this issue in dotnet/installer because the "ci" in dotnet/installer was failing. not sure how is transferring to dotnet/msbuild would help.

@Forgind feel free to transfer it back to dotnet/installer

[2022-03-24 05:28] kasperk81 commented on #7473
example: https://dev.azure.com/dnceng/public/_build/results?buildId=1679454&view=logs&j=62854eff-420c-5e40-491d-fecbd59fb0b1&t=9286a1fb-56f8-54f7-ce4c-2cacb048ed04&l=262

[2022-03-24 12:54] madelson commented on #7486
@jcouv can you explain why this is labeled as "question"? Is this behavior expected?

[2022-03-24 13:39] dlukach opened #7487 "SEGFAULT due to tiered compilation on 32 bit RASPBIAN .net 6.0 Builds"
### Issue Description
We're having an issue with .net 6.0 builds of our Avalonia GUI App.

The issue is, when resizing or scrolling an items repeater we get a SEGFAULT with our .net 6.0 app.
This issue only occurs when building an arm32 .net 6.0 program, no matter if it's ready or run to not.
The same test program does not segfaul on 64bit arm or when being targeted as .net 5.0 instead of .net 6.0

[2022-03-24 14:07] #7335 closed

[2022-03-24 14:11] #7451 closed

[2022-03-24 15:45] #7435 closed

[2022-03-24 16:12] jcouv commented on #7486
I'll let msbuild folks triage and confirm whether question or bug.

[2022-03-24 16:40] BenVillalobos commented on #7486
MSBuild Team Triage: This looks like a NuGet issue. We repro'd by:

`dotnet new console`
Bring in
[code]
Restore
Build
It repro's.
Uncomment the other packagereference and it will work.

We diff'd the before/after `projects.assets.json`, we saw weird items like
![image](https://user-images.githubusercontent.com/4691428/159966407-4723b28a-a272-4d2a-943e-05a6580f4caa.png)

Forwarding to nuget

[2022-03-24 16:42] BenVillalobos commented on #7486
This issue was moved to NuGet/Home#11692

[2022-03-24 16:42] #7486 closed

[2022-03-24 16:54] BenVillalobos commented on #7487
MSBuild Team Triage: This doesn't look like an MSBuild issue. Sending over to runtime, who may know where to triage this.

[2022-03-24 20:21] #7241 closed

[2022-03-24 23:19] dashesy commented on #4194
I recently got an error from a docker trying to build a package, because PackageVersion was detected like this

[code]

which is invalid. So this is not just a warning.

[2022-03-25 18:29] EgorBo opened #7506 "Internal MSBuild Error: "DefiningProjectFullPath" is not a valid item-spec modifier"
I'm not sure this is a correct repo to file this issue, but `dotnet/installer` dependency update in https://dev.azure.com/dnceng/internal/_git/dotnet-optimization/pullrequest/21940 (https://dev.azure.com/dnceng/internal/_build/results?buildId=1682319&view=logs&j=3052c9a4-5368-55af-482b-1070f1d635d5&t=56e27cfc-3548-5f31-e7e0-7d617b0462b7) broke the build with:
[code]

cc @AndyAyersMS @davidwrighton

[2022-03-25 21:02] dfederm commented on #7432
This is related to a `ProjectReference` having an explicit `SetTargetFramework` metdata on it, which is a not-very-well defined scenario, either in the project graph nor in NuGet

[2022-03-25 22:37] AArnott commented on #7470
This project seems to be able to repro the problem:
[ConsoleApp6.zip](https://github.com/dotnet/msbuild/files/8354151/ConsoleApp6.zip)

In fact I didn't even have to write an msbuild API client to hit it. Just running the .NET Upgrade Assistant hit it:

[code]

You can install the upgrade assistant with `dotnet tool update -g upgrade-assistant`.

[2022-03-28 08:04] stan-sz commented on #1622
Here's a small repro:

[code]

On Ubuntu 20.04 observe this output:

[code]

Context: Latest [Helm](https://github.com/helm/helm) supports pushing helm charts to a container registry, though the URL has to be prefixed with `oci://` protocol.

[2022-03-28 13:29] rokonec opened #7496 "MSBuild Server instrumentation"
Using `CommunicationUtilities.Trace`, ETWs and maybe some additional logs.

[2022-03-28 19:00] danmoseley commented on #7470
ProjectRootElement.LoadDocument uses the XML DOM (as it needs to r/w), and ProjectInstance.FromFile uses XML reader directly - perhaps that's the difference.

[2022-03-28 19:56] danmoseley opened #7499 "Add RegexOptions.CultureInvariant to regexes"
As per discussion in https://github.com/dotnet/msbuild/pull/7498, all regexes used in MSBuild should have RegexOptions.CultureInvariant unless they are expected to behave differently in different cultures (and I suspect none are). #7498 fixes the only case known to be causing a problem.

this one probably could cause a problem, but I guess nobody reported it:
https://github.com/dotnet/msbuild/blob

[2022-03-28 20:18] #7154 closed

[2022-03-29 07:01] AR-May commented on #7373
We measured rebuild of the same project for all three options and did not see much of difference performace-wise.
Here are the results.
Option|First Run|SecondRun
---|---|---
1|1967.6 ms|275 ms
2|1985 ms|265 ms
3|2036 ms|295 ms

Hence, we decided we will implement it in `Microsoft.Build` assembly.

[2022-03-29 08:07] #7357 closed

[2022-03-29 14:48] lawrence-laz opened #7503 "Running a task after clean only if it's not a rebuild"
I have a solution with common output directory. Inside this solution I have the following task in the main startup `.csproj` file:
[code]
This allows to fully clean the output directory when running "Clean" via Visual Studio.
However, this breaks the "Rebuild" option in Visual Studio, as the directory gets cleaned in the middle of a rebuild.

What I want is to be able to run the `<RemoveDir>` task

[2022-03-29 16:16] AArnott commented on #6927
The overall effort that led to this requirement has been canceled. I don't need this any more.

[2022-03-29 16:16] #6927 closed

[2022-03-29 19:28] ghogen opened #7504 "DateTimeOffset property function"
### Issue Description

This is a request for DateTimeOffset to be available as a property function.

### Steps to Reproduce

[code]

[2022-03-29 20:02] rainersigwald commented on #7504
@gmarbury, can you give an example of how you'd like to use this in your build? In general, accessing time in a build is a source of nondeterminism that people prefer to avoid.

[2022-03-30 08:33] rolfbjarne commented on #6753
I believe we ran into this again in a totally different way:

We set the `MONO_ENV_OPTIONS=--trace=E:all` environment variable (to ask mono to print every exception to stdout/stderr), and that ended up hanging msbuild in the same way (sometimes).

[2022-03-30 12:43] gmarbury commented on #7504
To provide a "Build Date" in an about box of a released multi-platform product. The build date is inserted as a single line in an embedded resource with MSBuild during "release" compilation. The About Box page looks for this resource and displays the information. What's nice about using MSBUild is it works on all platforms. Because of determinism, the timestamp in the PE header is useless.

By the

[2022-03-31 02:35] ahdung opened #7507 "ProductVersion not work"
![image](https://user-images.githubusercontent.com/12094247/160964441-e9ba7f1d-c920-4e51-9377-61566e379eac.png)

How to set the product version in file properties dialog?

[2022-03-31 02:41] ahdung commented on #7507
I think I found the right property, it is `InformationalVersion`.

[2022-03-31 11:49] toniellenk commented on #5768
This worked for me. Thanks!

[2022-03-31 14:53] petsuter opened #7509 "EmbeddedResource does not update when ResXFileRef file changes"
We have a embedded resource:
[code]
That .resx file references a `r.dat` file. That `r.dat` file is updated correctly. But the `Resources.resources` file is not updated.
[code]
This works correctly in .NET Framework.

[2022-03-31 16:18] BenVillalobos commented on #7503
Rebuild depends on these targets
https://github.com/dotnet/msbuild/blob/ce7523296d7ddb70fb61a68e84bc2ff38e012e35/src/Tasks/Microsoft.Common.CurrentVersion.targets#L956-L961

What you can do is hook into `BeforeRebuild` and set `SomeProperty` to true. Then condition your `FullClean` target to run only if that property is false.

[2022-03-31 16:18] #7503 closed, assigned to nobody

[2022-03-31 16:32] BenVillalobos commented on #7465
MSBuild Team Triage: We believe this is an issue with NuGet. Your inner builds of Copper.Discovery.Interface are all trying to delete the nupkg and nuspec files.

The first one deletes the files
The second one gives the error
The third one doesn't see the files because they got deleted.

To the NuGet team: It sounds like these targets should clean these files in the outer build. That, or setting `

[2022-03-31 16:32] BenVillalobos commented on #7465
This issue was moved to NuGet/Home#11710

[2022-03-31 16:32] #7465 closed

[2022-03-31 16:44] BenVillalobos commented on #7457
Team Triage: We double checked the command line args and `DefineConstants` in your binlog and `HAS_UNO` does look to be defined.

Does the error show up in a command line build, or only in VS?

[2022-03-31 16:51] BenVillalobos commented on #7438
Team Triage: Do you see this issue when using `Microsoft.NET.Sdk` as your SDK instead of `MSBuild.Sdk.Extras`?

[2022-03-31 16:53] BenVillalobos commented on #7403
Team Triage: It's not! 😬

cc @ghogen as we need to document this.

[2022-03-31 16:56] ghogen commented on #7403
@BenVillalobos @PiDiBi
I have plans to document this in April as well as some other diagnostics-related work.

[2022-04-01 00:40] ahdung commented on #7507
But I still think its a problem, `ProductVersion` should be the right thing.

[2022-04-01 01:02] macsux opened #7566 "Referenced DLLs of custom Task not getting loaded after v6.0.200"
### Describe the bug
A NuGet package containing custom targets with a Task that relies on additional DLLs sitting next to it fails to load its dependencies. The tasks assembly has on `System.Runtime.Loader, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a`   (that sits next to it inside the nuget package). Usage of said approach got broken after v.6.0.200 of the SDK, but worked pr

[2022-04-01 10:12] v-codyguan commented on #7388
Hi Burton,

Thanks for your feedback!
For further investigation, could you please provide more detailed information? In addition, could you please help to check our steps what we tried? Please take a look if we are missing some essential steps by chance.
1. Create a Razor Page project in VS Code, version: 1.66.0.
2. Debug.
3. Restart VS Code and re-open this project.
4. Debug again.

Our result: D

[2022-04-01 23:03] jrdodds commented on #7504
@rainersigwald, @BenVillalobos, This sounds similar to the work in #7428 and I would be happy to take this issue if that is agreeable. Thanks

[2022-04-01 23:22] BenVillalobos commented on #7504
Sounds good! Assigned to you

[2022-04-02 13:57] xsoheilalizadeh commented on #7292
I'm running  [dotnet/aspnetcore](https://github.com/dotent/aspnetcore) tests on macOS ARM64 and I get `[net7.0|x64]` at the end of the result. I'm curious to know why it's x64 while I'm running on a x64 machine.

[code]

@rainersigwald

[2022-04-03 08:21] haolly commented on #2772
Is any news about this issue?  since the last comment is two years ago

[2022-04-03 18:02] r3h0 commented on #3693
My results are different. At least on Linux, `dotnet msbuild` returns an error when using OP's `^` new line escape character format.

[2022-04-03 19:54] abatishchev commented on #7285
Don't forget to [publish a release](https://github.com/dotnet/msbuild/releases?q=msbuild&expanded=true) too :)

[2022-04-03 21:02] r3h0 commented on #1622
@stan-sz, more that don't work: `&#92;`, `$([MSBuild]::Escape(&#92;))`. However, `%5C` _does_ work for me. Here's how I used it for a multi-line command:

[code]

[2022-04-03 23:43] stdedos opened #7514 "Command `dotnet publish ... returned a non-zero code: 1` without explanation"
### Description

Command `dotnet publish ... returned a non-zero code: 1` without explanation

### Reproduction Steps

[code]

### Expected behavior

Explain to me what's wrong _i.e. argument `-p:p:...` is perhaps a typo, did you mean `-p:...`?_

### Actual behavior

_See above_

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other infor

[2022-04-04 01:06] aortiz-msft commented on #2064
FYI.. @marcpopMSFT @dotnet/msbuild team this issue has 23 upvotes from the community in https://github.com/NuGet/Home/issues/7796. In summary, NuGet.exe invokes msbuild.exe during restore to identify the project references for a project. As per @kartheekp-ms's analysis https://github.com/NuGet/Home/issues/7796#issuecomment-1076622574, it looks like something changed in msbuild version after 15.9 w

[2022-04-04 03:56] danmoseley commented on #6964
The bug then is that the exception message contains the stack. I agree it's low priority.

[2022-04-04 04:01] danmoseley commented on #7514
MSBuild should error on /p:p:foo=bar because p:foo is an invalid property name.

The second bug is that dotnet.exe does not show parsing errors:
https://github.com/dotnet/sdk/issues/14499

[2022-04-04 18:09] Forgind commented on #7514
Which property logging PR? Do you mean the environment-derived properties change? That doesn't have anything to do with this.

[2022-04-04 18:10] baronfel commented on #7514
I did, thank you for confirming :) I thought I remembered something related to parsing logging in there, but couldn't remember 100%.

[2022-04-04 18:14] mwpowellhtx commented on #2281
Agree there should be better comprehension available to specify actual types during build. Leaving authors to have to get very creative in how they present their argument lists for sure.

[2022-04-05 03:25] AArnott opened #7518 "Building vcxproj with P2P to multi-targeting csproj fails in Visual Studio build or CLI with BuildProjectReferences=false"
### Issue Description

vcxproj fails to set the `TargetFramework` global property on a P2P to a multi-targeting csproj when `BuildProjectReferences` is set to false, which VS does by default.

### Steps to Reproduce

Repro solution: [MTvcTest.zip](https://github.com/dotnet/msbuild/files/8414587/MTvcTest.zip)

1. Create a VS solution
2. Add a csproj (SDK style) that targets net6.0 and net472
3. Add

[2022-04-05 10:33] anpin commented on #7457
here is bin log from cli  [msbuild.zip](https://github.com/dotnet/msbuild/files/8417197/msbuild.zip)

please note that I have also updated `Uno.WinUI` packages

looks similar, but also has some additional error message
[code]

[2022-04-05 12:40] jeromelaban commented on #7457
The build errors you are seeing (the catalyst and iOS ones) are caused by a discrepancy between the .NET 6 Mobile SDK used by Uno and the one used in the SkiaSharp build (RC1 Preview vs. Preview 14). We expect this will be fixed when RC1 gets released (along with the .NET SDK 6.0.300)

[2022-04-05 16:13] Arentir opened #7519 "Multiple Copy into statements in script cause sql project to fail building"
### Issue Description
A SQL project fails to build if they are two "copy into" statements in a given script. The issue is seems to stem from the fact it cannot handle the WITH arguments if they are repeated. In this example, it will be FILE_TYPE.

### Steps to Reproduce
Open the sql project zipped here and try to build.
[bugtest.zip](https://github.com/dotnet/msbuild/files/8419894/bugtest.zip)

To

[2022-04-05 18:17] Forgind commented on #7519
When a "task failed unexpectedly," that's an issue with the task, not with MSBuild. Can you file an issue [like this](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) and mention that it's an issue with sql (Microsoft.Data.Tools.Schema.Tasks.Sql)?

[2022-04-05 18:17] #7519 closed

[2022-04-05 18:25] Forgind commented on #7514
I tested out a slightly simplified form of this in the MSBuild repo:
[code]

That sounds to me like something is suppressing the output—MSBuild is producing a useful message, but something else rejects it. Is this an SDK issue @dsplaisted? Or maybe something docker-specific?

[2022-04-05 18:59] BenVillalobos commented on #7457
Thanks for the heads up @jeromelaban! Closing this as it's not an msbuild issue

[2022-04-05 18:59] #7457 closed

[2022-04-05 19:37] danmoseley commented on #7514
That's https://github.com/dotnet/sdk/issues/14499 right? It needs investigation but it's already logged

[2022-04-05 19:57] Forgind commented on #7514
Great, thanks for finding that!

[2022-04-05 19:57] #7514 closed

[2022-04-06 05:42] sreelekshmip commented on #5030
I am using msbuild /restore to retore the packages and then invoked devenv to build the solution. The commands are included in a batch file and this file is integrated to CI pipeline. The batch commands are as shown below.

------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------

[2022-04-06 16:07] 6a6f6a6f opened #7522 "How can I parse `PackageReference` from many `ItemGroup`?"
I'm using `Microsoft.Build` on version `17.1.0` as a library inside a .NET 6 simple application. My main goal is to have the attributes of `PackageReference` (`Include` and `Version`) starting at `ProjectRootElement.Open(path)`, but when I loop thou the `ItemGroups`, I'm not able to find any other attribute than `Version`:

[code]

If these questions do not fit here, please bring me some direction

[2022-04-06 16:18] rainersigwald commented on #7522
Are you wanting to do this _as XML_, or _as MSBuild objects_? The latter is preferred, but requires you to think more about the actual item type. Specifically, the `Include` is _expressed in XML as an attribute_, but becomes something more fundamental to the MSBuild type--it's not metadata because it's special and it's available in [`ProjectItemElement.Include`](https://docs.microsoft.com/dotnet/a

[2022-04-06 18:27] AArnott commented on #7466
The workaround of setting `UseAppHost` is ineffective when the project builds as a dotnet CLI tool, since the `dotnet tool install` command creates a new apphost .exe.
So to solve that, I'm adding this to my Main method:

[code]

[2022-04-08 09:30] Eli-Black-Work opened #7528 "Option to fail builds when a ProjectReference does not exist"
I have a project, `MyApp`, that depends on a source generator project, `MySourceGenerator`, like so:

`MyApp.csproj`:
[code]

`MySourceGenerator` generates a class that code in `MyApp` relies on. If `MySourceGenerator` isn't found, `MyApp` fails to build, because the class that it expects `MySourceGenerator` to emit is missing, but it's difficult to find the root of the issue, because the missing

[2022-04-08 09:32] bouchraRekhadda commented on #4098
Hello,

We are having similar issue with MSBuild `17.1.0` (from **VS 2022 17.1.2** installation) when using maximum CPU count, i.e. `/m`

Microsoft.Build.Exceptions.InternalLoggerException: The build stopped unexpectedly because of an unexpected logger failure. ---> System.NullReferenceException: Object reference not set to an instance of an object.
    at Microsoft.Build.BackEnd.Logging.ParallelC

[2022-04-10 19:00] #7405 closed

[2022-04-10 19:33] chrisp0 commented on #4371
+1

Reference project will not be copied but dependecies of the projected will copied to output

[2022-04-10 21:39] RickStrahl commented on #4371
I've taken to explicitly referencing the project's assembly instead of the project in this case.

[code]

Using `<Private>false</Private>` keeps the dependencies from being copied over.

[2022-04-11 00:10] danmoseley commented on #6752
dupe of #3891

[2022-04-11 00:10] #6752 closed

[2022-04-11 07:18] chrisp0 commented on #4371
Ok, i will try this to.

But maybe it's still a bug after all that  referencing a project works different from referencing a dll/package.

[2022-04-11 17:18] rainersigwald commented on #6420
Talked to @BenVillalobos offline--we don't have a repro or a stack so this isn't very actionable.

[2022-04-11 17:18] #6420 closed

[2022-04-11 17:22] rainersigwald commented on #1083
@mruxmohan4 your PR #7029 adds a warning for this case with an opt-in error. That was the best we thought we could do for the moment, right? Should we close this?

[2022-04-11 17:29] mruxmohan4 commented on #1083
@rainersigwald Yes, I think this can be closed.

[2022-04-11 17:58] #1083 closed

[2022-04-12 08:29] tisis2 commented on #4371
i am heading the same issue atm and its really frustrating that a workflow that is even documented here (https://docs.microsoft.com/en-us/dotnet/core/tutorials/creating-app-with-plugin-support#simple-plugin-with-no-dependencies) is not working cause of that issue

[2022-04-12 22:51] Forgind commented on #7528
Sounds reasonable to me, though that shouldn't be taken as the team signing off. I think all you'd have to do is add an error corresponding to [this warning](https://github.com/dotnet/msbuild/blob/65cb4d29255ae23c07203d10c99c993fe6ee0671/src/Tasks/Microsoft.Common.CurrentVersion.targets#L2061-L2063) and give them complementary conditions based on whether it's in some "MSBuildUnskippableProjectRefe

[2022-04-13 02:01] maryamariyan commented on #7455
@BenVillalobos two questions:

- Do all the labels that need predicting start with a certain prefixes? e.g. in your example `Task: ` ? I also see some labels prefixed with `Area:` and `Area-`.
- If an issue or PR is labeled `[Task: GenerateResource](https://github.com/dotnet/msbuild/labels/Task%3A%20GenerateResource)` can it also be labeled `[Area: Debuggability](https://github.com/dotnet/msbuild/

[2022-04-13 03:00] danmoseley commented on #7455
Cc @Eilon . We maybe should encourage some consistency across repos (eg prefix with 'area-')

[2022-04-13 07:55] maryamariyan commented on #7455
FYI, Originally the labeler bot filtered through labels prefixed with `area-` it has been since extended further to accept  `area-`, `area/` and `area:`.

Refer to https://github.com/Eilon/issue-labeler/blob/main/src/CreateMikLabelModel/DL/LabelHelper.cs

[2022-04-14 16:43] BenVillalobos commented on #7509
Can you provide [binlogs](https://aka.ms/msbuild/binlog) of the working case in .NET Framework and the failing case?

[2022-04-14 17:12] BenVillalobos commented on #7518
The chain of events for SetTargetFramework not getting set:

1. Microsoft.CppBuild.targets intentionally clears out TargetFrameworkMoniker (not super relevant for the provided binlog)
<img width="652" alt="image" src="https://user-images.githubusercontent.com/4691428/163437423-b4beff43-f7bb-437d-a64d-5d42c62d5324.png">

2. Common.CurrentVersion.Targets tries to set `ReferringTargetFrameworkForProj

[2022-04-14 20:38] Eilon commented on #7455
To summarize and solidify some thoughts about area labels:

* What are they for?
   * Area labels help teams working in repos to identify what part of the team or what feature area an issue or PR belongs to.
   * Area labels can work in tandem with other automation that can alert the owners of an area that an issue has come up and to be triaged
* Application of labels:
   * The goal is that every

[2022-04-14 23:27] Forgind commented on #7028
Is the goal here just to make the two representations have the same content, or is it to use the base types so you only have to specify metadata valid for a particular item type in one place? The latter seems nicer, but it doesn't sound doable from what I see here; you can specify a base type that applies the same thing to everything that uses it, but if we have a specific set of things to add as

[2022-04-15 15:15] #7504 closed

[2022-04-15 18:13] rainersigwald commented on #7028
The two representations are equivalent in MSBuild and should be equivalent in the intellisense. Making them have the same representation in the XSD would be nice. But I don't think it's required--we could instead make the canonical checked-in representation some other thing and generate an XSD with the correct doubling.

[2022-04-15 20:31] Forgind commented on #7028
That's an interesting idea and sounds very doable...but also much more like a BenVillalobos project than something for me 😉

[2022-04-17 13:45] Danielku15 opened #7542 "[Feature Request] Extend SecurityUtil to allow specifying PrivateKey"
The SecurityUtil accepts only a X509Certificate2 as parameter. But in some scenarios the private key is not directly attached to the X509Certificate2 instance but loaded separately or even forwarded to a custom implementation performing the signing on Azure.

Therefore it would be good to add a new overload `public static void SignFile(X509Certificate2 cert, AsymmetricAlgorithm privateKey, Uri tim

[2022-04-17 15:36] Danielku15 commented on #7542
Also I just came to notice that there is an issue here: https://github.com/dotnet/msbuild/blob/9c173296404f9c365cc524569766f16d7cfcf308/src/Tasks/ManifestUtil/mansign2.cs#L684

Instead of using `signer.Certificate.GetRSAPrivateKey()` (or comparable) it should use `CmiManifestSigner2.StrongNameKey` when supplied.

The patching which is done [here](https://github.com/dotnet/msbuild/blob/9c173296404f

[2022-04-18 08:06] bouchraRekhadda commented on #4098
Any update please on the [above request](https://github.com/dotnet/msbuild/issues/4098#issuecomment-1092655496) ?
Thank you in advance.

[2022-04-18 19:46] thelaziestgenius commented on #2064
@rainersigwald I'm upgrading some SSAS dwproj files from 2019 to VS 2022, and I'm getting a build failure that just says Object reference not set to an instance of an object.
Currently, there isn't an official extension to support loading up SSAS projects, but I did try to install the latest release candidate:
https://marketplace.visualstudio.com/items?itemName=ProBITools.MicrosoftAnalysisServices

[2022-04-18 19:50] rainersigwald commented on #2064
@thelaziestgenius are you building from Visual Studio, or using `MSBuild.exe` on the command line?

[2022-04-18 19:54] thelaziestgenius commented on #2064
I'm building from Visual Studio. Is there a way to build in MSBuild.exe to get more logging?

[2022-04-18 20:29] rainersigwald commented on #2064
@thelaziestgenius If you're building from Visual Studio, you're not hitting the problem tracked by this issue, which manifests only for command-line builds. I think you'll have to ask in the support channels for that plugin.

[2022-04-19 08:31] vlada-shubina opened #7548 "Template for MSbuild target / task"

[2022-04-19 13:23] thelaziestgenius commented on #2064
@rainersigwald  I've reached out to the team that manages the Microsoft Analysis Services Projects extension.

I ran this command and got the following error:
msbuild "C:\Projects\SSAS.dwproj" /t:go /fl

Error:
MSBuild version = "16.11.2+f32259642"
Build FAILED.

"C:\Projects\SSAS.dwproj" (go target) (1) ->
  C:\Projects\SSAS.dwproj(2,3): error MSB4067: The element <ProductVersion> beneath element

[2022-04-19 13:50] danmoseley commented on #7548
Perhaps it could ensure that Execute() returns "return !Log.HasLoggedErrors;" as all tasks should.

[2022-04-19 14:28] rainersigwald opened #7549 "Adopt RequiresPreviewFeatures instead of Experimental namespace"
When pushing preview API surface that we don't expect to stabilize in a release, we have historically put it in a special `Microsoft.Build.Experimental` namespace, to indicate to consumers that the usual backward-compatibility guarantees did not apply. The .NET platform now has a [`RequiresPreviewFeatures` attribute](https://docs.microsoft.com/dotnet/api/system.runtime.versioning.requirespreviewfe

[2022-04-19 14:36] rainersigwald commented on #2064
@thelaziestgenius that is not expected to work, because `.dwproj` files are not MSBuild projects; they are a different project format recognized by the Visual Studio plugin, which also handles building them.

[2022-04-19 17:51] BenVillalobos opened #7551 "VSIX Incremental Build is Broken"
### Issue Description
Running `build.cmd -pack` should always generate new vsix packages when there's something new to build.

### Steps to Reproduce
`build.cmd -pack`
make a change
`build.cmd -pack`

### Expected Behavior
All generated VSIX's get overwritten when relevant

### Actual Behavior
No new VSIX is generated, or it's generated with stale bits (can't confirm, but I suspect)

[2022-04-19 18:06] rainersigwald commented on #7551
When I looked at this last it wasn't a problem with our repo but with some of the tasks/targets we use. So this may track nailing those down and reporting them, then adopting the updates.

[2022-04-19 21:11] BenVillalobos opened #7552 "BuildEnvironmentHelper Tests With Process Detection Logic Get Confused"
### Issue Description
The new-and-improved process detection logic in BuildEnvironmentHelper confuses tests, which run a "fake" 64-bit MSBuild.exe in an x86 process.

The detection logic:

https://github.com/BenVillalobos/msbuild/blob/525eebc0f31f8c770ad7b1636866aa2a15850e41/src/Shared/BuildEnvironmentHelper.cs#L540-L546

### Steps to Reproduce
Un-skip the relevant tests that were disabled in http

[2022-04-19 22:27] #1887 closed

[2022-04-20 03:26] carlosmunozrodriguez commented on #1730
More than 5 years have passed already since this issue was open and I wish this could be prioritized.

Every single time projects gets added in different branches in our solution, merge conflicts appear and inevitable one of the projects gets temporarily lost, until it gets discovered that it was left out during the conflict solving.

[2022-04-20 04:02] davidfowl commented on #1730
That's because this is a *HARD* problem, a really hard one. We should tackle it but solution files have tentacles everywhere and we need a real plan for how to replace them. Any plan that contain the words "just" isn't a plan 😄. I mean a real well though out plan that discusses the multi year migration plan for .NET projects and C++. Having personally introduced a new project system into the .NET

[2022-04-20 04:05] aolszowka commented on #1730
@carlosmunozrodriguez As a stop gap I'd point you to some of the tools I've created to help avoid merge conflicts by enforcing sorts on the SLN, you can put these in as a gate on your CI to prevent anyone from drifting once they're fixed https://github.com/dotnet/msbuild/issues/1730#issuecomment-671358983

[2022-04-20 04:52] Nirmal4G commented on #1730
@davidfowl

It is a **HARD** problem. But if the enterprises are asking and they are your paying customers, could you not spend the brain power here to finally solve this issue?

<details>
<summary>My thoughts...</summary>

A pattern I see with @Microsoft atleast on the outside, is that their internal teams' request comes first, then the enterprises (_the paying ones_), then the partners, the impl

[2022-04-20 05:29] davidfowl commented on #1730
The internal teams would disagree with you.

[2022-04-20 05:51] Nirmal4G commented on #1730
First...,
- I would love to know what those teams are. 😐😑
- You wouldn't happen to be one of them? 🤐🙃

What would you say, the order is based on your experience? OR if there is any order at all? (_doubt it as I see from various places that people engage with $MSFT_)

Thank you for your kind words. 😊

[2022-04-20 06:12] davkean commented on #1730
Being on the team involved in making VS 64-bit, this is not how this happened. This was heavily influenced by enterprise customers and telemetry. VS team knew exactly what we were going to gain (and lose - 64-bit wasn't free and had some perf loses that we had to make up elsewhere) based on our performance telemetry and insight when we made this decision. I've covered a few of these here: https://

[2022-04-20 06:36] Nirmal4G commented on #1730
@davkean the first tweet is news to me but I had already read the 2nd one. It was certainly interesting. I learned a lot. Thanks for sharing.

Wasn't it because of Windows 11 (_10.0.22000 weird versioning I know!_) dropping 32-bit distribution? At least on the executive-level...!

First of all, **YAY**. Then my ask is, will that be matched/merged/replaced with the implementation in MSBuild? @raine

[2022-04-20 06:41] davkean commented on #1730
We already don't support installing on 32-bit build of Windows so these decisions are unrelated. WOW64 still exists and will be supported for many, many years into the future.

Most of that code is VS's implementation of the solution & interaction with VS. The solution reader/writer is a very small amount of code.

[2022-04-20 06:48] Nirmal4G commented on #1730
I was talking about only the parts that match MSBuild's. Disparate implementations are problematic and hard to maintain.

[2022-04-20 06:49] MagicAndre1981 commented on #1730
yes, please fix this, merging/trying to resolve conflicts a sln is a nightmare

[2022-04-20 06:54] ViktorHofer commented on #1730
Note that there's also an implementation in the dotnet/sdk for reading/writing sln files: https://github.com/dotnet/sdk/blob/main/src/Cli/Microsoft.DotNet.Cli.Sln.Internal/SlnFile.cs. Ideally, these different implementation would be merged and made available centrally (i.e. as a nuget package).

[2022-04-20 07:16] kasperk81 commented on #1730
i'd be more happy if you had invested that time on xml based sln format instead.

- have VS understand both, the existing one and the new xml based, formats
- expose it as experimental feature for next two releases of VS (`New > Solution` and `New > Solution (experimental)` with hover tip explaining it's xml based solution file, use at your own risk)
- remove experimental feature flag and deprecat

[2022-04-20 08:43] davidfowl commented on #1730
You mean support the old format forever.

[2022-04-20 09:56] kasperk81 commented on #1730
until there is a 100% confidence that all old sln features are supported in new xml based sln, yes. similar to how old and new csproj, vbproj, fsproj formats are supported by VS simultaneously. for most of the users, it will not come as a surprise at this point.

preferably with diagnostics on first-time solution load (backed by a sentinel file), a popup with a message: "Loading old-style .sln fil

[2022-04-21 02:15] #5106 closed

[2022-04-21 14:17] rainersigwald opened #7557 "No Nuget package creation in Release mode for a .Net Framework project (Visual studio 2022)"
### Discussed in https://github.com/dotnet/msbuild/discussions/7555

<div type='discussions-op-text'>

<sup>Originally posted by **lgsndbox** April 21, 2022</sup>
Hello,

With Visual Studio 2022, I'm trying to automate the building of a Nuget package for a .Net Framework library using MSBuild.
I've followed instructions at https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package-m

[2022-04-21 14:18] rainersigwald commented on #7557
This issue was moved to NuGet/Home#11763

[2022-04-21 15:04] #7327 closed

[2022-04-21 16:09] #7074 closed

[2022-04-21 16:09] #7425 closed

[2022-04-21 16:19] enlavin opened #7559 "dotnet build slow when using GeneratePathProperty="true" and $(Pkg...) variables"
### Issue Description

`dotnet restore` and `dotnet build` take a long time to build a solution. The solution only has one project and uses `GeneratePathProperty="true"` and a `$(PkgPackage_Name)` variable with wildcard paths.

I have a net6.0 console project that have some NuGet dependencies on external tools (`NUnit.ConsoleRunner` in this example). Our CI expects to find the console runner execu

[2022-04-21 17:07] BenVillalobos commented on #7552
There might be a property to control the architecture the tests run as.

These tests could probably be replaced with some uber-test that does something to the effect of "given _some_ msbuild.exe in a reasonable directory, can you figure out:
1. The root
2. amd64 dir
3. etc
properly?"

[2022-04-21 17:16] BenVillalobos commented on #7518
Team Triage: The error makes sense considering a multi-targeted app doesn't have a single defined output like a single-targeted project does. We agree that there should be a way around this though, as a vcxproj targeting a multi-targeted app is a reasonable scenario. Marking as needs-design.

One potential path would be to add a stub `GetTargetPath` to avoid the error, but we want to preserve some

[2022-04-21 19:12] mmitche opened #7562 "Official build continues to product Microsoft.NET.StringTools v1.0.0"
The msbuild official build continues to build and report Microsoft.NET.StringTools v1.0.0, even though it was shipped to nuget.org back in May 2021.

- This confuses .NET's publishing infrastructure
- This leads to the potential for msbuild to accidentally internally rely on changes to a NuGet package that can never be shipped.

The build should stop building this, and instead restore it from the

[2022-04-21 19:12] mmitche commented on #7562
/cc @rainersigwald

[2022-04-21 19:18] rainersigwald commented on #7562
We should probably just bump its version number. IIRC Ladi had a reason to keep it at 1.0.0 but I don't remember it--do you, by chance, @rokonec?

[2022-04-21 19:32] mmitche commented on #7562
I'd version same as the rest of your binaries then, since otherwise you'll end up with multiple bands producing the same version.

[2022-04-21 22:20] gotmachine opened #7563 "Passing an empty string to `RemoveDir` results in wiping the `C:\` drive contents"
Executing the following :
[code]
on windows results in MSBuild happily wiping the contents of the `C:\` drive, with all the consequences you can imagine.

After experiencing this, I'm now gating all `RemoveDir` calls behind a `Condition="'$(MyPath)' != ''"`, but I feel this is something that should somehow be done by default...

Maybe abort and log an error if `string.IsNullOrWhiteSpace(directory.

[2022-04-22 06:42] rolfbjarne commented on #4584
So we found a workaround for this:

https://github.com/xamarin/xamarin-macios/blob/df395f2cff9b121fb3b7f1dc3a37f2948dbebc04/msbuild/Xamarin.Shared/Xamarin.Shared.targets#L208-L225

unfortunately the workaround does not work when a project uses `TargetFrameworks` (plural) instead of `TargetFramework` (singular), because in that case none of our targets files are imported.

Example binlog: [dotnet.b

[2022-04-22 12:56] bouchraRekhadda opened #7565 "error MSB4017: The build stopped unexpectedly because of an unexpected logger failure."
### MSBuild 17.1.0 unable to use costume logger when maximum CPU is used (`/m`)
Starting from version `17.1.0` (more precisely `17.1.0.7609`) MSBuild no longer capable of using a custom logger, that used to work with version `16.11.2`

### Steps to Reproduce
Sample reproduction repository can be found at [bouchraRekhadda/ColorLogger](https://github.com/bouchraRekhadda/ColorLogger).
- MSBuild versi

[2022-04-22 13:30] rainersigwald commented on #4584
You should be able to hook into the `buildCrossTargeting` imports to get your code into that scenario, but #7564 looks fine to me.

https://github.com/dotnet/msbuild/blob/12bf0a8ae0c4362b0b3fdcfb3eba75132db9bc69/src/Tasks/Microsoft.Common.CrossTargeting.targets#L20-L23

[2022-04-22 13:36] rolfbjarne commented on #4584
You mean we could add a targets file to the `CustomBeforeMicrosoftCommonCrossTargetingTargets` property? Not sure where we could do that, because nothing from our iOS workload is loaded.

[2022-04-22 13:42] rainersigwald commented on #4584
That's what I expected but I might be missing something in the workload implementation.

Do you have a timeframe for when you need the fix?

[2022-04-22 13:52] rolfbjarne commented on #4584
The sooner the better of course, but for now it's only been reported internally, so I'm unsure how many customers would be affected. Unless somebody else runs into it, I wouldn't backport this anywhere, and just let it flow to a stable release. I'm guessing that would be with .NET 7 in the fall?

Also we have a workaround available, so nobody should be blocked by it.

[2022-04-22 15:27] rainersigwald commented on #4584
We can easily get it into 6.0.400, but it would be very difficult to get it into 6.0.300 at this point.

[2022-04-22 20:35] rainersigwald commented on #7566
@macsux This should be resolved with .NET SDK 6.0.202 (which delivers [MSBuild 17.1.1](https://github.com/dotnet/msbuild/releases/tag/v17.1.1)). It appears to work on my machine.

[2022-04-22 21:07] Forgind commented on #7287
Do we have any more information like a repro?

[2022-04-22 21:08] Forgind commented on #7388
@burtonrodman, did you see @v-codyguan's question?

[2022-04-22 21:21] jonathanpeppers commented on #7287
I think you can create a new .NET MAUI project and just watch the design-time builds appear in Project System Tools. Frequently, one of them will fail with this problem.

Use 17.2 Preview or VS main to see it.

[2022-04-22 22:32] rainersigwald opened #7568 "New AssemblyDependencyResolver codepath differs from legacy behavior on version mismatch"
In a new project create a `nuget.config` with these contents:

[code]

Then run `dotnet restore` using .NET SDK `7.0.100-preview.4.22222.1`.

Actual behavior:

[code]

This is effectively a recurrence of https://github.com/dotnet/sdk/issues/23498 caused by #7520--the new `AssemblyDependencyResolver` adopts the greater-than-or-equal version check much like #6993 wants, but that causes the NuGet sce

[2022-04-23 02:17] Nirmal4G commented on #7563
This is bad. I always do this instinctively but not everyone does. I agree that this should be gated.

Also, MSBuild should always take relative or root to the volume as relative to project directory or a concept of an executing/current/working directory. There are taks and features that could benefit MSBuild having more constrained location.

[2022-04-23 02:32] Nirmal4G commented on #7559
This is a known issue w.r.t. to NuGet and MSBuild. There's an issue filed in both repos I think. @rainersigwald knows this.

The current workaround is to append the variable with a trailing slash if it's not empty (_except in case of default `MSBuild*` inserted properties; you can't change those_) and include the items when the variable is not empty.

With that said the NuGet issue is about asking

[2022-04-23 02:46] Nirmal4G commented on #7528
First of all, why is it a warning instead of an error? Anything that doesn't exist should give out an error, not warning. So that it would prompt us to look into it and fix them.

[2022-04-23 02:59] Nirmal4G commented on #7466
You can do what the `dotnet` and `AppHost` does internally using the `C` APIs from `hostfxr` lib but that may be overkill.

This calls for a `.NETLocator` similar to `MSBuildLocator`!

[2022-04-23 03:17] Nirmal4G commented on #7458
Even with the ref Assembly, as long as lib runtime version is found, it should use it. This may be an issue with NuGet than the package itself. If we place ref within the lib, I suspect it'll break a lot of dependent projects where it'll copy Assets into some arbitrary folder for testing. Especially in cases where a flat globbing could resolve in overwriting of dlls from ref.

[2022-04-23 03:24] Nirmal4G commented on #7250
Recommend #1686 to the list.

[2022-04-23 03:41] Nirmal4G commented on #7397
Also you can import your `Common.targets` in `Directory.Build.targets`. It would have the same effect as importing after MSBuild targets in the legacy csproj. _I don't know why anyone mention this?_

[2022-04-24 19:00] #5638 closed

[2022-04-25 05:41] rolfbjarne commented on #4584
6.0.400 should work just fine!

[2022-04-25 13:59] rainersigwald commented on #7559
@Nirmal4G that issue is unrelated--a trailing slash won't help that much here because `**/*.*` is still an incorrect pattern to glob in.

@enlavin, properties that NuGet defines aren't always defined when MSBuild evaluation runs; specifically they're not defined when in the middle of a `Restore` operation trying to collect all the `@(PackageReference)` items in order to do the restore.

The patter

[2022-04-25 14:04] Nirmal4G commented on #7559
Maybe I should explain in code as @rainersigwald did. 🙃😉

[2022-04-25 15:51] rainersigwald commented on #7563
Yes, `RemoveDir` should absolutely do that.

[2022-04-25 15:53] rainersigwald commented on #7285
@abatishchev added that to #7459 for 17.2. https://github.com/dotnet/msbuild/releases/tag/v17.1.0

[2022-04-25 15:53] #7285 closed

[2022-04-25 17:10] Nirmal4G commented on #7563
Only null check might not be enough! Also, Is whitespace a valid path? If so, we should use `string.IsNullOrEmpty(directory.ItemSpec)` but before we do that.

On that note, can we add some untouchable directories (_like `C:\`, `%SystemRoot%\Windows\`, etc..._) to some sort of a blocklist and check against it and provide an error and abort. If we want to proceed deleting the blocked directories, an

[2022-04-25 17:14] #7379 closed

[2022-04-25 19:00] #7337 closed

[2022-04-25 20:32] eerhardt commented on #7452
@rainersigwald - do you know why `GetInstalledSDKLocations` is only compiled on .NET Framework?

https://github.com/dotnet/msbuild/blob/3ade6423189769545ddff2ffeeed37010ec57f4d/src/Tasks/Microsoft.Build.Tasks.csproj#L545-L602

[2022-04-25 20:55] eerhardt commented on #7452
Hopefully 🤞 this is the last change needed for WinUI (and Maui Windows) apps to work correctly with `dotnet build`. We have it working if we skip the steps that need `GetInstalledSDKLocations` (which Maui does by default today with https://github.com/dotnet/maui/pull/6089/files#diff-2fda9742af9d1dcd9809679145355f4775b31715e2f879d2f765375867ee1b1eR8).

[2022-04-25 22:26] elachlan commented on #7174
We need to address this as it is the same issue we ran into for #7571, but its worse because code style can be different between the nuget package code and msbuild.

@sharwell are you able to look at https://github.com/dotnet/msbuild/issues/7174#issuecomment-1020018628 and let us know your thoughts?

[2022-04-26 03:00] kelicto opened #7581 "Compile Warning(18744): File access preemption"
**Version Used**:

Visual Studio 2022(17.1.5)

**Steps to Reproduce**:

Screenshots should be clear.

**Expected Behavior**:

Happened.

**Actual Behavior**:

Shouldn't happen.

**Warning Screenshot**:

![Warning](https://user-images.githubusercontent.com/23723575/165211179-8eb0a779-ec42-4be4-8a6e-cd4818b2a138.png)

[2022-04-26 08:41] tmds opened #7575 "'Microsoft (R) Build Engine' 'Copyright (C) Microsoft Corporation. All rights reserved.'"
Mostly scratching an itch with this issue ...

When invoking `dotnet build`, the first two lines that show up on a source-built .NET are:
[code]

Is there some meaning to this copyright line? Or can it be omitted?

Instead of `Microsoft (R) Build Engine <version>` maybe we can use `MSBuild <version>` and remove the _registered trademark Microsoft_ bit?

cc @omajid @richlander @rainersigwald @Forgi

[2022-04-26 11:59] jrdodds opened #7576 "Build Issue: Failing Unit Tests on macOS ARM64"
### Issue Description
On macOS with Apple Silicon (ARM64) unit tests fail. The issues starts with the commit for PR #7550 on April 19.

On macOS with Intel the issue doesn't occur which is why the PR checks passed.

### Steps to Reproduce
Clone the repo to a host running macOS on an Apple Silicon processor.
Run
[code]

The build will fail. The log shows 8 unit tests are failing in Microsoft.Build.

[2022-04-26 12:52] jdom commented on #3603
Any updates or alternatives?

[2022-04-26 13:56] rainersigwald commented on #7575
At a personal level I like the proposal but I don't understand the legal/policy implications that Microsoft may care about, and I'm not sure who to ask on that front. @baronfel want to figure that out?

[2022-04-26 13:57] #7364 closed

[2022-04-26 14:13] baronfel commented on #7575
I'm amenable to this change personally, and I'll start running down the implications on the policy side of things.

[2022-04-26 14:30] rainersigwald commented on #7576
Better buy me a fancy new Mac so I can get this fixed, boss . . . I've got room on my desk for an Ultra 😜

@jrdodds thanks for the report! There might be more details in the test XML output, which should be in `artifacts/TestResults/Debug/Microsoft.Build.Engine.UnitTests_net6.0_x64.xml` (though the `x64` part might be different?) after a test run. Would you mind sharing that? I think some of these

[2022-04-26 14:37] rainersigwald commented on #7575
The `for .NET`/`for .NET Framework` part is important for diagnosability--we sometimes get console logs from users that are getting failures because they're running the "wrong" MSBuild. So I'd expect

[code]

(I'm happy as long as they're distinguishable, but this seems like a reasonably readable but still concise way to flag them.)

[2022-04-26 14:39] jrdodds commented on #7576
Attached a .zip with both the html and xml files.
[Microsoft.Build.Engine.UnitTests_net6.0_x64.zip](https://github.com/dotnet/msbuild/files/8564168/Microsoft.Build.Engine.UnitTests_net6.0_x64.zip)

[2022-04-26 14:48] richlander commented on #7575
Ah. I didn't know that. Makes sense. If we're going to do that, we could also add the arch or even RID:

[code]

[2022-04-26 15:50] omajid commented on #7575
Duplicate of https://github.com/dotnet/msbuild/issues/6614 ?

[2022-04-26 16:00] KirillOsenkov commented on #3603
There’s something in the works, but nothing ready yet.

[2022-04-26 16:01] Forgind commented on #7575
Definitely related but subtly different—that one makes nologo the default, which would mean you get nothing at the top, but if you say you want a logo, it would print what's currently there. This one would streamline the logo.

[2022-04-26 22:24] #7442 closed

[2022-04-27 06:49] tmds commented on #7575
I had something like this in mind:
[code]

All suggestions that remove the `Microsoft (R)` and copyright-line are good for me.

[2022-04-27 11:33] danmoseley commented on #6614
The reason for emitting these lines originally was to do the same thing that Csc did back then.

[2022-04-27 14:50] bouchraRekhadda commented on #7565
Could you please update us on this issue ? it's currently blocking us from moving towards Visual Studio 2022 (and MSBuild 17)

[2022-04-27 20:28] ghogen opened #7579 "MSBuildTreatWarningsAsErrors doesn't work in Visual Studio builds"
In Visual Studio, I can add the property MSBuildTreatWarningsAsErrors and set it to true:

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>net6.0</TargetFramework>
    <ImplicitUsings>enable</ImplicitUsings>
    <Nullable>enable</Nullable>
<MSBuildTreatWarningsAsErrors>true</MSBuildTreatWarningsAsErrors>
  </PropertyGroup>

I notice that in a build, the output text changes

[2022-04-27 20:29] ghogen commented on #7579
Relates to https://github.com/dotnet/msbuild/pull/1928

[2022-04-27 23:47] Forgind opened #7583 "Custom serialization after BinaryFormatter Removal"
Per the [BinaryFormatter deprecation schedule](https://github.com/dotnet/designs/blob/main/accepted/2020/better-obsoletion/binaryformatter-obsoletion.md#net-7-nov-2022), the use of BinaryFormatter in all first-party Microsoft code is deprecated in .NET 7, so we are planning for its eventual removal. MSBuild currently uses it for serializing custom `BuildEventArgs` and `ITaskItem`s. If you use that

[2022-04-28 11:23] lapinott commented on #4038
Same issue here.

Any chance suppressing this warning (or any MSB... for that matter) will be featured?

Full issue here (self-explanatory) : https://docs.microsoft.com/en-us/answers/questions/823721/visual-studio-34msb401134-build-warning-i-want-to.html

Would something similar to "#pragma once" reasonable for property sheets?

[2022-04-28 16:21] BenVillalobos commented on #7562
Team Triage: We're leaning toward this decision.

[2022-04-28 16:32] BenVillalobos commented on #7542
cc @sujitnayak can you take a look at this?

[2022-04-28 16:37] BenVillalobos commented on #7528
Team Triage: Adding a better error code for missing project references makes a lot of sense. What is the scenario that your `MySourceGenerator.csproj` is missing entirely?

[2022-04-28 23:42] yinzara commented on #4751
That will again cause the CSC : warning CS2002: Source file 'Properties/Something.Designer.cs' specified multiple times  error again.

[2022-04-28 23:53] yinzara commented on #4751
I think this issue should probably be renamed and escalated.

There is currently no method to have some developers use VSCode and some developers use Visual Studio on the same codebase and still use "resx" files.

They are just simply incompatible.

VisualStudio will attempt to overwrite the designer files whenever it feels like it and those updated designer files will always be different than wha

[2022-04-29 02:13] DanJBower opened #7587 "Publishing WinUI 3 unpackaged desktop project project leads to `Unable to load DLL 'Microsoft.WindowsAppRuntime.Bootstrap.dll'`"
### Issue Description

When I add `/p:PublishProfile=x64Profile` to msbuild publish command, the .exe created does not open. On inspecting the windows event viewer, it reveals an exception was thrown trying to open the exe.

This is specifically for a WinUI 3 unpackaged desktop project.

### Steps to Reproduce

A copy of a sample project can be found here: https://github.com/DanJBower/PusblishMcve

[2022-04-29 07:51] Nirmal4G commented on #7174
You should add **file scoped namespaces** to the list, is there a code for it?

[2022-04-29 14:58] sharwell commented on #7174
_Style_ rules in **.globalconfig** will not apply to a _correctly authored_ NuGet package. If you are running into problems with the global NuGet cache, there is a bug in one or more NuGet packages which needs to be corrected (or have a workaround). It's not clear which package(s) are involved in the problem you saw.

[2022-04-29 15:00] rainersigwald commented on #7174
@sharwell the package in question is `microsoft.codeanalysis.collections`, for instance in this check run: https://github.com/dotnet/msbuild/runs/6150398057.

[2022-04-29 15:29] rainersigwald commented on #7174
My understanding is that this isn't possible because we don't know an absolute path for the NuGet packages folder. Is that not the case?

[2022-04-29 15:43] sharwell commented on #7174
I'm not completely sure here. For central builds (with determinism enabled), the paths should be normalized to a `/_/` prefix of some sort that's predictable. I'm not sure if there's something similar for local builds.

[2022-04-29 19:54] baronfel commented on #7583
I've locked this to encourage discussion on the linked discussion, where threads are supported, instead of on this announcement issue.

[2022-04-29 23:37] AArnott commented on #2360
I just hit this, and I think I know what's going on. MSBuild isn't truly honoring the `Architecture` attribute, in that it's *first* loading the task assembly in whatever the native msbuild.exe process is, and _then_ it decides to spawn a task host to load the assembly *again* before executing it. So if the task assembly is arch-specific, being loaded in the wrong process causes msbuild to fail. T

[2022-04-30 02:23] rainersigwald commented on #2360
That's correct; we're fixing this now via its other symptom https://github.com/dotnet/msbuild/issues/6461.

[2022-05-02 07:59] Zastai commented on #6461
What I _have_ seen is that adding the `TaskHostFactory` made the "your task assembly is locked" issue during build go away, but replaced it with "the solution assembly used by the build task is locked". Would that be caused by this issue as well?

[2022-05-02 13:39] rainersigwald commented on #6461
@Zastai can you share the exact error message, please? I don't recognize that one and searching our strings for "solution assembly" doesn't turn anything up, so it's hard to say whether it's the same issue.

[2022-05-02 14:35] Zastai commented on #6461
Other thing's I'll mention that have been reported by a customer consuming my build task (via nuget), but which I have unable to repro:
- I ship Mono.Cecil inside the package (because MSBuild does not do nuget-based dependency resolution).
  They were experiencing errors caused by an older Mono.Cecil loaded from "somewhere" (my build task got a `MissingMethodException`)
  - I do see that there are

[2022-05-02 14:39] rainersigwald commented on #4081
Reactivating since it was reverted.

[2022-05-02 14:42] rainersigwald commented on #6461
The only thing I can think of that might cause a problem with this is if some assembly in your package references a different version of Mono.Cecil than you ship--if so, you'll run into dotnet/msbuild#6993. The path forward on that is https://github.com/dotnet/msbuild/issues/4081 (which we expect for 17.3).

This should be fixed in SDK 6.0.200, which carries https://github.com/dotnet/msbuild/pull/

[2022-05-02 18:07] Zastai commented on #6461
I wish it were that simple. I reference 0.11.4, which I ship. Nothing else on my or the customer's end uses Mono.Cecil (and their .nuget/packages only included a Mono.Cecil assembly in my package). Mono.Cecil is also not in the GAC.

They scanned their entire C drive and the only other occurrences were:
- in the .NET SDK (ILLink)
- under Visual Studio (Common7\IDE\Extensions\TestPlatform\Extension

[2022-05-02 20:26] sujitnayak commented on #7542
Adding a overload for SignFile should be ok although I am curious what the scenario is. The CO manifest signing is either done through mage or VS UI. Is this change for some custom tool that signs the manifest out of band?

With respect to the other comments, it does look like some refactoring to avoid duplication is needed but we would need to review all code paths invoking  AuthenticodeSignLicen

[2022-05-03 12:22] Danielku15 commented on #7542
The use case to use this as a library is server side signing in CI pipielines through solutions like https://github.com/danielku15/signingserver (developed by me, used in-house in the company I work for) or https://github.com/dotnet/SignService/ (a clone of my software).

The use case on having a separate private key supplied is the support of signing through Azure KeyVault where we need to call A

[2022-05-03 16:29] rainersigwald commented on #1222
https://github.com/dotnet/sdk/pull/12030 needs to be brought back to get this done.

[2022-05-03 19:11] #3353 closed

[2022-05-04 03:04] jeromelaban commented on #460
I've hit this issue when dealing with Roslyn's `MSBuildWorkspace` (repeatedly creating workspaces in the same process) and here's how I'm currently dealing with it:

[code]

This is extremely ugly, to say the least, but it at least keeps the memory consumption to acceptable levels.

[2022-05-04 06:07] radical opened #7596 "`dotnet build` randomly exits with code `139`"
I have been seeing this issue on the perf pipeline for `dotnet/runtime` in the last few weeks. And now randomly on wasm build tests too.

Example:
- [Build process exited with non-zero exit code: 139](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-5bd94fa79afe402897/Workloads-.SatelliteAssembliesTests/1/console.b4d7f016.log?helixlogtype=result)
  - the [binlo

[2022-05-04 16:14] rainersigwald opened #7598 "Explore regex source generator"
.NET 7 introduces a [regular expression source generator](https://devblogs.microsoft.com/dotnet/announcing-dotnet-7-preview-2/#introducing-the-new-regex-source-generator) that can generate a bunch of code at compile time to make a more optimal matcher.

Since MSBuild uses many regular expressions and knows a bunch of them at compile time, we should adopt this.

Possible locations:

- [ ] When [val

[2022-05-04 17:45] fearthecowboy commented on #6045
Given that this would require dependency on WPF and `System.Windows` - is it feasible to create a `Microsoft.Build.Frameworks.XamlTypes` assembly?

A quick and dirty csproj file shows that it can build just fine if I take the `XamlTypes` folder and make a new project.

[code]

[2022-05-04 20:58] AraHaan commented on #7598
It would be nice if the .NET Framework version of msbuild could go away for .NET Core based ones and have Visual Studio use the one from only the .NET SDK so it does not have to bundle a version of msbuild as well.

[2022-05-04 23:28] payn-git opened #7600 "MSB0001: Internal MSBuild Error: Somehow got a wrong and possibly incompatible type for ProcessResourceFiles."
Building projects over BuildManager. Project compilation lead to given error and compilation will fail. Given project compile fine over command line or VS IDE.

[code]

[2022-05-05 03:42] agocke opened #7601 "Exception in building on Mac ARM64"
Not much info, sorry, didn't have logging turned on:

[code]

[2022-05-05 15:58] rainersigwald commented on #7601
Thanks, we'll keep an eye out. If you do see it again please let us know.

@jaredpar I don't think this is actionable but this crash appears to be in the `Csc` task, so FYI.

[2022-05-05 16:29] BenVillalobos commented on #7587
Team Triage: Is this a recent regression?

@marcpop do you know anyone on WinUI? This sounds like it _could_ be MSBuild. Maybe it's not placing the bootstrap dll in the right place. It could also be WinUI targets

[2022-05-05 17:40] bouchraRekhadda commented on #7565
Hello @AR-May, could you please update us on this issue ?

[2022-05-05 21:12] Forgind commented on #7600
What exactly are you doing? Can you provide steps to reproduce this? What do the MSBuild_*.failure files say?

[2022-05-06 01:59] KirillOsenkov opened #7603 "`TargetFrameworkMonikerAssemblyAttributesPath` starts with a `.` and is a hidden file on Unix"
Here we define `TargetFrameworkMonikerAssemblyAttributesPath` to be something like:
`obj/Debug/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs` on Mac

https://github.com/dotnet/msbuild/blob/e049bfe3dddb84270dec5fc1aaedc9664f77eb98/src/Tasks/Microsoft.Common.CurrentVersion.targets#L3513

~~since it starts with a dot it's a hidden file and I think existence check fails on it, so incrementality break

[2022-05-06 14:09] AArnott commented on #7518
Thanks for investigating, @BenVillalobos.

This isn't a multi-targeted app though. The app is a vcxproj (since that's the top-level project). It references a multi-targeted *library*, which is certainly expected to work. That library may be used by other projects in the solution, such that multi-targeting makes sense. The vcxproj should pick the best TargetFramework from that library based on the

[2022-05-06 14:49] jrdodds commented on #7603
I did a quick test of Exists() on macOS with the following project file. I'm using zsh and I have a .zshrc file.
[code]
The message 'Found!' is displayed. It would appear that being hidden doesn't change the existence check.

[2022-05-06 17:00] KirillOsenkov commented on #7603
My apologies, I got terribly confused yesterday and it turned out that indeed incrementality and exists checks are not the problem :| It was PEBKAC. Sorry for the confusion.

The only real remaining issue is the fact that it's a hidden file, but as far as I can see this should be benign.

Feel free to close this bug if you feel the hidden file is not worth fixing.

[2022-05-06 17:02] rainersigwald commented on #7603
I wouldn't be opposed to rewiring it to `AssemblyAttributes.*.cs` instead of `*.AssemblyAttributes.cs`. But I don't know if it's worth much to do so.

[2022-05-06 17:05] KirillOsenkov commented on #7603
I'd say when in doubt use the "bigger fish to fry" argument

[2022-05-06 17:05] #7603 closed

[2022-05-07 09:27] JeepNL opened #7604 "--runtime or --use-current-runtime with --sc or --selfcontained gives warning warning NETSDK1179: One of '--self-contained' or '--no-self -contained' options are required when '--runtime' is used."
.NET 7 prev. 3
Microsoft (R) Build Engine version 17.2.0-preview-22175-02+058a0262c for .NET

Building a project on Windows or L:inux with `--runtime <runtime identifier>` or `--use-current-runtime`  and with `--sc` or `--selfcontained` gives warning:

- warning `NETSDK1179: One of '--self-contained' or '--no-self -contained' options are required when '--runtime' is used.`

Using `--no-selfcontain

[2022-05-07 09:40] JeepNL commented on #7604
UPDATE: maybe I should use --no-self-contained with these projects. I don't know.

[2022-05-08 14:26] tangkhaiphuong opened #7605 "Msbuild doesn't generate assemblyBinding if run multi-target (restore;build) at same command for first time"
### Scenerio:
- I created project call `FooProgram` is windows form with localization support and use new-style csproj. And I reference to `System.Resources.Extensions` and configure `<GenerateResourceUsePreserializedResources>true</GenerateResourceUsePreserializedResources>`
- Then I create another program call `ClientAppProgram` reference to `FooProgram`.
- Both 2 application configure with targ

[2022-05-09 04:00] Bosch-Eli-Black commented on #7528
@BenVillalobos I think I had been manually modifying `MyApp.csproj` and messed up the path to `MySourceGenerator.csproj`

[2022-05-09 04:03] Bosch-Eli-Black commented on #7528
Actually, maybe I had incorrectly resolved some conflicts when applying a Git stash.

Either way, just user error, but would still be nice to show an error instead of a warning 🙂

[2022-05-09 08:19] AR-May commented on #7565
Hello @bouchraRekhadda!
This seems to be a quite recent regression. MSBuild from VS 17.0 on my machine works well, but MSBuild from VS 2022 17.1 indeed fails. I, unfortunately, could not give any good workaround for this bug other than using the working version for the time being, if it agreeable for you.

I will take a look this week if there is a quick fix for this issue.

[2022-05-09 11:22] bouchraRekhadda commented on #7565
Changing the way we specify the maximum  CPU count [ColorLogger.cs#L81](https://github.com/bouchraRekhadda/ColorLogger/blob/master/ColorLogger.cs#L81) with `logger.Initialize(null, nodeCount)` fixes the issue. (I am not sure though why we were specifying it that way -it's a legacy code-)
I'll close this issue.

[2022-05-09 11:25] bouchraRekhadda commented on #7565
Hello @AR-May,
Sorry I've closed the issue without refreshing the page, so I've missed your comment.
As I explained above, we have managed to workaround this issue. If you think there is maybe something to fix in MSBuild, you can reopen it.

Thank you in advance for your time.

[2022-05-09 12:18] AR-May commented on #7598
@rainersigwald, do you have an idea of how much of perf. win we can get here, or this question needs investigation?
Is this issue linked to VS on core?

[2022-05-09 12:40] AR-May commented on #7598
@rainersigwald How much of perf. win do you expect here?

[2022-05-09 14:42] danmoseley commented on #7598
Cc @stephentoub fyi

[2022-05-09 14:46] stephentoub commented on #7598
Yeah, you'll end up wanting to do something like:
[code]

[2022-05-09 17:18] yinzara opened #7609 "CSC : error CS2002: Source file specified multiple times cannot be "NoWarn"ed"
This issue is related to #4751

When generating .Designer.cs files for .resx files using the "EmbeddedResource" configuration in the csproj file, the CS2002 warning is always generated.

Adding `<NoWarn>CS2002</NoWarn>` suppresses the warning most of the time.

However intermittently builds still raise the warning.  I'd say around 5-10% of our builds continue to receive this warning even with NoWa

[2022-05-09 17:41] ricardojosezup commented on #3864
Same issue here...
I started a project in a folder like '~/docs/0.\ personal/projects' and for some reason MSBuild converted '\' to '/' causing fail.
Error: '... could not find part of path '/docs/0./ personal/projects/....'

[2022-05-09 17:44] alcidesmauricio commented on #3864
I have the same problem reported by @ricardojosezup, but on MACOS.

[2022-05-09 18:44] BenVillalobos commented on #7563
I think the easiest solution is a null or empty check for now. Let's go with that and handle any future scenarios as they come 👍

[2022-05-09 23:55] BenVillalobos commented on #7528
@Bosch-Eli-Black sounds good :) retitled and triaged accordingly.

[2022-05-10 00:44] radical commented on #7596
@rainersigwald Any idea who could take a look at this? We have been hitting this very frequently.

[2022-05-10 02:20] kelicto opened #7691 "Message: Property "MSBildToolsVersion' is not defined"
### Describe the bug
Opening the project file will show underline

### To Reproduce
1. Unload someone target project.
2. Open the csporj on visual studio.

### Screenshots
![image](https://user-images.githubusercontent.com/23723575/167529398-21bb3ee4-b5e0-4813-aaef-7d1ecba98f98.png)

[2022-05-10 06:50] Nirmal4G commented on #7528
I also suggest that only project references that are part of the build pipeline should emit error, others can emit a warning. Since, I have seen projects that generate projects on the fly or some that are not actually referenced but uses non-compiled assets from referenced projects' intermediate build.

So, we can use `ReferenceOutputAssembly`, `OutputItemType` and other metadata to check if the p

[2022-05-10 15:57] rainersigwald commented on #7596
@rokonec do you think you could look at this?

[2022-05-10 16:44] AR-May commented on #7293
@olgaark, I opened a PR for this issue: #7597.
Here is the [spec file](https://github.com/dotnet/msbuild/pull/7597/files#diff-711cb439c22de44df5dc9bba34c36131e866f8e62af66bd6dd2fc1c9769b39ad) with the description of the new resolving algorithm. The main change from the initial idea is that we decided to go with regex instead of wildcards. Feel free to review & discuss the decisions we have made fo

[2022-05-10 17:24] jkotas commented on #7596
The stacktrace of the crash from the coredump is:
[code]

[2022-05-10 17:25] jkotas commented on #7596
This is very likely duplicate of https://github.com/dotnet/runtime/issues/68443 that was just fixed in dotnet/runtime.

[2022-05-10 17:27] olgaark commented on #7293
@AR-May Thanks! The design looks good to me

[2022-05-10 22:04] BenVillalobos commented on #7528
@Nirmal4G I see, I can envision some logic in Common.CurrentVersion.Targets contain some sort of `<Error Condition="@(ProjectReference.Identity != '' and !Exists(%(ProjectReference.Identity)) and '%(ProjectReference.ReferenceOutputAssembly)' == 'true'"/>`

The message would imply "you're saying you need binaries out of this thing, but we can't build it because _it doesn't exist_, what gives?"

[2022-05-10 22:40] BenVillalobos commented on #7518
Do you actually want this `.vcxproj` to use the outputs of the library?

**My 2c:** It sounds like the root of your problem is that you want your `.vcxproj` to act as a `dirs.proj` and doesn't necessarily care about _using_ the outputs of the csproj. If that's the case, the real solution here is to define a stub target for `GetTargetPath` in this scenario.

If you do want it to use the outputs, we

[2022-05-11 00:29] Forgind opened #7612 "NativeMethods.KillTree fails on unix"
### Issue Description

NativeMethods.KillTree fails on unix.

### Steps to Reproduce

Try to call it on unix.

### Expected Behavior

Kills the process and all its children.

### Actual Behavior

System.DllNotFoundException : Unable to load shared library 'KERNEL32.DLL' or one of its dependencies. In order to help diagnose loading problems, consider setting the DYLD_PRINT_LIBRARIES environment var

[2022-05-11 11:04] dqwork commented on #2710
Hi all! So I've just installed VS Build tools 2022 - included the click once component and `C:\Program Files (x86)\Microsoft SDKs\ClickOnce\SignTool\signtool.exe` exists - however MSBuild is still failing to find it...?

[2022-05-11 11:49] jtorvald opened #7615 "I'm trying to build a Xamarin iOS project on a new computer with a fresh install of Visual Studio for Mac and MSBuild is treating warnings as errors, even though the setting to treat them as errors is turned off."
I'm trying to build a Xamarin iOS project on a new computer with a fresh install of Visual Studio for Mac and MSBuild is treating warnings as errors, even though the setting to treat them as errors is turned off.
Also I tried properties like: `TreatWarningsAsErrors` and `WarningsNotAsErrors` but they don't have any effect.
When I move `WarningLevel` from `4` to `0` I'm able to build again.

~~The

[2022-05-11 14:27] dqwork opened #7616 "SignFile cannot find signtool.exe with MSBuild v17.1 installed from Visual studio build tools 2022"
### Issue Description
MSBuild Version: 17.1.0+ae57d105c for .NET Framework
dotnet version: 6.0.202

Visual studio build tools 2022 installed with following Components/Workloads

Microsoft.VisualStudio.Workload.ManagedDesktopBuildTools
Microsoft.VisualStudio.Workload.MSBuildTools
Microsoft.VisualStudio.Workload.WebBuildTools
Microsoft.VisualStudio.Component.Windows10SDK.20348

Signtool.exe exists i

[2022-05-11 16:33] dakersnar opened #7643 "Running dotnet/performance benchmark script with arm architecture fails for preview4."
### Describe the bug
Running the benchmarks_monthly.py script for .NET preview 4 on an `arm64` machine with an `arm` configuration crashes.

### To Reproduce

### Exceptions (if any)

`error MSB4061: The "GenerateResource" task could not be instantiated from "Microsoft.Build.Tasks.Core, Version=15.1.0.0, Culture=neutral, PublicKeyToken=...". Arm is not a supported architecture. [...\performance\sr

[2022-05-11 17:40] michael-hawker commented on #4038
It seems odd that this is special cased to not be suppressible? We're also using our props for dependency management across projects, those projects reference each other, so I don't think we can work around having them included multiple times.

So these warnings are just noise masking more important warnings in VS.

[2022-05-11 18:29] acohenOT opened #7617 "Office VSTO project fails to find runtime assembly references using msbuild with Build Tools for Visual Studio 2022 17.2"
### Issue Description

After updating Build Tools for Visual Studio 2022 from 17.1.x to 17.2, Office VSTO project fails to build without manually specifying the ReferenceAssemblies\v4.0 directory.

### Steps to Reproduce

1. Create an Office VSTO project.
2. On a Windows environment that has Build Tools for Visual Studio 2022 installed with the "Office/SharePoint development" workload, build the p

[2022-05-11 18:31] nagya opened #7618 "Warning NETSDK1179 is always raised"
### Issue Description

The warning `NETSDK1179` is always raised when the `--runtime` switch is used, even if `--self-contained` or `--no-self-contained` is also used.

### Steps to Reproduce

[code]
### Expected Behavior

No warning.

### Actual Behavior

Warning is raised, which in a typical CI scenario, where warnings are treated as errors, fails the build.

### Analysis

Issue started with .NE

[2022-05-11 18:35] acohenOT commented on #7618
Duplicate of https://github.com/dotnet/sdk/issues/24269

[2022-05-11 18:43] acohenOT commented on #7618
It was originally reported in the preview release, but it was not fixed and is now in stable. Either way, the issue is with `dotnet` SDK not `msbuild`.

[2022-05-11 18:49] #7618 closed

[2022-05-11 21:41] AArnott commented on #7518
In my repro it does. It's perfectly legit for a vcxproj to reference an assembly, and this should Just Work as far as TFM negotiation. The really unexpected bit is that it _does_ work, unless BuildProjectReferences=false, which really suggests to me that something is broken here.

[2022-05-12 11:40] #7563 closed

[2022-05-12 13:27] N-Olbert commented on #7074
@kant2002 In which version will this be fixed/shipped?

[2022-05-12 16:50] rainersigwald commented on #7616
@sujitnayak can you take a look at this?

[2022-05-12 17:00] rainersigwald commented on #7615
Can you share a [binary log](https://aka.ms/msbuild/binlog) of the failing build? Please note the warnings in that document about what is shared in the log.

We're not aware of anything that would cause this specifically. You can set warning-as-error behavior using `Directory.Build.props` or `Directory.Build.targets` files in addition to the individual projects, but that is not new and shouldn't h

[2022-05-12 17:27] sujitnayak commented on #7616
@rainersigwald  Did this PR make it to 17.1?
https://github.com/dotnet/msbuild/pull/6463

@dqwork Does this regkey exist?
HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\ClickOnce\SignTool and does the Path value point to a folder with signtool.exe?

Thanks.

[2022-05-12 18:26] rainersigwald opened #7620 "Microsoft.Build package should expose a netstandard2.0 interface"
Most of our packages have a build-time-only `netstandard2.0` reference assembly so projects can update their MSBuild reference without retargeting to a new .NET runtime, but `Microsoft.Build` does not.

This is causing problems in dotnet/roslyn because `Microsoft.VisualStudio.Shell.15.0` now declares a dependency on `Microsoft.Build`, forcing them to upgrade their reference and breaking their `net

[2022-05-12 18:47] sujitnayak commented on #7616
@dqwork Please go to Help -> About Visual Studio in VS and paste the full Version info. Thanks.

[2022-05-13 03:20] kelicto commented on #7581
Cleaning up the solution is one way to solve the problem, and if it can be improved, please consider optimizing it.

[2022-05-13 05:49] Bosch-Eli-Black commented on #7528
I'm not sure I followed the above discussion, but if possible, I think it'd make sense for missing source generators to by default emit an error, instead of a warning 🙂

[2022-05-13 06:56] teo-tsirpanis commented on #7548
Where can I find that guidance?

[2022-05-13 10:01] dqwork commented on #7616
@sujitnayak - Thanks for the quick repsonses.

It response to your first question. The reg Key does exist
![image](https://user-images.githubusercontent.com/77854269/168260696-4e9f69ef-14bc-4910-98c0-6604e888e337.png)
and the folder path does contain signtool.exe
![image](https://user-images.githubusercontent.com/77854269/168260782-c6399372-a53c-4c89-a433-ce4829ab28e1.png)

In terms of getting the

[2022-05-13 17:31] dqwork commented on #7616
I've also tried updating to 17.2.0 of VS Build tools and continue to have the same issue

[2022-05-13 19:19] sujitnayak commented on #7616
@dqwork  thanks for that info. Is it possible for you to install the corresponding VS SKU on this machine and try to see if a simple WinForms app can be signed and run on this machine? I am trying to figure out if this issue is isolated to the Build SKU
Thanks.

[2022-05-13 20:11] narasamdya opened #7622 "dotnet (6.0.300) restore --verbosity Diagnostic causes MSB0001: Internal MSBuild Error"
We upgrade the sdk to 6.0.300, and when we ran `dotnet restore --verbosity Diagnostic`, we got the following error:

[code]

[2022-05-13 20:29] narasamdya commented on #7622
To give some context, this is the repository that we build: https://dev.azure.com/mseng/Domino/_git/AnyBuild

[2022-05-13 20:37] rainersigwald commented on #7622
I repro on @narasamdya's (MSFT-internal) repo, only on Linux.

It looks like there's a `Directory.Build.rsp` file in that repo root that specifies `/ConsoleLoggerParameters:Verbosity=Minimal;Summary;ForceNoAlign`. It looks like the verbosity there is what matters.

With that I can repro in WSL on a template classlib project:

[code]

[2022-05-13 21:06] KirillOsenkov commented on #7126
Consider a cheap in-proc optimization:

once we read the info of a .dll on disk, cache it using the full path + timestamp as the key (in a static dictionary). Next time we need to read .dll info, check the file path and timestamp and if we've read it before, just return the info.

This will only cache per node, and will invalidate if the timestamp changes, but seems like very easy to implement and

[2022-05-13 21:07] KirillOsenkov commented on #7126
Need this for RAR as well as `ResolvePackageFileConflicts` as well as others potentially. `ResolvePackageFileConflicts` is slow and not incremental.

[2022-05-13 21:08] Forgind opened #7623 "Reenable VerifyDTDProcessingIsDisabled2"
This test was disabled for flakiness, but it should really be fixed and reenabled if possible.

[2022-05-13 21:51] Forgind commented on #7126
The SDK's assembly resolution is presumably done in dotnet.dll, whereas RAR is in msbuild.dll. Would they be able to communicate, or were you just thinking of speeding up dotnet.dll's tasks?

[2022-05-13 22:57] MiYanni commented on #2393
@rainersigwald Based on what you said, it seems [our repo](https://github.com/dotnet/project-system) doesn't do your recommended workaround, but uses your information for a different workaround. As you mentioned, `Directory.Build.targets` works with the order of imports. Thus, instead of changing the Project node to no longer use the `Sdk` attribute, what our repo does is load the `Microsoft.VsSDK

[2022-05-14 00:12] KirillOsenkov commented on #7126
Each can have their own independent cache, but we'd want to speed up both.

[2022-05-14 00:49] yuehuang010 opened #7625 "Contention of Project Evaluation in parallel builds 📈"
### Issue Description
Project Evaluation in parallel builds have contention causing evaluations of 20-30ms to take over 1000ms.

### Steps to Reproduce
Create a solution with lots of small projects, enough to saturate your CPU.  I used 4 times CPU threads worth of projects.  The contents of each projects is not relevant as I used "Clean" target to do the least amount work.  I used nearly identical

[2022-05-14 02:00] drewnoakes commented on #7126
If there are concerns about the DLL changing over time, the MVID can be read quickly from the first bytes of the DLL.

[2022-05-14 03:48] KirillOsenkov commented on #7126
I think a timestamp is good enough and won't require reading the file at all. If the timestamp has changed we can just bypass the cache and do what we'd normally do.

But yeah, I benchmarked reading MVID a while back:
https://github.com/KirillOsenkov/MetadataTools/blob/main/src/PEFile/MvidBenchmark.cs

[2022-05-15 19:00] #7396 closed

[2022-05-16 10:05] dqwork commented on #7616
Hi @sujitnayak - I installed Visual Studio (full IDE) with the desktop development workload and Clickonce publishing.

From within Visual studio I created a simple winforms app and set the properties up to sign the clickonce manifest and published it to a local folder. This worked fine and when I attempted to install the manifest it was properly sign.

On the same machine I used MSBuild from the c

[2022-05-17 00:52] sujitnayak commented on #7616
@dqwork Can you paste the command line you're using that is failing?
thanks.

[2022-05-17 07:54] dqwork commented on #7616
running in this directory C:\Program Files (x86)\Microsoft Visual Studio\2022\BuildTools\MSBuild\Current\Bin

.\msbuild.exe <msbuild file> /property:SignTargetPath=<.exe that its signing> /property:CertificatePath=<path to pfx file> /property:CertificatePassword=<pfx file password> /property:TimestampUrl=<timestamp Url> /ToolsVersion:4.0

[2022-05-17 08:17] dqwork commented on #7616
Interestingly if I omit '/ToolsVersion:4.0' it finds the tool and runs fine

[2022-05-17 08:20] dqwork commented on #7616
if I change it to /ToolsVersion:4.5 - I'm told the only valid options are 'Current' or '4.0' - however as we've been discussing, '4.0' causes it to fail

[2022-05-17 09:20] dqwork commented on #7616
Hi @sujitnayak,

So we are using our own MSBuild file that does a couple of things before calling SignFile task.

If you'd like to contact me directly via email I can share that file with you, but for now I'll give you a breakdown of what it does and how its calling the SignFile task.

First it loads some MSBuild tasks from a nuget file, and uses one of those Targets to add a pfx file to the certi

[2022-05-17 16:47] dqwork commented on #7616
@sujitnayak  I've been playing around with our build pipeline and it looks like its doing something rather funky. it seems to be doing something that means when its running our custom task to install the cert and sign it, its ends up running MSBuild from here C:\Windows\Microsoft.NET\Framework\v4.0.30319\msbuild.exe - which may go someway to explaining whats happening.

I'm going to discuss with t

[2022-05-18 09:22] alexandersorokin opened #7633 "ResolvePackageAssets target is skipped for multiple target frameworks and Rebuild target in 17.2.0"
### Issue Description

The `ResolvePackageAssets` target is skipped if three conditions are met:
1. The feature "multiple target frameworks" is used in `csproj`;
2. The `Rebuild` target is selected;
3. The version  of msbuild is 17.2.0 or newer.

That results in skipping code generation from source-only nuget packages with `pp`-files. That results in failed rebuilds.

The `Build` target runs the `

[2022-05-18 15:54] jtorvald commented on #7615
Thanks for your reply @rainersigwald  and sorry for the delayed response. I've been having a lot of build issues in the last week so didn't have the time to update the ticket. I will find some time to run a build with a binary log. I think I will submit that in private to MS and I will also update you here.

[2022-05-19 03:17] adcloeshelle opened #7637 "Build doesn't fail if you reference a .NET Framework library inside a .NET 6 library"
### Issue Description
The build succeeds if you add a .NET Framework project as a dependency of a .NET 6 library. I would have expected that should be forbidden.

### Steps to Reproduce
See the attached solution below. If you build the .NET 6 or .NET Standard library, the build still succeeds.

[TestImports.zip](https://github.com/dotnet/msbuild/files/8723183/TestImports.zip)

### Expected Behavio

[2022-05-19 03:23] lextm commented on #7637
"Reference .NET Framework libraries from .NET Standard", a feature back in 2017, https://devblogs.microsoft.com/dotnet/announcing-net-core-2-0/

[2022-05-19 10:17] dqwork commented on #7616
@sujitnayak  thanks again for taking time to help me out here. I've managed to narrow the issue and it was some odd steps in our build pipeline that were forcing it to use the old msbuild version. I've fixed that and its solved my issue

[2022-05-19 10:17] #7616 closed

[2022-05-19 11:28] maxschaf commented on #7617
we face the same issue

[2022-05-19 19:38] Forgind opened #7639 "Memory Leak with MSBuild Server"
Observations:
We [create a BuildManager](https://github.com/dotnet/msbuild/blob/ac305ec92b09385c3e1f656ba47b8389468b4299/src/MSBuild/XMake.cs#L1165) for each build and [dispose of it](https://github.com/dotnet/msbuild/blob/ac305ec92b09385c3e1f656ba47b8389468b4299/src/MSBuild/XMake.cs#L1297) at the end.
Yet despite this attempt at disposing of it, we still end up with one BM per build.

I tried to

[2022-05-19 20:59] Forgind commented on #7633
I tried this with 17.2.0.17804, and dotnet build /t:Rebuild failed with the exception above, but so did dotnet build /t:Build and dotnet build. I looked at binlogs for both cases, and it seemed to be building the ResolvePackageAssets target, but its build time was unusually short for the Rebuild case, so I'm a little suspicious about that.

[2022-05-19 21:03] Forgind commented on #7637
Thanks for finding that @lextm. From that blog post, ".NET Core and .NET Standard projects can reference .NET Framework NuGet packages and projects." That sounds like this is expected. @adcloeshelle, why did you expect something different?

[2022-05-19 21:47] alexandersorokin commented on #7633
Thank you for trying to reproduce the bug!

The reason why you get the same exception in all three cases can be the difference between the namespace of the generated `StackTraceParser` class and the namespace of the `GeneratedFileContainer` class.

The `StackTraceParser` class is generated with the root namespace of a project. Could you try renaming  `csproj`-file to `ClassLibrary1.csproj`  or add

[2022-05-20 03:19] Bosch-Eli-Black commented on #5570
Are you writing files to disk via a source generator? If so, my understanding is that Microsoft advises against this and the behaviour is undefined 🙂

[2022-05-20 03:32] Bosch-Eli-Black opened #7640 "Improve NuGet package referencing from source generators"
Let's say that my source generator depends on the `GraphQL` NuGet:
[code]

This will fail, because MSBuild won't automatically include GraphQL's DLL's, so I need to do this:
[code]

Can we please make it so that that when we reference a NuGet from a source generator, MSBuild automatically hooks up the NuGet's DLL's? 🙂

This seems to have been a source of confusion for many! See all of the comments

[2022-05-20 14:00] VincentUhlmann opened #7641 "MSBuild.Sdk.Extras cannot build the TargetFrameworks Xamarin.iOS and net6.0-ios together"
### Issue Description
A Binding Project for iOS based on MSBuild.Sdk.Extras.3.0.44 with the TargetFrameworks Xamarin.iOS and net6.0-ios throws the following error under Visual Studio 2022 for Mac when building: "If you are building projects that require targets from full MSBuild or MSBuildFrameworkToolsPath, you need to use desktop msbuild ('msbuild.exe') instead of 'dotnet build' or 'dotnet msbui

[2022-05-20 15:24] rainersigwald commented on #7641
MSBuild.Sdk.Extras issues can be reported to https://github.com/novotnyllc/MSBuildSdkExtras; it is not supported by Microsoft.

[2022-05-20 15:24] #7641 closed

[2022-05-20 23:36] gcerik commented on #7643
I can confirm the issue with preview 4 - I was able to build without issues on preview 3

[2022-05-22 08:56] arsinclair opened #7644 "Unable to exclude JSON files from being copied to the output directory with `blazorwasm` template"
### Issue Description
So there's a project that combines Blazor and some NPM scripts, therefore there's two NPM files (_package.json_ and _package-lock.json_) in the source code folder. The problem is - these files are getting copied over to the build directory, and whatever I do to exclude them - nothing helps. These files shouldn't be in the output directory, since they're only to be used by dev

[2022-05-22 19:00] #7506 closed

[2022-05-22 19:00] #7438 closed

[2022-05-23 02:24] burtonrodman commented on #7388
this is still very much a problem.  if there’s a way i can securely and continuously provide a client project to Microsoft please let me know.

[2022-05-23 03:02] Forgind commented on #7388
You can [report a bug on Visual Studio](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2022) and privately attach your project. Then you can link it here for a faster response.

[2022-05-23 05:56] michael-hawker commented on #7438
@Arlodotexe looks like there was a question for you about the SDK type from end of March.

[2022-05-23 13:45] rainersigwald commented on #7643
@BenVillalobos can you take a look? Might be dotnet/msbuild#1293.

[2022-05-23 14:12] rainersigwald commented on #7644
`C:\Program Files\dotnet\sdk\6.0.300\Sdks\Microsoft.NET.Sdk.Razor\Sdk\Sdk.Razor.StaticAssets.ProjectSystem.props` defines this glob, which results in the copy.

[code]

Moving this to `dotnet/sdk`, where that file lives.

To stop the copy, you can apply a diff like this:

[code]

[2022-05-23 14:13] AR-May opened #7646 "Investigate MSBuild Server for memory leaks."

[2022-05-23 14:18] AR-May opened #7647 "MSBUILD Server: cancellation."

[2022-05-23 15:14] burtonrodman commented on #7388
@Forgind
i believe I have identified the cause (at least for my side project).  i will also confirm on my "day job" project that has been having a similar issue.

I am include some json files in an xunit project using the following syntax in the csproj file:
[code]

This is apparently re-including files from the bin and obj folders recursively.  I thought an MS person had previously commented that

[2022-05-23 20:21] Arlodotexe commented on #7438
Thanks @michael-hawker, I wasn't sure that this was directed at me.

Coming back to this, it looks like the repro I provided only works from the command line using `msbuild /r /bl`, not in Visual Studio. You'll notice errors such as `The type or namespace name 'Windows' could not be found`, caused by the Uno nuget package not being selected.

We've temporarily worked around this in our project by

[2022-05-23 21:08] BenVillalobos opened #7648 "ARM64 As A Valid PlatformTarget When Targeting not-net481"
Referenced comment in previous thread at https://github.com/dotnet/winforms-designer/pull/4303

[code]

@rainersigwald  FYI, not sure if this is something we should consider warning on or highlighting. It's a subtle mistake I made and didn't even realize it.
_Originally posted by @jaredpar in https://github.com/dotnet/winforms-designer/pull/4303#discussion_r876328399_

[2022-05-23 21:30] jaredpar commented on #7648
One issue though is that it's hard to build `net481`  compared to `net472`. As an example took a project currently building against `net472`, flipped it to `net481` and ended up with the following:

sion=v4.8.1 were not found. To resolve this, install the Developer Pack (SDK/Targeting Pack) for this framework version or retarget your application. You can downlo
ad .NET Framework Developer Packs at

[2022-05-23 22:38] BenVillalobos commented on #7648
Right, this is blocked on 481 availability.

[2022-05-23 22:40] jaredpar commented on #7648
Do we have an issue tracking that? I'm not even sure where that part of the stack ends up coming from.

[2022-05-23 22:51] BenVillalobos commented on #7648
@jaredpar oh interesting, I figured this was a generic `<Error` task in common.currentversion targets. Turns out it's coming from `GetReferenceAssemblyPaths`, which we own.

[2022-05-24 06:32] trivalik commented on #4371
@80O Your hint path looks like it will not work if you clean your solution and build it with "Release" configuration.

[2022-05-25 13:59] #4081 closed

[2022-05-25 16:14] rainersigwald opened #7651 "Unnecessary references to old packages in .NET 6 NuGet"
After resolving CG alerts with https://github.com/dotnet/msbuild/pull/7538, our NuGet packages have some new references to old packages (`System.Private.Uri` and `System.Security.Cryptography.X509Certificates`), which aren't necessary.

See https://github.com/dotnet/msbuild/commit/20cdf6ff1f617fc6d486c170dff95df0300676e3#r73617987.

[2022-05-25 17:47] BenVillalobos commented on #7648
Decided internally to close this.

[2022-05-25 17:47] #7648 closed

[2022-05-25 23:05] Forgind opened #7652 "Confusing error when trying to run build.cmd without VS installed"
### Issue Description

The error when attempting to run build.cmd from a freshly-downloaded and extracted zip of msbuild is confusing.

### Expected Behavior

Tell me to download VS.

### Actual Behavior

`Exception calling "Start" with "0" argument(s): "The system cannot find the file specified"`

[2022-05-26 01:34] burtonrodman commented on #7388
this work-around fixed my xunit test project.  my other project is actually having locked dlls... will report on a separate issue.

Thanks!

[2022-05-26 01:34] #7388 closed

[2022-05-26 16:23] BenVillalobos opened #7653 "MSBuild: dependencies and parallel builds"
Moved from https://developercommunity.visualstudio.com/t/MSBuild:-dependencies-and-parallel-build/10040724

Hi,

even though it’s more a nuisance, I consider it an error since it’s a missed optimization.

Here’s the problem: when building solutions with many projects from VS on a machine with many processors, then MSBuild mostly parallelizes poorly, since it linearizes the project-dependency-graph

[2022-05-26 16:39] BenVillalobos commented on #7640
MSBuild Team Triage: It looks like there's a built in mechanism to do this. If you set property `CopyLocalLockFileAssemblies` to true in your analyzer project, it will copy over the graphql dependencies you need to its `bin/` folder.

[2022-05-26 16:50] BenVillalobos commented on #7623
We should see if instead of using a URL, we use `file://...`.

[2022-05-26 16:59] BenVillalobos commented on #7609
Team Triage: Can you provide a minimal repro of this scenario?

Can you also provide [a binlog](https://aka.ms/msbuild/binlog) of this repro? (note the warning on secrets, you can provide a binlog through Visual Studio Feedback and link to this issue to help us find it)

[2022-05-26 17:04] BenVillalobos commented on #7617
Can someone provide a repro project?

Friendly ping @v-codyguan can you repro once that's provided?

[2022-05-26 18:59] Forgind commented on #7633
It looks like in the success case, we're passing on extra parameter to the csc task:
obj\Debug\netstandard2.0\NuGet\D219894B6304F8B67F0125410EAFB780514626B1\StackTraceParser.Source\1.3.1\StackTraceParser/StackTraceParser.cs

Looking at [roslyn/Microsoft.CSharp.Core.targets at 079474b518dc3684408b1d3f848113d901b0b0c9 · dotnet/roslyn (github.com)](https://github.com/dotnet/roslyn/blob/079474b518dc36

[2022-05-26 19:00] Forgind commented on #7633
Great repro, by the way, @alexandersorokin. Very helpful in pointing me to the underlying issue.

[2022-05-26 19:53] yuehuang010 commented on #7653
Do you have a specific example in mind?  Is the "[graph](https://github.com/dotnet/msbuild/blob/main/documentation/specs/static-graph.md)" feature what you are describing?

I think the fundamental issue is that once a project is loaded onto a node, it sticks to that node.  Overall this isn't an major issue because the tasks on nodes can "yield" or context switch to other projects.  Long running ta

[2022-05-26 20:41] NickCraver opened #7654 "New diagnostic proposal: erroring on CopyToOutputDirectory="Always""
One of the common pain points I've hit is builds re-running when they don't need to and a leading cause of this is `CopyToOutputDirectory="Always"` set somewhere on a Compile/None/EmbeddedResource/etc.

These are already collected up in `GetCopyToOutputDirectoryItems` so I propose we add a diagnostic (opt-in) to let people error on this in the base SDK (`Microsoft.CurrentVersion.targets`). Here's

[2022-05-26 20:52] rainersigwald commented on #7654
I support this: `CopyAlways` is a footgun.

The error message actually might be a bit annoying, because it should ideally be localized. SDK has a task to emit localized errors, but core MSBuild doesn't at the moment. That might drive the implementation into the Copy task, maybe?

Also cc @drewnoakes, who recently made this less bad for IDE-driven builds on SDK-style projects in https://github.com/

[2022-05-26 21:37] baronfel commented on #7654
Independently of the opt-in property, we could talk about a time frame to opt this on by default in the SDK, and/or to tie this into the much-anticipated 'strict mode'.  It might also be necessary to override the logic on an item by item basis (e.g. some kind of documented `AllowCopyAlways="true"` metadata that also gets checked here). I think this is a better alternative than marking the entire c

[2022-05-26 23:29] adcloeshelle commented on #7637
For example, if I add CryptSharpOfficial 2.1.0 to ClassLibraryStandard from my Sample Project above, I get the following warning:

ClassLibraryStandard.csproj : warning NU1701: Package 'CryptSharpOfficial 2.1.0' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,Versio

[2022-05-26 23:55] Forgind commented on #7637
Little tricky, but it's perfectly fine to reference a .NET Framework library from a .NET 6 library. We don't guarantee that it will work 100% of the time, hence the warning you saw, but it should work for most cases, so it would just hurt people to make it fully illegal. Thanks for proactively reaching out!

[2022-05-26 23:55] #7637 closed

[2022-05-26 23:57] adcloeshelle commented on #7637
Any reason for showing a warning for NuGet packages but no warning for normal project references? I'd love a warning that we could turn into an error for project references for our solution.

[2022-05-27 02:46] tig commented on #5311
I have this same issue with `Terminal.Gui.

https://github.com/migueldeicaza/gui.cs/

<img width="957" alt="image" src="https://user-images.githubusercontent.com/585482/170618773-9fd13a70-b786-4262-8a64-567a4d4535ad.png">

[code]

I've also tried (no `.git` at end):

[code]

I've scoured all the linked issues and tried a bunch of things, but no joy.

[2022-05-27 15:36] rainersigwald commented on #1992
Dependencies are likely radically different now, so I'm going to close "hopefully fixed at some point in the last 5 years".

[2022-05-27 15:36] #1992 closed

[2022-05-27 19:29] dakersnar commented on #7643
Update: this issue persists in preview5, specifically '7.0.100-preview.5.22276.3'.

[2022-05-27 22:04] JVimes commented on #1857
Regarding NuGetPackageFolders vs NuGetPackageRoot, they are different values for me.

NuGetPackageFolders:

    C:\Users\FooUser\.nuget\packages\;C:\Program Files (x86)\Microsoft Visual Studio\Shared\NuGetPackages

NuGetPackageRoot:

    C:\Users\FooUser\.nuget\packages\

[2022-05-27 22:32] ghogen opened #7656 "TreatAsLocalProperty doesn't work for SDK-style projects"
Copied from doc issue https://github.com/MicrosoftDocs/visualstudio-docs/issues/6274 entered by @stpatrick2016:

When running msbuild from the command line and specifying property with -p, it overrides project properties. It is possible to cancel such behavior by setting TreatAsLocalProperty. It works correctly with the old csproj format but seems has no effect on projects with the new SDK format.

[2022-05-28 12:49] airbreather commented on #6788
https://docs.microsoft.com/en-us/visualstudio/msbuild/signfile-task now says this (MicrosoftDocs/visualstudio-docs#8038).

[2022-05-29 16:21] DoctorVanGogh opened #7657 "MsBuild 17.2.1.25201 - ProduceReferenceAssembly not actually producing reference assembly"
### Issue Description
msbuild 17.2.1+ seems to no longer output reference assemblies into `refs`

### Steps to Reproduce
1. Have a minimal project (C# console project will do fine)
2. Add `<ProduceReferenceAssembly>true</ProduceReferenceAssembly>` to project
3. Invoke msbuild (either via command line or from visual studio)

Sample project:
[RefAssemblyDemo.zip](https://github.com/dotnet/msbuild/fi

[2022-05-29 16:26] baronfel commented on #7657
It sounds like you're hitting this [breaking change](https://docs.microsoft.com/en-us/dotnet/core/compatibility/sdk/6.0/write-reference-assemblies-to-obj) that we documented for .NET SDK 6.0.200 (which I believe maps to MSBuild 17.1). Can you take a look at that documentation and see if that fixes it for you?

[2022-05-29 16:39] DoctorVanGogh commented on #7657
Using `ProduceReferenceAssemblyInOutDir` as described in https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props#producereferenceassemblyinoutdir indeed restores the expected (old) behaviour.

It also maintains backwards compatibility with older msbuild (or Visual Studio) versions.

Thank you for that blazingly quick triage.

[2022-05-29 16:39] #7657 closed

[2022-05-30 06:14] vdanche opened #7662 "With VS 16.9.22 installed, Warning MSB3101: Could not write state file "obj\Debug\net*\a.csprojAssemblyReference.cache". ... display when building 3.1/5.0 project in CLI."
Environment:
**VS 16.9.22 VAL --16.9.22[32527.80.d16.9]**

Steps to reproduce:
dotnet new console in CLI
dotnet build

Expected Result:
Build successfully without any warning and error.

Actual Result:
Build successfully but below **warning display**

![image](https://user-images.githubusercontent.com/65637796/170928199-03bf0512-5bef-48b4-928d-5499108c6b6a.png)

dotnet --info:
.NET SDK (reflecting

[2022-05-30 06:50] tmds commented on #7575
@baronfel have you made some progress?

[2022-05-30 12:03] #7646 closed

[2022-05-30 14:11] rokonec opened #7658 "MSBuild server needs to know Client Console configuration"
In order to properly wrap console output at Windows Server needs to know Client console abilities and properties.
Such has to be collected at Client and sent to server in `BuildRequest` command.

Required tests:
- Verify logger outputs are same for Server and former executions for basic use cases of standard console, > file.redirect, /flp.
- Manual
   - Linux redirect
   - Windows replay binlog

[2022-05-30 22:09] drewnoakes commented on #7654
For the change in VS (https://github.com/dotnet/project-system/pull/7963), we were motivated to avoid calling MSBuild altogether.

Given here we're already running an MSBuild build, I'd like to understand what causes the perf impact for copy-always items.

If it's that the copy touches the destination's timestamp, and that can then trigger downstream work that would otherwise be avoidable, then pe

[2022-05-30 23:00] NickCraver commented on #7654
@drewnoakes The perf issue is that is triggers a re-run of targets that could be skipped - yep. If a root level project has this for example, all downstream projects will be re-built instead of targets skipped as up to date. I think `CopyToOutputDirectory="IfDifferent"` or some such is totally valid, but of much greater scope to implement. I agree with the use case, but also in _most_ projects you

[2022-05-31 04:06] drewnoakes commented on #7654
Could MSBuild just treat `Always` as `IfDifferent`? This should address the perf issue without breaking the only known use case for `Always` I've seen.

"Fixing" this would be less friction for the user than a warning, if it's safe for us to change the behaviour. We're generally more willing to favour performance over correctness in VS than in MSBuild, hence making the change in VS first. Since sh

[2022-05-31 10:53] amandal1810 commented on #7331
Is there some known hack that could give me both the list of aliased cultures and non-aliased cultures? Using a union of these two lists might work to avoid this breaking change.

[2022-05-31 11:57] yfilipov commented on #6357
Hi, I have been following this issue for a while, because it is causing very serious impediments at our company.

We have created a Builder CLI for our projects that is heavily reliant on the `MsBuild` executable. However, we cannot upgrade our Builder to `.NET 6` because of this issue, and it is coming from the `Nuget.Build.Tasks.dll` that is shipped with the latest version of the `dotnet` SDK. M

[2022-05-31 14:56] rainersigwald commented on #7654
We definitely can. The existing targets explicitly disable the `Copy` tasks's built-in support for that with a comment that I find . . . unconvincing

https://github.com/dotnet/msbuild/blob/f1dae6ab690483458d37b8900f1d1e4a5fc72851/src/Tasks/Microsoft.Common.CurrentVersion.targets#L5125-L5131

Spelunking through ancient history, this has been there since `2004-12-23 17:43:33`, in a commit entitled

[2022-05-31 16:52] tarekgh commented on #7331
I don't think there is a hack for that. I am wondering why you don't localize with language tags like `zh-Hans` and `zh-Hant` which should cover all Chinese cultures Simplified and Traditional cases?

[2022-05-31 17:18] baronfel commented on #7575
@tmds we're in conversation with legal now, @richlander had some very helpful contacts there.

[2022-05-31 17:45] Eilon commented on #7455
Hi everyone, great news! I have run some training on the MSBuild repo and you can try to "manual" mode using Hubbup (a site I built) for applying labels based on the best predictions: https://hubbup.io/miklabel/MSBuild (sign in with GitHub). Here's what it looks like:

<img width="992" alt="image" src="https://user-images.githubusercontent.com/202643/171246621-ba48a6f7-97dc-4131-8968-ecb36b492756.

[2022-05-31 20:50] tmds commented on #7575
Great! Yes, you can assign this to me.

[2022-06-01 04:32] Bosch-Eli-Black commented on #7640
@BenVillalobos Thanks for the reply! 🙂

I just gave `CopyLocalLockFileAssemblies` a shot. When building from the command-line, everything works fine, but when I open my project in Visual Studio, the generator crashes with this error:

[code]

Here's an example project that reproduces the issue: https://github.com/Bosch-Eli-Black/source-generator-example

I'm using VS 17.3.0 Preview 1.1

Is this so

[2022-06-01 19:29] KirillOsenkov opened #7665 "Items returned by tasks not considered for EmbedInBinlog"
I'd expect this to embed `C:\temp\1.txt` into the binlog, but it doesn't:

[code]

As a workaround to fix this, also need to add an explicit ItemGroup:
[code]

I think this line:
https://github.com/dotnet/msbuild/blob/f1dae6ab690483458d37b8900f1d1e4a5fc72851/src/Build/Logging/BinaryLogger/BuildEventArgsWriter.cs#L521

should also allow for `TaskParameterMessageKind.TaskOutput`

[2022-06-01 22:29] MeikTranel commented on #7665
Well good news is @KirillOsenkov was absolutely right it really just way that TaskOutput that needed to be added to the filter.

![image](https://user-images.githubusercontent.com/6466560/171508233-ddb90d2b-2bbf-49a2-89c7-5e119c36ff60.png)

On the more bad news side i'm having trouble writing a test for this one and i really think the binary log deserves some love there (only a single test confirm

[2022-06-02 00:38] KirillOsenkov commented on #7665
could it be we need to set the verbosity to diagnostic inside BuildProjectExpectSuccess?

[2022-06-02 08:27] MeikTranel commented on #7665
I already tried setting `BinaryLogger.Verbosity` to `Diagnostic` to no avail - is there another verbosity setting somewhere i'm missing? I'm also not sure which of the APIs i'm supposed to use for running a simple project build with a binarylogger attached that i can parse for events later on. Maybe @rainersigwald has some guidance?

[2022-06-02 14:13] MeikTranel commented on #7665
Jesus somebody is pretty petty under that issue - how did they manage to link 1500 PRs to that issue :D:D

Have you looked at the problem regarding tests and binary logs ? Wanted to give it another look after work today.

Make sure to expand the spoiler section: https://github.com/dotnet/msbuild/issues/7665#issuecomment-1144206481

[2022-06-02 16:05] robvdnieuw commented on #7622
With Visual Studio 2022 update 17.2.3 installed we get the same error when calling
C:\Program Files\Microsoft Visual Studio\2022\professional\MSBuild\Current\Bin\msbuild.exe /v:diag

When we change to /v:d it works.

[2022-06-03 09:35] NMertsch opened #7671 "Task XslTransformation: How to specify XmlSpace.Preserve?"
### Issue Description
The MSBuild Task XslTransformation ([docs](https://docs.microsoft.com/en-us/visualstudio/msbuild/xsltransformation-task?view=vs-2022), [source](https://github.com/dotnet/msbuild/blob/main/src/Tasks/XslTransformation.cs)) always loads the provided XSLT file with `XmlSpace.Default`. I would like to use `XmlSpace.Preserve` instead.

### Steps to Reproduce
See [this project](http

[2022-06-03 10:36] lonix1 commented on #3468
Anyone have a workaround?

[2022-06-03 11:04] FlorianRappl commented on #3468
Yes @lonix1

Instead of using the inbuilt task(s) you can create your own task and use this one instead. Advantage here is that you can potentially customize / improve the flow even more. Disadvantage is the additional maintenance and complexity.

[2022-06-03 21:56] Forgind commented on #7287
Was this fixed at some point? I made a new Maui app in the internal preview version of VS and saw lots of successful builds:
<img width="1079" alt="image" src="https://user-images.githubusercontent.com/12969783/171959305-a75563f7-469f-4310-ad2f-6c1d6e541d33.png">

[2022-06-03 22:23] jonathanpeppers commented on #7287
@Forgind yes, it's possible that some of the work @tmeschter did recently fixed this. Related to: https://github.com/dotnet/maui/pull/6681

So maybe we don't have a repro for this problem anymore?

[2022-06-04 00:00] JVimes commented on #471
Unfortunately, `%3B` does not get split into items in an ItemGroup like a normal semicolon (even though it appears like one).

Workaround for PowerShell seems to be:

    /p:Param=\`"Hello`;World\`"

(slash and backtick before quotes, backtick before semicolon)

[2022-06-04 02:06] iskiselev opened #7675 "WithMetadataValue does not accept batching argument"
### Issue Description
WithMetadataValue item function does not return anything when parameter is from batch

### Steps to Reproduce
[code]
### Expected Behavior
Two warnings with matching ItemA in each:
[code]
### Actual Behavior
Two empty warnings:
[code]

### Analysis
In most case there is a way to workaround the issue using few temporary ItemGroups and different way of batching.

[2022-06-04 15:59] richlander commented on #5024
.NET is OSS per the MIT license we use.

The Windows distribution carries binaries from a variety of sources that are not OSS. This is clarified in this notice: https://github.com/dotnet/core/blob/main/license-information-windows.md.

We have no plans to change this situation. The macOS and Linux builds will remain as they are and the Windows build will continue to include non-OSS components.

We'

[2022-06-05 19:01] #5696 closed

[2022-06-06 03:06] jianyexi opened #7676 "How can we clear the caches of last build"
I have a custom msbuild target which can generate some cs files  from `.cadl` files and the generated files will be added to the compiler so that it can be compiled.  But every time, the code generation will clear the last generated files, due to the compiler caches , if some generated files in last build were renamed or deleted in current build, the compiler will report "some files not found", ho

[2022-06-06 03:18] jianyexi commented on #7676
In addition, we are using '<Project Sdk="Microsoft.NET.Sdk.Web">' and custom build target

[2022-06-06 08:48] vdanche commented on #7662
Fixed on VS 16.9.22[32531.387.d16.9] with June 5.0 SDK inserted.

[2022-06-06 08:48] #7662 closed

[2022-06-06 13:27] novelhawk opened #7678 "CopyToOutputDirectory does not copy generated file"
### Issue Description

I have some configuration files set as `CopyToOutputDirectory = PreserveNewest`, I also have a target ("CopyDefaultConfiguration") that should run before the CopyToOutputDirectory  as it verifies that the file exists and otherwise it copies `filename.default` into `filename`.

I'm having problems generating the file before the copy is executed. I've found that if I set "Tage

[2022-06-06 15:11] #7336 closed

[2022-06-06 18:43] bouchraRekhadda opened #7679 "Unable to use Microsoft.Build.* 17.2.0 packages with .NET Core 3.1"
### Product Version

MSBuild `17.2.1.25201`

### Worked before?

Yes with MSBuild `16.11.2.50704`

### Repro Steps & Context

Sample reproduction project:
[code]
Building using `MSBuild.exe` : `"C:\Program Files\Microsoft Visual Studio\2022\Professional\Msbuild\Current\Bin\MSBuild.exe" ConsoleApp2.csproj /t:restore /v:m` generate **NU1701** warning

### Ask us questions
This issue was originally o

[2022-06-06 18:53] rainersigwald commented on #7679
Are you saying you want an error instead of the warning?

[2022-06-06 22:14] Forgind commented on #7576
I think comm traces would be useful in figuring this out. Any chance you could grab some from one of the tests, preferably EscapedWildcardsShouldNotBeExpanded_InTaskHost? That would mean setting `MSBUILDDEBUGCOMM` to 1 and `MSBUILDDEBUGPATH` to somewhere you can find at the start of the test. If you do it with using (TestEnvironment...), make sure to break before it exits so the traces are still t

[2022-06-06 22:31] AArnott commented on #6054
@rainersigwald Was this fixed or closed as won't fix? The PR that @Forgind linked to above doesn't address this.

[2022-06-06 22:36] AArnott commented on #6054
FWIW @Forgind's PR does provide a workaround that's acceptable. This issue just represents the unintuitive experience when you don't know about those property functions where msbuild recognizes integers and a.b.c.d versions automatically but doesn't recognize floating point numbers. So while IMO this would ideally be fixed, I'm not blocked and you can Won't Fix if you want.

[2022-06-07 03:26] lonix1 commented on #3468
Thanks for that nice workaround, I'm going to try it!

Agreed. This is a nasty bug. Who doesn't use linux for devops these days? Every time I encounter this bug, I resort to some hacky workaround. And scripts often fail and it takes me ages to debug the problem.

Please attend to this, it's really a big one. Thanks!

[2022-06-07 06:31] sude22 commented on #7587
It would be very welcome if this error would be investigated.
Currently it is not possible to deloy a WinUI3 App unpacked as SingleFile via CI/DevOps.
Neither with msbuild nor with dotnet publish.

[2022-06-07 06:37] sude22 commented on #7452
It would be very welcome if this error would be investigated.
Currently it is not possible to deloy a WinUI3 App unpacked as SingleFile via CI/DevOps.
Neither with msbuild nor with dotnet publish.

[2022-06-07 06:43] 13750573877 opened #7681 "MSB6004 Missing "ProgramW6432" environment variable on 32-bit systems"
On 32-bit systems use:
dotnet msbuild WebApplication1.csproj -t:publish /p:PublishProfile=IISProfile

Output error:
C:\Program Files\dotnet\sdk\6.0.300\Sdks\Microsoft.Net.Sdk.Publish\targets\PublishTargets\Microsoft.NET.Sdk.Publish.MSDeploy.targets(171,5): error MSB6004: The specified task executable location "%ProgramW6432%\IIS\Microsoft Web Deploy V3\msdeploy.exe" is invalid.

The system has ins

[2022-06-07 08:09] bouchraRekhadda commented on #7679
No. Is there a way to workaround this other than upgrading to .NET 6 or mute the warning ? I would have imagined the packages `Microsoft.Build.*` list all compatible TFM in their nuspec

[2022-06-07 09:01] Imperfectwow opened #7682 "exit code -1 thrown when got "error" or "warning" word in the end of the test title."
### Issue Description
We run our test in CI using msbuld.exe and PowerShell script that triggers the UITest we use the Playwright test framework.
we found an issue when the word "error" or "warning" was present at the end of the test title. we exit with error code -1 which is failing our job in Gitlab CI.

### Steps to Reproduce

in order to reproduce the issue attached two files.
1. run command `

[2022-06-07 14:26] rainersigwald commented on #6054
The thing is there's code to do floating point numbers:

https://github.com/dotnet/msbuild/blob/1c045cf58dcb0d2f0474364550eeab37877257a1/src/Build/Evaluation/Conditionals/GreaterThanExpressionNode.cs#L20-L23

So if it's not being used that's a problem.

[2022-06-07 14:33] rainersigwald commented on #7452
@sude22 can you please file a new issue describing your problems in that scenario when using `msbuild.exe` to build? If that's not working, this issue doesn't track the fix.

[2022-06-07 14:44] rainersigwald commented on #7679
Newer versions of MSBuild only run on newer .NET runtimes, so if you want to target the latest MSBuild, you'll have to update your target framework.

[2022-06-07 15:52] AR-May commented on #7549
Discussed adopting the RequiresPreviewFeatures attribute online. Resolution: Nothing prevents us to have it for .NET Core version, so let's do it. However, we target .NET Framework as well and for attribute to work properly there (i.e. analyzer is triggered) we would need to introduce additional NuGet dependency on the analyzer package. That does not seem a good option at the moment. So, better to

[2022-06-07 15:55] AR-May opened #7684 "Make MSBuild client API experimental"
Make the public MSBuild client API experimental, according to issue #7549

[2022-06-07 16:07] #7459 closed

[2022-06-07 16:46] rainersigwald commented on #7620
It looks like we have not shipped a `netstandard` version of `Microsoft.Build` since at least 16.9, so this may not be needed.

[2022-06-07 16:58] BenVillalobos commented on #7678
Hey! I did a quick writeup on why this is happening, and a solution for this scenario. Let me know if this helps, and if anything could be clearer.

https://gist.github.com/BenVillalobos/c671baa1e32127f4ab582a5abd66b005

[2022-06-08 10:55] novelhawk commented on #7678
I see. Thanks.

[2022-06-08 10:55] #7678 closed

[2022-06-08 12:04] TomcatBB commented on #7617
We are also running into this issue. Hope MS will fix this soon.

[2022-06-08 16:52] Forgind commented on #703
If you use a glob with ** somewhere that references a symlink, we follow that symlink. If that symlink points to a directory above itself, we check all the directories under that, including the same symlink and follow it again and again. I put a fix into FileMatcher.GetFilesRecursive in #7685 that uses an API only introduced in NET6.0, so it's imperfect. It also needs to avoid impairing performanc

[2022-06-08 17:51] jrdodds commented on #7576
@Forgind Yes I can try to capture traces for this issue.

[2022-06-08 21:04] Nirmal4G commented on #7528
@BenVillalobos Yep, that's a start.

[2022-06-08 21:11] Nirmal4G commented on #7438
A better solution would be to use `Platforms`/`Platform` similar to what MSBuild repo uses.

[2022-06-08 21:11] Nirmal4G commented on #7438
@Arlodotexe

[2022-06-08 22:16] michael-hawker commented on #7438
@BenVillalobos is this enough info from Arlo or are you looking for more?

[2022-06-09 00:58] kelicto commented on #7691
NET Framework traditional project documentation structure description file, not some new structure type of documentation. You can create a normal project type like console and I think you can see the problem.

[2022-06-09 08:50] fivigh commented on #7088
I'd like to create a PR for this, can you please assign the issue to me?

[2022-06-09 15:53] jeromelaban opened #7693 "Support disabling node reuse with an msbuild property"
### Issue Description
When developing tasks and testing those in the same solution, msbuild reused nodes lock the output of file in the original task's project output location.

The only known way to avoid this is to have `/nr:false`, but doing so from visual studio does not seem possible.

Would it be possible to have an msbuild property to disable the node reuse for the "current" node (whatever